{
  "openapi": "3.0.0",
  "info": {
    "title": "Google Docs API",
    "version": "v1",
    "description": "Reads and writes Google Docs documents. OpenAPI 3.0 definition generated from the official Google API Discovery document (revision 20260909)."
  },
  "externalDocs": {
    "description": "Google Docs API reference",
    "url": "https://developers.google.com/workspace/docs/"
  },
  "servers": [
    {
      "url": "https://docs.googleapis.com/"
    }
  ],
  "paths": {
    "/v1/documents/{documentId}": {
      "get": {
        "tags": ["documents"],
        "operationId": "docs.documents.get",
        "description": "Gets the latest version of the specified document.",
        "parameters": [
          {
            "name": "includeTabsContent",
            "in": "query",
            "description": "Whether to populate the `Document.tabs` field instead of the text content fields like `body` and `documentStyle` on `Document`. - When `true`: Document content populates in the `Document.tabs` field instead of the text content fields in `Document`. - When `false`: The content of the document's first tab populates the content fields in `Document` excluding `Document.tabs`. If a document has only one tab, then that tab is used to populate the document content. `Document.tabs` will be empty. If you use a field mask that references the `Document.tabs` field (or any subfield), the API implicitly treats the request as if you set `include_tabs_content` to `true`.",
            "schema": {
              "type": "boolean",
              "description": "Whether to populate the `Document.tabs` field instead of the text content fields like `body` and `documentStyle` on `Document`. - When `true`: Document content populates in the `Document.tabs` field instead of the text content fields in `Document`. - When `false`: The content of the document's first tab populates the content fields in `Document` excluding `Document.tabs`. If a document has only one tab, then that tab is used to populate the document content. `Document.tabs` will be empty. If you use a field mask that references the `Document.tabs` field (or any subfield), the API implicitly treats the request as if you set `include_tabs_content` to `true`."
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "description": "The ID of the document to retrieve.",
            "schema": {
              "type": "string",
              "description": "The ID of the document to retrieve."
            },
            "required": true
          },
          {
            "name": "suggestionsViewMode",
            "in": "query",
            "description": "The suggestions view mode to apply to the document. This allows viewing the document with all suggestions inline, accepted or rejected. If one is not specified, DEFAULT_FOR_CURRENT_ACCESS is used.",
            "schema": {
              "type": "string",
              "description": "The suggestions view mode to apply to the document. This allows viewing the document with all suggestions inline, accepted or rejected. If one is not specified, DEFAULT_FOR_CURRENT_ACCESS is used.",
              "enum": [
                "DEFAULT_FOR_CURRENT_ACCESS",
                "SUGGESTIONS_INLINE",
                "PREVIEW_SUGGESTIONS_ACCEPTED",
                "PREVIEW_WITHOUT_SUGGESTIONS"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/documents",
              "https://www.googleapis.com/auth/documents.readonly",
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ]
      }
    },
    "/v1/documents/{documentId}:batchUpdate": {
      "post": {
        "tags": ["documents"],
        "operationId": "docs.documents.batchUpdate",
        "description": "Applies one or more updates to the document. Each request is validated before being applied. If any request is not valid, then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. Other requests do not need to return information; these each return an empty reply. The order of replies matches that of the requests. For example, suppose you call batchUpdate with four updates, and only the third one returns information. The response would have two empty replies, the reply to the third request, and another empty reply, in that order. Because other users may be editing the document, the document might not exactly reflect your changes: your changes may be altered with respect to collaborator changes. If there are no collaborators, the document should reflect your changes. In any case, the updates in your request are guaranteed to be applied together atomically.",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "description": "The ID of the document to update.",
            "schema": {
              "type": "string",
              "description": "The ID of the document to update."
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchUpdateDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUpdateDocumentResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/documents",
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ]
      }
    },
    "/v1/documents": {
      "post": {
        "tags": ["documents"],
        "operationId": "docs.documents.create",
        "description": "Creates a blank document using the title given in the request. Other fields in the request, including any provided content, are ignored. Returns the created document.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Document"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/documents",
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "PersonProperties": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "The email address linked to this Person. This field is always present."
          },
          "name": {
            "type": "string",
            "description": "The name of the person if it's displayed in the link text instead of the person's email address."
          }
        },
        "description": "Properties specific to a linked Person."
      },
      "PositionedObjectPropertiesSuggestionState": {
        "type": "object",
        "properties": {
          "embeddedObjectSuggestionState": {
            "$ref": "#/components/schemas/EmbeddedObjectSuggestionState"
          },
          "positioningSuggestionState": {
            "$ref": "#/components/schemas/PositionedObjectPositioningSuggestionState"
          }
        },
        "description": "A mask that indicates which of the fields on the base PositionedObjectProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
      },
      "HeadingLink": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of a heading in this document."
          },
          "tabId": {
            "type": "string",
            "description": "The ID of the tab containing this heading."
          }
        },
        "description": "A reference to a heading in this document."
      },
      "NestingLevel": {
        "type": "object",
        "properties": {
          "textStyle": {
            "$ref": "#/components/schemas/TextStyle"
          },
          "glyphFormat": {
            "type": "string",
            "description": "The format string used by bullets at this level of nesting. The glyph format contains one or more placeholders, and these placeholders are replaced with the appropriate values depending on the glyph_type or glyph_symbol. The placeholders follow the pattern `%[nesting_level]`. Furthermore, placeholders can have prefixes and suffixes. Thus, the glyph format follows the pattern `%[nesting_level]`. Note that the prefix and suffix are optional and can be arbitrary strings. For example, the glyph format `%0.` indicates that the rendered glyph will replace the placeholder with the corresponding glyph for nesting level 0 followed by a period as the suffix. So a list with a glyph type of UPPER_ALPHA and glyph format `%0.` at nesting level 0 will result in a list with rendered glyphs `A.` `B.` `C.` The glyph format can contain placeholders for the current nesting level as well as placeholders for parent nesting levels. For example, a list can have a glyph format of `%0.` at nesting level 0 and a glyph format of `%0.%1.` at nesting level 1. Assuming both nesting levels have DECIMAL glyph types, this would result in a list with rendered glyphs `1.` `2.` ` 2.1.` ` 2.2.` `3.` For nesting levels that are ordered, the string that replaces a placeholder in the glyph format for a particular paragraph depends on the paragraph's order within the list."
          },
          "startNumber": {
            "type": "integer",
            "format": "int32",
            "description": "The number of the first list item at this nesting level. A value of 0 is treated as a value of 1 for lettered lists and Roman numeral lists. For values of both 0 and 1, lettered and Roman numeral lists will begin at `a` and `i` respectively. This value is ignored for nesting levels with unordered glyphs."
          },
          "glyphSymbol": {
            "type": "string",
            "description": "A custom glyph symbol used by bullets when paragraphs at this level of nesting is unordered. The glyph symbol replaces placeholders within the glyph_format. For example, if the glyph_symbol is the solid circle corresponding to Unicode U+25cf code point and the glyph_format is `%0`, the rendered glyph would be the solid circle."
          },
          "indentStart": {
            "$ref": "#/components/schemas/Dimension"
          },
          "glyphType": {
            "type": "string",
            "description": "The type of glyph used by bullets when paragraphs at this level of nesting is ordered. The glyph type determines the type of glyph used to replace placeholders within the glyph_format when paragraphs at this level of nesting are ordered. For example, if the nesting level is 0, the glyph_format is `%0.` and the glyph type is DECIMAL, then the rendered glyph would replace the placeholder `%0` in the glyph format with a number corresponding to the list item's order within the list.",
            "enum": [
              "GLYPH_TYPE_UNSPECIFIED",
              "NONE",
              "DECIMAL",
              "ZERO_DECIMAL",
              "UPPER_ALPHA",
              "ALPHA",
              "UPPER_ROMAN",
              "ROMAN"
            ]
          },
          "bulletAlignment": {
            "type": "string",
            "description": "The alignment of the bullet within the space allotted for rendering the bullet.",
            "enum": ["BULLET_ALIGNMENT_UNSPECIFIED", "START", "CENTER", "END"]
          },
          "indentFirstLine": {
            "$ref": "#/components/schemas/Dimension"
          }
        },
        "description": "Contains properties describing the look and feel of a list bullet at a given level of nesting."
      },
      "TableRange": {
        "type": "object",
        "properties": {
          "tableCellLocation": {
            "$ref": "#/components/schemas/TableCellLocation"
          },
          "columnSpan": {
            "type": "integer",
            "format": "int32",
            "description": "The column span of the table range."
          },
          "rowSpan": {
            "type": "integer",
            "format": "int32",
            "description": "The row span of the table range."
          }
        },
        "description": "A table range represents a reference to a subset of a table. It's important to note that the cells specified by a table range do not necessarily form a rectangle. For example, let's say we have a 3 x 3 table where all the cells of the last row are merged together. The table looks like this: [ ] A table range with table cell location = (table_start_location, row = 0, column = 0), row span = 3 and column span = 2 specifies the following cells: x x [ x x x ]"
      },
      "TableColumnProperties": {
        "type": "object",
        "properties": {
          "width": {
            "$ref": "#/components/schemas/Dimension"
          },
          "widthType": {
            "type": "string",
            "description": "The width type of the column.",
            "enum": [
              "WIDTH_TYPE_UNSPECIFIED",
              "EVENLY_DISTRIBUTED",
              "FIXED_WIDTH"
            ]
          }
        },
        "description": "The properties of a column in a table."
      },
      "Footer": {
        "type": "object",
        "properties": {
          "footerId": {
            "type": "string",
            "description": "The ID of the footer."
          },
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StructuralElement"
            },
            "description": "The contents of the footer. The indexes for a footer's content begin at zero."
          }
        },
        "description": "A document footer."
      },
      "ParagraphElement": {
        "type": "object",
        "properties": {
          "columnBreak": {
            "$ref": "#/components/schemas/ColumnBreak"
          },
          "person": {
            "$ref": "#/components/schemas/Person"
          },
          "richLink": {
            "$ref": "#/components/schemas/RichLink"
          },
          "dateElement": {
            "$ref": "#/components/schemas/DateElement"
          },
          "inlineObjectElement": {
            "$ref": "#/components/schemas/InlineObjectElement"
          },
          "endIndex": {
            "type": "integer",
            "format": "int32",
            "description": "The zero-base end index of this paragraph element, exclusive, in UTF-16 code units."
          },
          "startIndex": {
            "type": "integer",
            "format": "int32",
            "description": "The zero-based start index of this paragraph element, in UTF-16 code units."
          },
          "footnoteReference": {
            "$ref": "#/components/schemas/FootnoteReference"
          },
          "pageBreak": {
            "$ref": "#/components/schemas/PageBreak"
          },
          "horizontalRule": {
            "$ref": "#/components/schemas/HorizontalRule"
          },
          "autoText": {
            "$ref": "#/components/schemas/AutoText"
          },
          "equation": {
            "$ref": "#/components/schemas/Equation"
          },
          "textRun": {
            "$ref": "#/components/schemas/TextRun"
          }
        },
        "description": "A ParagraphElement describes content within a Paragraph."
      },
      "CropPropertiesSuggestionState": {
        "type": "object",
        "properties": {
          "offsetRightSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to offset_right."
          },
          "offsetBottomSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to offset_bottom."
          },
          "angleSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to angle."
          },
          "offsetLeftSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to offset_left."
          },
          "offsetTopSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to offset_top."
          }
        },
        "description": "A mask that indicates which of the fields on the base CropProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
      },
      "SheetsChartReference": {
        "type": "object",
        "properties": {
          "spreadsheetId": {
            "type": "string",
            "description": "The ID of the Google Sheets spreadsheet that contains the source chart."
          },
          "chartId": {
            "type": "integer",
            "format": "int32",
            "description": "The ID of the specific chart in the Google Sheets spreadsheet that's embedded."
          }
        },
        "description": "A reference to a linked chart embedded from Google Sheets."
      },
      "ImagePropertiesSuggestionState": {
        "type": "object",
        "properties": {
          "angleSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to angle."
          },
          "brightnessSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to brightness."
          },
          "transparencySuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to transparency."
          },
          "cropPropertiesSuggestionState": {
            "$ref": "#/components/schemas/CropPropertiesSuggestionState"
          },
          "contentUriSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to content_uri."
          },
          "contrastSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to contrast."
          },
          "sourceUriSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to source_uri."
          }
        },
        "description": "A mask that indicates which of the fields on the base ImageProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
      },
      "UpdateTableColumnPropertiesRequest": {
        "type": "object",
        "properties": {
          "tableColumnProperties": {
            "$ref": "#/components/schemas/TableColumnProperties"
          },
          "tableStartLocation": {
            "$ref": "#/components/schemas/Location"
          },
          "fields": {
            "type": "string",
            "format": "google-fieldmask",
            "description": "The fields that should be updated. At least one field must be specified. The root `tableColumnProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the column width, set `fields` to `\"width\"`."
          },
          "columnIndices": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The list of zero-based column indices whose property should be updated. If no indices are specified, all columns will be updated."
          }
        },
        "description": "Updates the TableColumnProperties of columns in a table."
      },
      "NamedStyles": {
        "type": "object",
        "properties": {
          "styles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NamedStyle"
            },
            "description": "The named styles. There's an entry for each of the possible named style types."
          }
        },
        "description": "The named styles. Paragraphs in the document can inherit their TextStyle and ParagraphStyle from these named styles."
      },
      "UpdateDocumentStyleRequest": {
        "type": "object",
        "properties": {
          "fields": {
            "type": "string",
            "format": "google-fieldmask",
            "description": "The fields that should be updated. At least one field must be specified. The root `document_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the background, set `fields` to `\"background\"`."
          },
          "tabId": {
            "type": "string",
            "description": "The tab that contains the style to update. When omitted, the request applies to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If not provided, the request applies to the first tab in the document."
          },
          "documentStyle": {
            "$ref": "#/components/schemas/DocumentStyle"
          }
        },
        "description": "Updates the DocumentStyle."
      },
      "HorizontalRule": {
        "type": "object",
        "properties": {
          "suggestedTextStyleChanges": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/SuggestedTextStyle"
            },
            "description": "The suggested text style changes to this HorizontalRule, keyed by suggestion ID."
          },
          "suggestedDeletionIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
          },
          "suggestedInsertionIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The suggested insertion IDs. A HorizontalRule may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion."
          },
          "textStyle": {
            "$ref": "#/components/schemas/TextStyle"
          }
        },
        "description": "A ParagraphElement representing a horizontal line."
      },
      "Response": {
        "type": "object",
        "properties": {
          "replaceAllText": {
            "$ref": "#/components/schemas/ReplaceAllTextResponse"
          },
          "insertInlineImage": {
            "$ref": "#/components/schemas/InsertInlineImageResponse"
          },
          "createNamedRange": {
            "$ref": "#/components/schemas/CreateNamedRangeResponse"
          },
          "createFootnote": {
            "$ref": "#/components/schemas/CreateFootnoteResponse"
          },
          "createFooter": {
            "$ref": "#/components/schemas/CreateFooterResponse"
          },
          "createHeader": {
            "$ref": "#/components/schemas/CreateHeaderResponse"
          },
          "addDocumentTab": {
            "$ref": "#/components/schemas/AddDocumentTabResponse"
          },
          "insertInlineSheetsChart": {
            "$ref": "#/components/schemas/InsertInlineSheetsChartResponse"
          }
        },
        "description": "A single response from an update."
      },
      "DocumentFormat": {
        "type": "object",
        "properties": {
          "documentMode": {
            "type": "string",
            "description": "Whether the document has pages or is pageless.",
            "enum": ["DOCUMENT_MODE_UNSPECIFIED", "PAGES", "PAGELESS"]
          }
        },
        "description": "Represents document-level format settings."
      },
      "Footnote": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StructuralElement"
            },
            "description": "The contents of the footnote. The indexes for a footnote's content begin at zero."
          },
          "footnoteId": {
            "type": "string",
            "description": "The ID of the footnote."
          }
        },
        "description": "A document footnote."
      },
      "ListPropertiesSuggestionState": {
        "type": "object",
        "properties": {
          "nestingLevelsSuggestionStates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NestingLevelSuggestionState"
            },
            "description": "A mask that indicates which of the fields on the corresponding NestingLevel in nesting_levels have been changed in this suggestion. The nesting level suggestion states are returned in ascending order of the nesting level with the least nested returned first."
          }
        },
        "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
      },
      "BatchUpdateDocumentRequest": {
        "type": "object",
        "properties": {
          "requests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Request"
            },
            "description": "A list of updates to apply to the document."
          },
          "writeControl": {
            "$ref": "#/components/schemas/WriteControl"
          }
        },
        "description": "Request message for BatchUpdateDocument."
      },
      "DeleteContentRangeRequest": {
        "type": "object",
        "properties": {
          "range": {
            "$ref": "#/components/schemas/Range"
          }
        },
        "description": "Deletes content from the document."
      },
      "InsertRichLinkRequest": {
        "type": "object",
        "properties": {
          "richLinkProperties": {
            "$ref": "#/components/schemas/RichLinkProperties"
          },
          "endOfSegmentLocation": {
            "$ref": "#/components/schemas/EndOfSegmentLocation"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          }
        },
        "description": "Inserts a RichLink at the specified location."
      },
      "LinkedContentReferenceSuggestionState": {
        "type": "object",
        "properties": {
          "sheetsChartReferenceSuggestionState": {
            "$ref": "#/components/schemas/SheetsChartReferenceSuggestionState"
          }
        },
        "description": "A mask that indicates which of the fields on the base LinkedContentReference have been changed in this suggestion. For any field set to true, there's a new suggested value."
      },
      "Dimension": {
        "type": "object",
        "properties": {
          "magnitude": {
            "type": "number",
            "format": "double",
            "description": "The magnitude."
          },
          "unit": {
            "type": "string",
            "description": "The units for magnitude.",
            "enum": ["UNIT_UNSPECIFIED", "PT"]
          }
        },
        "description": "A magnitude in a single direction in the specified units."
      },
      "UpdateSectionStyleRequest": {
        "type": "object",
        "properties": {
          "range": {
            "$ref": "#/components/schemas/Range"
          },
          "sectionStyle": {
            "$ref": "#/components/schemas/SectionStyle"
          },
          "fields": {
            "type": "string",
            "format": "google-fieldmask",
            "description": "The fields that should be updated. At least one field must be specified. The root `section_style` is implied and must not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the left margin, set `fields` to `\"margin_left\"`."
          }
        },
        "description": "Updates the SectionStyle."
      },
      "ShadingSuggestionState": {
        "type": "object",
        "properties": {
          "backgroundColorSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to the Shading."
          }
        },
        "description": "A mask that indicates which of the fields on the base Shading have been changed in this suggested change. For any field set to true, there's a new suggested value."
      },
      "SuggestedDateElementProperties": {
        "type": "object",
        "properties": {
          "dateElementPropertiesSuggestionState": {
            "$ref": "#/components/schemas/DateElementPropertiesSuggestionState"
          },
          "dateElementProperties": {
            "$ref": "#/components/schemas/DateElementProperties"
          }
        },
        "description": "A suggested change to a DateElementProperties."
      },
      "UnmergeTableCellsRequest": {
        "type": "object",
        "properties": {
          "tableRange": {
            "$ref": "#/components/schemas/TableRange"
          }
        },
        "description": "Unmerges cells in a Table."
      },
      "Range": {
        "type": "object",
        "properties": {
          "segmentId": {
            "type": "string",
            "description": "The ID of the header, footer, or footnote that this range is contained in. An empty segment ID signifies the document's body."
          },
          "startIndex": {
            "type": "integer",
            "format": "int32",
            "description": "The zero-based start index of this range, in UTF-16 code units. In all current uses, a start index must be provided. This field is an Int32Value in order to accommodate future use cases with open-ended ranges."
          },
          "tabId": {
            "type": "string",
            "description": "The tab that contains this range. When omitted, the request applies to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
          },
          "endIndex": {
            "type": "integer",
            "format": "int32",
            "description": "The zero-based end index of this range, exclusive, in UTF-16 code units. In all current uses, an end index must be provided. This field is an Int32Value in order to accommodate future use cases with open-ended ranges."
          }
        },
        "description": "Specifies a contiguous range of text."
      },
      "SubstringMatchCriteria": {
        "type": "object",
        "properties": {
          "searchByRegex": {
            "type": "boolean",
            "description": "Optional. True if the find value should be treated as a regular expression. Any backslashes in the pattern should be escaped. - `True`: the search text is treated as a regular expressions. - `False`: the search text is treated as a substring for matching."
          },
          "matchCase": {
            "type": "boolean",
            "description": "Indicates whether the search should respect case: - `True`: the search is case sensitive. - `False`: the search is case insensitive."
          },
          "text": {
            "type": "string",
            "description": "The text to search for in the document."
          }
        },
        "description": "A criteria that matches a specific string of text in the document."
      },
      "ParagraphStyle": {
        "type": "object",
        "properties": {
          "spacingMode": {
            "type": "string",
            "description": "The spacing mode for the paragraph.",
            "enum": [
              "SPACING_MODE_UNSPECIFIED",
              "NEVER_COLLAPSE",
              "COLLAPSE_LISTS"
            ]
          },
          "keepLinesTogether": {
            "type": "boolean",
            "description": "Whether all lines of the paragraph should be laid out on the same page or column if possible. If unset, the value is inherited from the parent."
          },
          "alignment": {
            "type": "string",
            "description": "The text alignment for this paragraph.",
            "enum": [
              "ALIGNMENT_UNSPECIFIED",
              "START",
              "CENTER",
              "END",
              "JUSTIFIED"
            ]
          },
          "keepWithNext": {
            "type": "boolean",
            "description": "Whether at least a part of this paragraph should be laid out on the same page or column as the next paragraph if possible. If unset, the value is inherited from the parent."
          },
          "namedStyleType": {
            "type": "string",
            "description": "The named style type of the paragraph. Since updating the named style type affects other properties within ParagraphStyle, the named style type is applied before the other properties are updated.",
            "enum": [
              "NAMED_STYLE_TYPE_UNSPECIFIED",
              "NORMAL_TEXT",
              "TITLE",
              "SUBTITLE",
              "HEADING_1",
              "HEADING_2",
              "HEADING_3",
              "HEADING_4",
              "HEADING_5",
              "HEADING_6"
            ]
          },
          "indentFirstLine": {
            "$ref": "#/components/schemas/Dimension"
          },
          "headingId": {
            "type": "string",
            "description": "The heading ID of the paragraph. If empty, then this paragraph is not a heading. This property is read-only."
          },
          "shading": {
            "$ref": "#/components/schemas/Shading"
          },
          "borderLeft": {
            "$ref": "#/components/schemas/ParagraphBorder"
          },
          "direction": {
            "type": "string",
            "description": "The text direction of this paragraph. If unset, the value defaults to LEFT_TO_RIGHT since paragraph direction is not inherited.",
            "enum": [
              "CONTENT_DIRECTION_UNSPECIFIED",
              "LEFT_TO_RIGHT",
              "RIGHT_TO_LEFT"
            ]
          },
          "avoidWidowAndOrphan": {
            "type": "boolean",
            "description": "Whether to avoid widows and orphans for the paragraph. If unset, the value is inherited from the parent."
          },
          "indentStart": {
            "$ref": "#/components/schemas/Dimension"
          },
          "borderBottom": {
            "$ref": "#/components/schemas/ParagraphBorder"
          },
          "spaceAbove": {
            "$ref": "#/components/schemas/Dimension"
          },
          "borderRight": {
            "$ref": "#/components/schemas/ParagraphBorder"
          },
          "borderBetween": {
            "$ref": "#/components/schemas/ParagraphBorder"
          },
          "pageBreakBefore": {
            "type": "boolean",
            "description": "Whether the current paragraph should always start at the beginning of a page. If unset, the value is inherited from the parent. Attempting to update page_break_before for paragraphs in unsupported regions, including Table, Header, Footer and Footnote, can result in an invalid document state that returns a 400 bad request error."
          },
          "lineSpacing": {
            "type": "number",
            "format": "float",
            "description": "The amount of space between lines, as a percentage of normal, where normal is represented as 100.0. If unset, the value is inherited from the parent."
          },
          "borderTop": {
            "$ref": "#/components/schemas/ParagraphBorder"
          },
          "tabStops": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TabStop"
            },
            "description": "A list of the tab stops for this paragraph. The list of tab stops is not inherited. This property is read-only."
          },
          "spaceBelow": {
            "$ref": "#/components/schemas/Dimension"
          },
          "indentEnd": {
            "$ref": "#/components/schemas/Dimension"
          }
        },
        "description": "Styles that apply to a whole paragraph. Inherited paragraph styles are represented as unset fields in this message. A paragraph style's parent depends on where the paragraph style is defined: * The ParagraphStyle on a Paragraph inherits from the paragraph's corresponding named style type. * The ParagraphStyle on a named style inherits from the normal text named style. * The ParagraphStyle of the normal text named style inherits from the default paragraph style in the Docs editor. * The ParagraphStyle on a Paragraph element that's contained in a table may inherit its paragraph style from the table style. If the paragraph style does not inherit from a parent, unsetting fields will revert the style to a value matching the defaults in the Docs editor."
      },
      "SuggestedTextStyle": {
        "type": "object",
        "properties": {
          "textStyle": {
            "$ref": "#/components/schemas/TextStyle"
          },
          "textStyleSuggestionState": {
            "$ref": "#/components/schemas/TextStyleSuggestionState"
          }
        },
        "description": "A suggested change to a TextStyle."
      },
      "CreateHeaderResponse": {
        "type": "object",
        "properties": {
          "headerId": {
            "type": "string",
            "description": "The ID of the created header."
          }
        },
        "description": "The result of creating a header."
      },
      "PositionedObjectProperties": {
        "type": "object",
        "properties": {
          "positioning": {
            "$ref": "#/components/schemas/PositionedObjectPositioning"
          },
          "embeddedObject": {
            "$ref": "#/components/schemas/EmbeddedObject"
          }
        },
        "description": "Properties of a PositionedObject."
      },
      "NestingLevelSuggestionState": {
        "type": "object",
        "properties": {
          "indentStartSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to indent_start."
          },
          "glyphTypeSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to glyph_type."
          },
          "startNumberSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to start_number."
          },
          "glyphFormatSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to glyph_format."
          },
          "indentFirstLineSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to indent_first_line."
          },
          "bulletAlignmentSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to bullet_alignment."
          },
          "textStyleSuggestionState": {
            "$ref": "#/components/schemas/TextStyleSuggestionState"
          },
          "glyphSymbolSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to glyph_symbol."
          }
        },
        "description": "A mask that indicates which of the fields on the base NestingLevel have been changed in this suggestion. For any field set to true, there's a new suggested value."
      },
      "TableRow": {
        "type": "object",
        "properties": {
          "tableRowStyle": {
            "$ref": "#/components/schemas/TableRowStyle"
          },
          "suggestedDeletionIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
          },
          "startIndex": {
            "type": "integer",
            "format": "int32",
            "description": "The zero-based start index of this row, in UTF-16 code units."
          },
          "endIndex": {
            "type": "integer",
            "format": "int32",
            "description": "The zero-based end index of this row, exclusive, in UTF-16 code units."
          },
          "tableCells": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TableCell"
            },
            "description": "The contents and style of each cell in this row. It's possible for a table to be non-rectangular, so some rows may have a different number of cells than other rows in the same table."
          },
          "suggestedTableRowStyleChanges": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/SuggestedTableRowStyle"
            },
            "description": "The suggested style changes to this row, keyed by suggestion ID."
          },
          "suggestedInsertionIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The suggested insertion IDs. A TableRow may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
          }
        },
        "description": "The contents and style of a row in a Table."
      },
      "InsertPageBreakRequest": {
        "type": "object",
        "properties": {
          "endOfSegmentLocation": {
            "$ref": "#/components/schemas/EndOfSegmentLocation"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          }
        },
        "description": "Inserts a page break followed by a newline at the specified location."
      },
      "TextRun": {
        "type": "object",
        "properties": {
          "suggestedInsertionIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The suggested insertion IDs. A TextRun may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
          },
          "suggestedTextStyleChanges": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/SuggestedTextStyle"
            },
            "description": "The suggested text style changes to this run, keyed by suggestion ID."
          },
          "content": {
            "type": "string",
            "description": "The text of this run. Any non-text elements in the run are replaced with the Unicode character U+E907."
          },
          "textStyle": {
            "$ref": "#/components/schemas/TextStyle"
          },
          "suggestedDeletionIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
          }
        },
        "description": "A ParagraphElement that represents a run of text that all has the same styling."
      },
      "CreateFootnoteRequest": {
        "type": "object",
        "properties": {
          "endOfSegmentLocation": {
            "$ref": "#/components/schemas/EndOfSegmentLocation"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          }
        },
        "description": "Creates a Footnote segment and inserts a new FootnoteReference to it at the given location. The new Footnote segment will contain a space followed by a newline character."
      },
      "SuggestedTableRowStyle": {
        "type": "object",
        "properties": {
          "tableRowStyleSuggestionState": {
            "$ref": "#/components/schemas/TableRowStyleSuggestionState"
          },
          "tableRowStyle": {
            "$ref": "#/components/schemas/TableRowStyle"
          }
        },
        "description": "A suggested change to a TableRowStyle."
      },
      "ParagraphStyleSuggestionState": {
        "type": "object",
        "properties": {
          "avoidWidowAndOrphanSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to avoid_widow_and_orphan."
          },
          "borderBetweenSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to border_between."
          },
          "namedStyleTypeSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to named_style_type."
          },
          "spaceAboveSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to space_above."
          },
          "pageBreakBeforeSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to page_break_before."
          },
          "directionSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to direction."
          },
          "shadingSuggestionState": {
            "$ref": "#/components/schemas/ShadingSuggestionState"
          },
          "indentFirstLineSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to indent_first_line."
          },
          "lineSpacingSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to line_spacing."
          },
          "borderLeftSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to border_left."
          },
          "spaceBelowSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to space_below."
          },
          "keepWithNextSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to keep_with_next."
          },
          "indentStartSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to indent_start."
          },
          "indentEndSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to indent_end."
          },
          "headingIdSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to heading_id."
          },
          "borderBottomSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to border_bottom."
          },
          "spacingModeSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to spacing_mode."
          },
          "borderRightSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to border_right."
          },
          "keepLinesTogetherSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to keep_lines_together."
          },
          "borderTopSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to border_top."
          },
          "alignmentSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to alignment."
          }
        },
        "description": "A mask that indicates which of the fields on the base ParagraphStyle have been changed in this suggestion. For any field set to true, there's a new suggested value."
      },
      "PinTableHeaderRowsRequest": {
        "type": "object",
        "properties": {
          "pinnedHeaderRowsCount": {
            "type": "integer",
            "format": "int32",
            "description": "The number of table rows to pin, where 0 implies that all rows are unpinned."
          },
          "tableStartLocation": {
            "$ref": "#/components/schemas/Location"
          }
        },
        "description": "Updates the number of pinned table header rows in a table."
      },
      "SuggestedPositionedObjectProperties": {
        "type": "object",
        "properties": {
          "positionedObjectProperties": {
            "$ref": "#/components/schemas/PositionedObjectProperties"
          },
          "positionedObjectPropertiesSuggestionState": {
            "$ref": "#/components/schemas/PositionedObjectPropertiesSuggestionState"
          }
        },
        "description": "A suggested change to PositionedObjectProperties."
      },
      "SuggestedInlineObjectProperties": {
        "type": "object",
        "properties": {
          "inlineObjectProperties": {
            "$ref": "#/components/schemas/InlineObjectProperties"
          },
          "inlineObjectPropertiesSuggestionState": {
            "$ref": "#/components/schemas/InlineObjectPropertiesSuggestionState"
          }
        },
        "description": "A suggested change to InlineObjectProperties."
      },
      "ReplaceAllTextRequest": {
        "type": "object",
        "properties": {
          "containsText": {
            "$ref": "#/components/schemas/SubstringMatchCriteria"
          },
          "tabsCriteria": {
            "$ref": "#/components/schemas/TabsCriteria"
          },
          "replaceText": {
            "type": "string",
            "description": "The text that will replace the matched text."
          }
        },
        "description": "Replaces all instances of text matching a criteria with replace text."
      },
      "PositionedObject": {
        "type": "object",
        "properties": {
          "objectId": {
            "type": "string",
            "description": "The ID of this positioned object."
          },
          "suggestedDeletionIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
          },
          "positionedObjectProperties": {
            "$ref": "#/components/schemas/PositionedObjectProperties"
          },
          "suggestedPositionedObjectPropertiesChanges": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/SuggestedPositionedObjectProperties"
            },
            "description": "The suggested changes to the positioned object properties, keyed by suggestion ID."
          },
          "suggestedInsertionId": {
            "type": "string",
            "description": "The suggested insertion ID. If empty, then this is not a suggested insertion."
          }
        },
        "description": "An object that's tethered to a Paragraph and positioned relative to the beginning of the paragraph. A PositionedObject contains an EmbeddedObject such as an image."
      },
      "Background": {
        "type": "object",
        "properties": {
          "color": {
            "$ref": "#/components/schemas/OptionalColor"
          }
        },
        "description": "Represents the background of a document."
      },
      "EmbeddedDrawingProperties": {
        "type": "object",
        "properties": {},
        "description": "The properties of an embedded drawing and used to differentiate the object type. An embedded drawing is one that's created and edited within a document. Note that extensive details are not supported."
      },
      "CropProperties": {
        "type": "object",
        "properties": {
          "offsetBottom": {
            "type": "number",
            "format": "float",
            "description": "The offset specifies how far inwards the bottom edge of the crop rectangle is from the bottom edge of the original content as a fraction of the original content's height."
          },
          "offsetTop": {
            "type": "number",
            "format": "float",
            "description": "The offset specifies how far inwards the top edge of the crop rectangle is from the top edge of the original content as a fraction of the original content's height."
          },
          "angle": {
            "type": "number",
            "format": "float",
            "description": "The clockwise rotation angle of the crop rectangle around its center, in radians. Rotation is applied after the offsets."
          },
          "offsetRight": {
            "type": "number",
            "format": "float",
            "description": "The offset specifies how far inwards the right edge of the crop rectangle is from the right edge of the original content as a fraction of the original content's width."
          },
          "offsetLeft": {
            "type": "number",
            "format": "float",
            "description": "The offset specifies how far inwards the left edge of the crop rectangle is from the left edge of the original content as a fraction of the original content's width."
          }
        },
        "description": "The crop properties of an image. The crop rectangle is represented using fractional offsets from the original content's 4 edges. - If the offset is in the interval (0, 1), the corresponding edge of crop rectangle is positioned inside of the image's original bounding rectangle. - If the offset is negative or greater than 1, the corresponding edge of crop rectangle is positioned outside of the image's original bounding rectangle. - If all offsets and rotation angles are 0, the image is not cropped."
      },
      "DateElementPropertiesSuggestionState": {
        "type": "object",
        "properties": {
          "timestampSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to timestamp."
          },
          "localeSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to locale."
          },
          "timeZoneIdSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to time_zone_id."
          },
          "dateFormatSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to date_format."
          },
          "timeFormatSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to time_format."
          }
        },
        "description": "A mask that indicates which of the fields on the base DateElementProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
      },
      "AddDocumentTabRequest": {
        "type": "object",
        "properties": {
          "tabProperties": {
            "$ref": "#/components/schemas/TabProperties"
          }
        },
        "description": "Adds a document tab. When a tab is added at a given index, all subsequent tabs' indexes are incremented."
      },
      "InsertInlineImageRequest": {
        "type": "object",
        "properties": {
          "objectSize": {
            "$ref": "#/components/schemas/Size"
          },
          "endOfSegmentLocation": {
            "$ref": "#/components/schemas/EndOfSegmentLocation"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "uri": {
            "type": "string",
            "description": "The image URI. The image is fetched once at insertion time and a copy is stored for display inside the document. Images must be less than 50MB in size, cannot exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF format. The provided URI must be publicly accessible and at most 2 kB in length. The URI itself is saved with the image, and exposed via the ImageProperties.content_uri field."
          }
        },
        "description": "Inserts an InlineObject containing an image at the given location."
      },
      "LinkedContentReference": {
        "type": "object",
        "properties": {
          "sheetsChartReference": {
            "$ref": "#/components/schemas/SheetsChartReference"
          }
        },
        "description": "A reference to the external linked source content."
      },
      "FootnoteReference": {
        "type": "object",
        "properties": {
          "textStyle": {
            "$ref": "#/components/schemas/TextStyle"
          },
          "suggestedInsertionIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The suggested insertion IDs. A FootnoteReference may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
          },
          "suggestedDeletionIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
          },
          "suggestedTextStyleChanges": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/SuggestedTextStyle"
            },
            "description": "The suggested text style changes to this FootnoteReference, keyed by suggestion ID."
          },
          "footnoteNumber": {
            "type": "string",
            "description": "The rendered number of this footnote."
          },
          "footnoteId": {
            "type": "string",
            "description": "The ID of the footnote that contains the content of this footnote reference."
          }
        },
        "description": "A ParagraphElement representing a footnote reference. A footnote reference is the inline content rendered with a number and is used to identify the footnote."
      },
      "CreateNamedRangeResponse": {
        "type": "object",
        "properties": {
          "namedRangeId": {
            "type": "string",
            "description": "The ID of the created named range."
          }
        },
        "description": "The result of creating a named range."
      },
      "TableStyle": {
        "type": "object",
        "properties": {
          "tableColumnProperties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TableColumnProperties"
            },
            "description": "The properties of each column. Note that in Docs, tables contain rows and rows contain cells, similar to HTML. So the properties for a row can be found on the row's table_row_style."
          }
        },
        "description": "Styles that apply to a table."
      },
      "EmbeddedDrawingPropertiesSuggestionState": {
        "type": "object",
        "properties": {},
        "description": "A mask that indicates which of the fields on the base EmbeddedDrawingProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
      },
      "SizeSuggestionState": {
        "type": "object",
        "properties": {
          "heightSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to height."
          },
          "widthSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to width."
          }
        },
        "description": "A mask that indicates which of the fields on the base Size have been changed in this suggestion. For any field set to true, the Size has a new suggested value."
      },
      "Shading": {
        "type": "object",
        "properties": {
          "backgroundColor": {
            "$ref": "#/components/schemas/OptionalColor"
          }
        },
        "description": "The shading of a paragraph."
      },
      "List": {
        "type": "object",
        "properties": {
          "suggestedInsertionId": {
            "type": "string",
            "description": "The suggested insertion ID. If empty, then this is not a suggested insertion."
          },
          "suggestedDeletionIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this list."
          },
          "suggestedListPropertiesChanges": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/SuggestedListProperties"
            },
            "description": "The suggested changes to the list properties, keyed by suggestion ID."
          },
          "listProperties": {
            "$ref": "#/components/schemas/ListProperties"
          }
        },
        "description": "A List represents the list attributes for a group of paragraphs that all belong to the same list. A paragraph that's part of a list has a reference to the list's ID in its bullet."
      },
      "EndOfSegmentLocation": {
        "type": "object",
        "properties": {
          "segmentId": {
            "type": "string",
            "description": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body."
          },
          "tabId": {
            "type": "string",
            "description": "The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
          }
        },
        "description": "Location at the end of a body, header, footer or footnote. The location is immediately before the last newline in the document segment."
      },
      "PageBreak": {
        "type": "object",
        "properties": {
          "textStyle": {
            "$ref": "#/components/schemas/TextStyle"
          },
          "suggestedDeletionIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
          },
          "suggestedInsertionIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The suggested insertion IDs. A PageBreak may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
          },
          "suggestedTextStyleChanges": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/SuggestedTextStyle"
            },
            "description": "The suggested text style changes to this PageBreak, keyed by suggestion ID."
          }
        },
        "description": "A ParagraphElement representing a page break. A page break makes the subsequent text start at the top of the next page."
      },
      "SectionStyle": {
        "type": "object",
        "properties": {
          "firstPageHeaderId": {
            "type": "string",
            "description": "The ID of the header used only for the first page of the section. If use_first_page_header_footer is true, this value is used for the header on the first page of the section. If it's false, the header on the first page of the section uses the default_header_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's first_page_header_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
          },
          "pageNumberStart": {
            "type": "integer",
            "format": "int32",
            "description": "The page number from which to start counting the number of pages for this section. If unset, page numbering continues from the previous section. If the value is unset in the first SectionBreak, refer to DocumentStyle's page_number_start. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
          },
          "contentDirection": {
            "type": "string",
            "description": "The content direction of this section. If unset, the value defaults to LEFT_TO_RIGHT. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
            "enum": [
              "CONTENT_DIRECTION_UNSPECIFIED",
              "LEFT_TO_RIGHT",
              "RIGHT_TO_LEFT"
            ]
          },
          "sectionType": {
            "type": "string",
            "description": "Output only. The type of section.",
            "enum": ["SECTION_TYPE_UNSPECIFIED", "CONTINUOUS", "NEXT_PAGE"]
          },
          "evenPageHeaderId": {
            "type": "string",
            "description": "The ID of the header used only for even pages. If the value of DocumentStyle's use_even_page_header_footer is true, this value is used for the headers on even pages in the section. If it is false, the headers on even pages use the default_header_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's even_page_header_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
          },
          "defaultHeaderId": {
            "type": "string",
            "description": "The ID of the default header. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's default_header_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
          },
          "evenPageFooterId": {
            "type": "string",
            "description": "The ID of the footer used only for even pages. If the value of DocumentStyle's use_even_page_header_footer is true, this value is used for the footers on even pages in the section. If it is false, the footers on even pages use the default_footer_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's even_page_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
          },
          "marginRight": {
            "$ref": "#/components/schemas/Dimension"
          },
          "columnSeparatorStyle": {
            "type": "string",
            "description": "The style of column separators. This style can be set even when there's one column in the section. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
            "enum": [
              "COLUMN_SEPARATOR_STYLE_UNSPECIFIED",
              "NONE",
              "BETWEEN_EACH_COLUMN"
            ]
          },
          "marginFooter": {
            "$ref": "#/components/schemas/Dimension"
          },
          "firstPageFooterId": {
            "type": "string",
            "description": "The ID of the footer used only for the first page of the section. If use_first_page_header_footer is true, this value is used for the footer on the first page of the section. If it's false, the footer on the first page of the section uses the default_footer_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's first_page_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
          },
          "marginTop": {
            "$ref": "#/components/schemas/Dimension"
          },
          "marginBottom": {
            "$ref": "#/components/schemas/Dimension"
          },
          "defaultFooterId": {
            "type": "string",
            "description": "The ID of the default footer. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's default_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
          },
          "columnProperties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SectionColumnProperties"
            },
            "description": "The section's columns properties. If empty, the section contains one column with the default properties in the Docs editor. A section can be updated to have no more than 3 columns. When updating this property, setting a concrete value is required. Unsetting this property will result in a 400 bad request error."
          },
          "flipPageOrientation": {
            "type": "boolean",
            "description": "Optional. Indicates whether to flip the dimensions of DocumentStyle's page_size for this section, which allows changing the page orientation between portrait and landscape. If unset, the value inherits from DocumentStyle's flip_page_orientation. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
          },
          "useFirstPageHeaderFooter": {
            "type": "boolean",
            "description": "Indicates whether to use the first page header / footer IDs for the first page of the section. If unset, it inherits from DocumentStyle's use_first_page_header_footer for the first section. If the value is unset for subsequent sectors, it should be interpreted as false. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
          },
          "marginHeader": {
            "$ref": "#/components/schemas/Dimension"
          },
          "marginLeft": {
            "$ref": "#/components/schemas/Dimension"
          }
        },
        "description": "The styling that applies to a section."
      },
      "EmbeddedObjectBorder": {
        "type": "object",
        "properties": {
          "color": {
            "$ref": "#/components/schemas/OptionalColor"
          },
          "width": {
            "$ref": "#/components/schemas/Dimension"
          },
          "dashStyle": {
            "type": "string",
            "description": "The dash style of the border.",
            "enum": ["DASH_STYLE_UNSPECIFIED", "SOLID", "DOT", "DASH"]
          },
          "propertyState": {
            "type": "string",
            "description": "The property state of the border property.",
            "enum": ["RENDERED", "NOT_RENDERED"]
          }
        },
        "description": "A border around an EmbeddedObject."
      },
      "TableRowStyleSuggestionState": {
        "type": "object",
        "properties": {
          "minRowHeightSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to min_row_height."
          }
        },
        "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion. For any field set to true, there's a new suggested value."
      },
      "BulletSuggestionState": {
        "type": "object",
        "properties": {
          "nestingLevelSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to the nesting_level."
          },
          "textStyleSuggestionState": {
            "$ref": "#/components/schemas/TextStyleSuggestionState"
          },
          "listIdSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to the list_id."
          }
        },
        "description": "A mask that indicates which of the fields on the base Bullet have been changed in this suggestion. For any field set to true, there's a new suggested value."
      },
      "OptionalColor": {
        "type": "object",
        "properties": {
          "color": {
            "$ref": "#/components/schemas/Color"
          }
        },
        "description": "A color that can either be fully opaque or fully transparent."
      },
      "SheetsChartReferenceSuggestionState": {
        "type": "object",
        "properties": {
          "chartIdSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to chart_id."
          },
          "spreadsheetIdSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to spreadsheet_id."
          }
        },
        "description": "A mask that indicates which of the fields on the base SheetsChartReference have been changed in this suggestion. For any field set to true, there's a new suggested value."
      },
      "CreateHeaderRequest": {
        "type": "object",
        "properties": {
          "sectionBreakLocation": {
            "$ref": "#/components/schemas/Location"
          },
          "type": {
            "type": "string",
            "description": "The type of header to create.",
            "enum": ["HEADER_FOOTER_TYPE_UNSPECIFIED", "DEFAULT"]
          }
        },
        "description": "Creates a Header. The new header is applied to the SectionStyle at the location of the SectionBreak if specified, otherwise it is applied to the DocumentStyle. If a header of the specified type already exists, a 400 bad request error is returned."
      },
      "SuggestedListProperties": {
        "type": "object",
        "properties": {
          "listPropertiesSuggestionState": {
            "$ref": "#/components/schemas/ListPropertiesSuggestionState"
          },
          "listProperties": {
            "$ref": "#/components/schemas/ListProperties"
          }
        },
        "description": "A suggested change to ListProperties."
      },
      "TabProperties": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "The user-visible name of the tab."
          },
          "iconEmoji": {
            "type": "string",
            "description": "Optional. The emoji icon displayed with the tab. A valid emoji icon is represented by a non-empty Unicode string. Any set of characters that don't represent a single emoji is invalid. If an emoji is invalid, a 400 bad request error is returned. If this value is unset or empty, the tab will display the default tab icon."
          },
          "parentTabId": {
            "type": "string",
            "description": "Optional. The ID of the parent tab. Empty when the current tab is a root-level tab, which means it doesn't have any parents."
          },
          "tabId": {
            "type": "string",
            "description": "The immutable ID of the tab."
          },
          "nestingLevel": {
            "type": "integer",
            "format": "int32",
            "description": "Output only. The depth of the tab within the document. Root-level tabs start at 0."
          },
          "index": {
            "type": "integer",
            "format": "int32",
            "description": "The zero-based index of the tab within the parent."
          }
        },
        "description": "Properties of a tab."
      },
      "DeleteNamedRangeRequest": {
        "type": "object",
        "properties": {
          "namedRangeId": {
            "type": "string",
            "description": "The ID of the named range to delete."
          },
          "tabsCriteria": {
            "$ref": "#/components/schemas/TabsCriteria"
          },
          "name": {
            "type": "string",
            "description": "The name of the range(s) to delete. All named ranges with the given name will be deleted."
          }
        },
        "description": "Deletes a NamedRange."
      },
      "InlineObjectPropertiesSuggestionState": {
        "type": "object",
        "properties": {
          "embeddedObjectSuggestionState": {
            "$ref": "#/components/schemas/EmbeddedObjectSuggestionState"
          }
        },
        "description": "A mask that indicates which of the fields on the base InlineObjectProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
      },
      "DeleteParagraphBulletsRequest": {
        "type": "object",
        "properties": {
          "range": {
            "$ref": "#/components/schemas/Range"
          }
        },
        "description": "Deletes bullets from all of the paragraphs that overlap with the given range. The nesting level of each paragraph will be visually preserved by adding indent to the start of the corresponding paragraph."
      },
      "Document": {
        "type": "object",
        "properties": {
          "footnotes": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Footnote"
            },
            "description": "Output only. The footnotes in the document, keyed by footnote ID. Legacy field: Instead, use Document.tabs.documentTab.footnotes, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
          },
          "footers": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Footer"
            },
            "description": "Output only. The footers in the document, keyed by footer ID. Legacy field: Instead, use Document.tabs.documentTab.footers, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
          },
          "documentId": {
            "type": "string",
            "description": "Output only. The ID of the document."
          },
          "body": {
            "$ref": "#/components/schemas/Body"
          },
          "namedRanges": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/NamedRanges"
            },
            "description": "Output only. The named ranges in the document, keyed by name. Legacy field: Instead, use Document.tabs.documentTab.namedRanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Header"
            },
            "description": "Output only. The headers in the document, keyed by header ID. Legacy field: Instead, use Document.tabs.documentTab.headers, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
          },
          "lists": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/List"
            },
            "description": "Output only. The lists in the document, keyed by list ID. Legacy field: Instead, use Document.tabs.documentTab.lists, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
          },
          "suggestedNamedStylesChanges": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/SuggestedNamedStyles"
            },
            "description": "Output only. The suggested changes to the named styles of the document, keyed by suggestion ID. Legacy field: Instead, use Document.tabs.documentTab.suggestedNamedStylesChanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
          },
          "title": {
            "type": "string",
            "description": "The title of the document."
          },
          "inlineObjects": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/InlineObject"
            },
            "description": "Output only. The inline objects in the document, keyed by object ID. Legacy field: Instead, use Document.tabs.documentTab.inlineObjects, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
          },
          "suggestionsViewMode": {
            "type": "string",
            "description": "Output only. The suggestions view mode applied to the document. Note: When editing a document, changes must be based on a document with SUGGESTIONS_INLINE.",
            "enum": [
              "DEFAULT_FOR_CURRENT_ACCESS",
              "SUGGESTIONS_INLINE",
              "PREVIEW_SUGGESTIONS_ACCEPTED",
              "PREVIEW_WITHOUT_SUGGESTIONS"
            ]
          },
          "namedStyles": {
            "$ref": "#/components/schemas/NamedStyles"
          },
          "revisionId": {
            "type": "string",
            "description": "Output only. The revision ID of the document. Can be used in update requests to specify which revision of a document to apply updates to and how the request should behave if the document has been edited since that revision. Only populated if the user has edit access to the document. The revision ID is not a sequential number but an opaque string. The format of the revision ID might change over time. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the document has not changed. Conversely, a changed ID (for the same document and user) usually means the document has been updated. However, a changed ID can also be due to internal factors such as ID format changes."
          },
          "suggestedDocumentStyleChanges": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/SuggestedDocumentStyle"
            },
            "description": "Output only. The suggested changes to the style of the document, keyed by suggestion ID. Legacy field: Instead, use Document.tabs.documentTab.suggestedDocumentStyleChanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
          },
          "positionedObjects": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/PositionedObject"
            },
            "description": "Output only. The positioned objects in the document, keyed by object ID. Legacy field: Instead, use Document.tabs.documentTab.positionedObjects, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
          },
          "tabs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tab"
            },
            "description": "Output only. Tabs that are part of a document. Tabs can contain child tabs, a tab nested within another tab. Child tabs are represented by the Tab.childTabs field."
          },
          "documentStyle": {
            "$ref": "#/components/schemas/DocumentStyle"
          }
        },
        "description": "A Google Docs document."
      },
      "CreateFootnoteResponse": {
        "type": "object",
        "properties": {
          "footnoteId": {
            "type": "string",
            "description": "The ID of the created footnote."
          }
        },
        "description": "The result of creating a footnote."
      },
      "SectionColumnProperties": {
        "type": "object",
        "properties": {
          "width": {
            "$ref": "#/components/schemas/Dimension"
          },
          "paddingEnd": {
            "$ref": "#/components/schemas/Dimension"
          }
        },
        "description": "Properties that apply to a section's column."
      },
      "Bullet": {
        "type": "object",
        "properties": {
          "nestingLevel": {
            "type": "integer",
            "format": "int32",
            "description": "The nesting level of this paragraph in the list."
          },
          "textStyle": {
            "$ref": "#/components/schemas/TextStyle"
          },
          "listId": {
            "type": "string",
            "description": "The ID of the list this paragraph belongs to."
          }
        },
        "description": "Describes the bullet of a paragraph."
      },
      "Header": {
        "type": "object",
        "properties": {
          "headerId": {
            "type": "string",
            "description": "The ID of the header."
          },
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StructuralElement"
            },
            "description": "The contents of the header. The indexes for a header's content begin at zero."
          }
        },
        "description": "A document header."
      },
      "Color": {
        "type": "object",
        "properties": {
          "rgbColor": {
            "$ref": "#/components/schemas/RgbColor"
          }
        },
        "description": "A solid color."
      },
      "Location": {
        "type": "object",
        "properties": {
          "tabId": {
            "type": "string",
            "description": "The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
          },
          "index": {
            "type": "integer",
            "format": "int32",
            "description": "The zero-based index, in UTF-16 code units. The index is relative to the beginning of the segment specified by segment_id."
          },
          "segmentId": {
            "type": "string",
            "description": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body."
          }
        },
        "description": "A particular location in the document."
      },
      "MergeTableCellsRequest": {
        "type": "object",
        "properties": {
          "tableRange": {
            "$ref": "#/components/schemas/TableRange"
          }
        },
        "description": "Merges cells in a Table."
      },
      "EmbeddedObjectSuggestionState": {
        "type": "object",
        "properties": {
          "marginLeftSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to margin_left."
          },
          "marginRightSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to margin_right."
          },
          "linkedContentReferenceSuggestionState": {
            "$ref": "#/components/schemas/LinkedContentReferenceSuggestionState"
          },
          "embeddedObjectBorderSuggestionState": {
            "$ref": "#/components/schemas/EmbeddedObjectBorderSuggestionState"
          },
          "titleSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to title."
          },
          "imagePropertiesSuggestionState": {
            "$ref": "#/components/schemas/ImagePropertiesSuggestionState"
          },
          "marginBottomSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to margin_bottom."
          },
          "embeddedDrawingPropertiesSuggestionState": {
            "$ref": "#/components/schemas/EmbeddedDrawingPropertiesSuggestionState"
          },
          "sizeSuggestionState": {
            "$ref": "#/components/schemas/SizeSuggestionState"
          },
          "marginTopSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to margin_top."
          },
          "descriptionSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to description."
          }
        },
        "description": "A mask that indicates which of the fields on the base EmbeddedObject have been changed in this suggestion. For any field set to true, there's a new suggested value."
      },
      "Body": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StructuralElement"
            },
            "description": "The contents of the body. The indexes for the body's content begin at zero."
          }
        },
        "description": "The document body. The body typically contains the full document contents except for headers, footers, and footnotes."
      },
      "PositionedObjectPositioningSuggestionState": {
        "type": "object",
        "properties": {
          "leftOffsetSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to left_offset."
          },
          "topOffsetSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to top_offset."
          },
          "layoutSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to layout."
          }
        },
        "description": "A mask that indicates which of the fields on the base PositionedObjectPositioning have been changed in this suggestion. For any field set to true, there's a new suggested value."
      },
      "TabsCriteria": {
        "type": "object",
        "properties": {
          "tabIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The list of tab IDs in which the request executes."
          }
        },
        "description": "A criteria that specifies in which tabs a request executes."
      },
      "InsertSectionBreakRequest": {
        "type": "object",
        "properties": {
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "endOfSegmentLocation": {
            "$ref": "#/components/schemas/EndOfSegmentLocation"
          },
          "sectionType": {
            "type": "string",
            "description": "The type of section to insert.",
            "enum": ["SECTION_TYPE_UNSPECIFIED", "CONTINUOUS", "NEXT_PAGE"]
          }
        },
        "description": "Inserts a section break at the given location. A newline character will be inserted before the section break."
      },
      "SectionBreak": {
        "type": "object",
        "properties": {
          "suggestedInsertionIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The suggested insertion IDs. A SectionBreak may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
          },
          "sectionStyle": {
            "$ref": "#/components/schemas/SectionStyle"
          },
          "suggestedDeletionIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
          }
        },
        "description": "A StructuralElement representing a section break. A section is a range of content that has the same SectionStyle. A section break represents the start of a new section, and the section style applies to the section after the section break. The document body always begins with a section break."
      },
      "RichLink": {
        "type": "object",
        "properties": {
          "suggestedTextStyleChanges": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/SuggestedTextStyle"
            },
            "description": "The suggested text style changes to this RichLink, keyed by suggestion ID."
          },
          "richLinkId": {
            "type": "string",
            "description": "Output only. The ID of this link.",
            "readOnly": true
          },
          "textStyle": {
            "$ref": "#/components/schemas/TextStyle"
          },
          "suggestedInsertionIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IDs for suggestions that insert this link into the document. A RichLink might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this person link isn't a suggested insertion."
          },
          "suggestedDeletionIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IDs for suggestions that remove this link from the document. A RichLink might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this person link isn't suggested for deletion."
          },
          "richLinkProperties": {
            "$ref": "#/components/schemas/RichLinkProperties"
          }
        },
        "description": "A link to a Google resource (such as a file in Drive, a YouTube video, or a Calendar event)."
      },
      "Size": {
        "type": "object",
        "properties": {
          "height": {
            "$ref": "#/components/schemas/Dimension"
          },
          "width": {
            "$ref": "#/components/schemas/Dimension"
          }
        },
        "description": "A width and height."
      },
      "StructuralElement": {
        "type": "object",
        "properties": {
          "paragraph": {
            "$ref": "#/components/schemas/Paragraph"
          },
          "table": {
            "$ref": "#/components/schemas/Table"
          },
          "tableOfContents": {
            "$ref": "#/components/schemas/TableOfContents"
          },
          "endIndex": {
            "type": "integer",
            "format": "int32",
            "description": "The zero-based end index of this structural element, exclusive, in UTF-16 code units."
          },
          "startIndex": {
            "type": "integer",
            "format": "int32",
            "description": "The zero-based start index of this structural element, in UTF-16 code units."
          },
          "sectionBreak": {
            "$ref": "#/components/schemas/SectionBreak"
          }
        },
        "description": "A StructuralElement describes content that provides structure to the document."
      },
      "ReplaceAllTextResponse": {
        "type": "object",
        "properties": {
          "occurrencesChanged": {
            "type": "integer",
            "format": "int32",
            "description": "The number of occurrences changed by replacing all text."
          }
        },
        "description": "The result of replacing text."
      },
      "EmbeddedObjectBorderSuggestionState": {
        "type": "object",
        "properties": {
          "colorSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to color."
          },
          "dashStyleSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to dash_style."
          },
          "widthSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to width."
          },
          "propertyStateSuggested": {
            "type": "boolean",
            "description": "Indicates if there was a suggested change to property_state."
          }
        },
        "description": "A mask that indicates which of the fields on the base EmbeddedObjectBorder have been changed in this suggestion. For any field set to true, there's a new suggested value."
      },
[...]
