{
  "openapi": "3.0.0",
  "info": {
    "title": "Gmail API",
    "version": "v1",
    "description": "The Gmail API lets you view and manage Gmail mailbox data like threads, messages, and labels. OpenAPI 3.0 definition generated from the official Google API Discovery document (revision 20260907)."
  },
  "externalDocs": {
    "description": "Gmail API reference",
    "url": "https://developers.google.com/workspace/gmail/api/"
  },
  "servers": [
    {
      "url": "https://gmail.googleapis.com/"
    }
  ],
  "paths": {
    "/gmail/v1/users/{userId}/profile": {
      "get": {
        "tags": ["users"],
        "operationId": "gmail.users.getProfile",
        "description": "Gets the current user's Gmail profile.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://mail.google.com/",
              "https://www.googleapis.com/auth/gmail.compose",
              "https://www.googleapis.com/auth/gmail.metadata",
              "https://www.googleapis.com/auth/gmail.modify",
              "https://www.googleapis.com/auth/gmail.readonly"
            ]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/stop": {
      "post": {
        "tags": ["users"],
        "operationId": "gmail.users.stop",
        "description": "Turn off push notification delivery for the given user mailbox. For more information, see [Configure push notifications in Gmail API](https://developers.google.com/workspace/gmail/api/guides/push).",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://mail.google.com/",
              "https://www.googleapis.com/auth/gmail.metadata",
              "https://www.googleapis.com/auth/gmail.modify",
              "https://www.googleapis.com/auth/gmail.readonly"
            ]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/watch": {
      "post": {
        "tags": ["users"],
        "operationId": "gmail.users.watch",
        "description": "Set up or update a push notification watch on the given user mailbox. For more information, see [Configure push notifications in Gmail API](https://developers.google.com/workspace/gmail/api/guides/push).",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WatchResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://mail.google.com/",
              "https://www.googleapis.com/auth/gmail.metadata",
              "https://www.googleapis.com/auth/gmail.modify",
              "https://www.googleapis.com/auth/gmail.readonly"
            ]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/drafts": {
      "get": {
        "tags": ["users.drafts"],
        "operationId": "gmail.users.drafts.list",
        "description": "Lists the drafts in the user's mailbox. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Only return draft messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`.",
            "schema": {
              "type": "string",
              "description": "Only return draft messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`."
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token to retrieve a specific page of results in the list.",
            "schema": {
              "type": "string",
              "description": "Page token to retrieve a specific page of results in the list."
            }
          },
          {
            "name": "includeSpamTrash",
            "in": "query",
            "description": "Include drafts from `SPAM` and `TRASH` in the results.",
            "schema": {
              "type": "boolean",
              "description": "Include drafts from `SPAM` and `TRASH` in the results.",
              "default": "false"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of drafts to return. This field defaults to 100. The maximum allowed value for this field is 500.",
            "schema": {
              "type": "integer",
              "format": "uint32",
              "description": "Maximum number of drafts to return. This field defaults to 100. The maximum allowed value for this field is 500.",
              "default": "100"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDraftsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://mail.google.com/",
              "https://www.googleapis.com/auth/gmail.compose",
              "https://www.googleapis.com/auth/gmail.modify",
              "https://www.googleapis.com/auth/gmail.readonly"
            ]
          }
        ]
      },
      "post": {
        "tags": ["users.drafts"],
        "operationId": "gmail.users.drafts.create",
        "description": "Creates a draft with the `DRAFT` label. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Draft"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://mail.google.com/",
              "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
              "https://www.googleapis.com/auth/gmail.compose",
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/drafts/{id}": {
      "delete": {
        "tags": ["users.drafts"],
        "operationId": "gmail.users.drafts.delete",
        "description": "Immediately and permanently deletes the specified draft. Does not simply trash it. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the draft to delete.",
            "schema": {
              "type": "string",
              "description": "The ID of the draft to delete."
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://mail.google.com/",
              "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
              "https://www.googleapis.com/auth/gmail.compose",
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          }
        ]
      },
      "get": {
        "tags": ["users.drafts"],
        "operationId": "gmail.users.drafts.get",
        "description": "Gets the specified draft. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "The format to return the draft in.",
            "schema": {
              "type": "string",
              "description": "The format to return the draft in.",
              "default": "full",
              "enum": ["minimal", "full", "raw", "metadata"]
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the draft to retrieve.",
            "schema": {
              "type": "string",
              "description": "The ID of the draft to retrieve."
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Draft"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://mail.google.com/",
              "https://www.googleapis.com/auth/gmail.compose",
              "https://www.googleapis.com/auth/gmail.modify",
              "https://www.googleapis.com/auth/gmail.readonly"
            ]
          }
        ]
      },
      "put": {
        "tags": ["users.drafts"],
        "operationId": "gmail.users.drafts.update",
        "description": "Replaces a draft's content. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the draft to update.",
            "schema": {
              "type": "string",
              "description": "The ID of the draft to update."
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Draft"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://mail.google.com/",
              "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
              "https://www.googleapis.com/auth/gmail.compose",
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/drafts/send": {
      "post": {
        "tags": ["users.drafts"],
        "operationId": "gmail.users.drafts.send",
        "description": "Sends the specified, existing draft to the recipients in the `To`, `Cc`, and `Bcc` headers. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://mail.google.com/",
              "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
              "https://www.googleapis.com/auth/gmail.compose",
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/threads/{id}/trash": {
      "post": {
        "tags": ["users.threads"],
        "operationId": "gmail.users.threads.trash",
        "description": "Moves the specified thread to the trash. Any messages that belong to the thread are also moved to the trash. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads).",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the thread to Trash.",
            "schema": {
              "type": "string",
              "description": "The ID of the thread to Trash."
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thread"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://mail.google.com/",
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/threads/{id}/modify": {
      "post": {
        "tags": ["users.threads"],
        "operationId": "gmail.users.threads.modify",
        "description": "Modifies the labels applied to the thread. This applies to all messages in the thread. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads).",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the thread to modify.",
            "schema": {
              "type": "string",
              "description": "The ID of the thread to modify."
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyThreadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thread"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://mail.google.com/",
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/threads/{id}/untrash": {
      "post": {
        "tags": ["users.threads"],
        "operationId": "gmail.users.threads.untrash",
        "description": "Removes the specified thread from the trash. Any messages that belong to the thread are also removed from the trash. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads).",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the thread to remove from Trash.",
            "schema": {
              "type": "string",
              "description": "The ID of the thread to remove from Trash."
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thread"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://mail.google.com/",
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/threads": {
      "get": {
        "tags": ["users.threads"],
        "operationId": "gmail.users.threads.list",
        "description": "Lists the threads in the user's mailbox. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads).",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Only return threads matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`. Parameter cannot be used when accessing the api using the gmail.metadata scope.",
            "schema": {
              "type": "string",
              "description": "Only return threads matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`. Parameter cannot be used when accessing the api using the gmail.metadata scope."
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token to retrieve a specific page of results in the list.",
            "schema": {
              "type": "string",
              "description": "Page token to retrieve a specific page of results in the list."
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          },
          {
            "name": "includeSpamTrash",
            "in": "query",
            "description": "Include threads from `SPAM` and `TRASH` in the results.",
            "schema": {
              "type": "boolean",
              "description": "Include threads from `SPAM` and `TRASH` in the results.",
              "default": "false"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of threads to return. This field defaults to 100. The maximum allowed value for this field is 500.",
            "schema": {
              "type": "integer",
              "format": "uint32",
              "description": "Maximum number of threads to return. This field defaults to 100. The maximum allowed value for this field is 500.",
              "default": "100"
            }
          },
          {
            "name": "labelIds",
            "in": "query",
            "description": "Only return threads with labels that match all of the specified label IDs.",
            "schema": {
              "type": "string",
              "description": "Only return threads with labels that match all of the specified label IDs."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListThreadsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://mail.google.com/",
              "https://www.googleapis.com/auth/gmail.metadata",
              "https://www.googleapis.com/auth/gmail.modify",
              "https://www.googleapis.com/auth/gmail.readonly"
            ]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/threads/{id}": {
      "delete": {
        "tags": ["users.threads"],
        "operationId": "gmail.users.threads.delete",
        "description": "Immediately and permanently deletes the specified thread. Any messages that belong to the thread are also deleted. This operation cannot be undone. Prefer `threads.trash` instead. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads).",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Thread to delete.",
            "schema": {
              "type": "string",
              "description": "ID of the Thread to delete."
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "OAuth2": ["https://mail.google.com/"]
          }
        ]
      },
      "get": {
        "tags": ["users.threads"],
        "operationId": "gmail.users.threads.get",
        "description": "Gets the specified thread. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads).",
        "parameters": [
          {
            "name": "metadataHeaders",
            "in": "query",
            "description": "When given and format is METADATA, only include headers specified.",
            "schema": {
              "type": "string",
              "description": "When given and format is METADATA, only include headers specified."
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the thread to retrieve.",
            "schema": {
              "type": "string",
              "description": "The ID of the thread to retrieve."
            },
            "required": true
          },
          {
            "name": "format",
            "in": "query",
            "description": "The format to return the messages in.",
            "schema": {
              "type": "string",
              "description": "The format to return the messages in.",
              "default": "full",
              "enum": ["full", "metadata", "minimal"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thread"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://mail.google.com/",
              "https://www.googleapis.com/auth/gmail.addons.current.message.action",
              "https://www.googleapis.com/auth/gmail.addons.current.message.metadata",
              "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
              "https://www.googleapis.com/auth/gmail.metadata",
              "https://www.googleapis.com/auth/gmail.modify",
              "https://www.googleapis.com/auth/gmail.readonly"
            ]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/settings/language": {
      "put": {
        "tags": ["users.settings"],
        "operationId": "gmail.users.settings.updateLanguage",
        "description": "Updates language settings. For more information, see [Manage language settings](https://developers.google.com/workspace/gmail/api/guides/language-settings). If successful, the return object contains the `displayLanguage` that was saved for the user, which may differ from the value passed into the request. This is because the requested `displayLanguage` may not be directly supported by Gmail but have a close variant that is, and so the variant may be chosen and saved instead.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LanguageSettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguageSettings"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["https://www.googleapis.com/auth/gmail.settings.basic"]
          }
        ]
      },
      "get": {
        "tags": ["users.settings"],
        "operationId": "gmail.users.settings.getLanguage",
        "description": "Gets language settings. For more information, see [Manage language settings](https://developers.google.com/workspace/gmail/api/guides/language-settings).",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguageSettings"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://mail.google.com/",
              "https://www.googleapis.com/auth/gmail.modify",
              "https://www.googleapis.com/auth/gmail.readonly",
              "https://www.googleapis.com/auth/gmail.settings.basic"
            ]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/settings/vacation": {
      "get": {
        "tags": ["users.settings"],
        "operationId": "gmail.users.settings.getVacation",
        "description": "Gets vacation responder settings. For more information, see [Manage vacation settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/vacation_settings).",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VacationSettings"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://mail.google.com/",
              "https://www.googleapis.com/auth/gmail.modify",
              "https://www.googleapis.com/auth/gmail.readonly",
              "https://www.googleapis.com/auth/gmail.settings.basic"
            ]
          }
        ]
      },
      "put": {
        "tags": ["users.settings"],
        "operationId": "gmail.users.settings.updateVacation",
        "description": "Updates vacation responder settings. For more information, see [Manage vacation settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/vacation_settings).",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VacationSettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VacationSettings"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["https://www.googleapis.com/auth/gmail.settings.basic"]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/settings/imap": {
      "get": {
        "tags": ["users.settings"],
        "operationId": "gmail.users.settings.getImap",
        "description": "Gets IMAP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings).",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImapSettings"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://mail.google.com/",
              "https://www.googleapis.com/auth/gmail.modify",
              "https://www.googleapis.com/auth/gmail.readonly",
              "https://www.googleapis.com/auth/gmail.settings.basic"
            ]
          }
        ]
      },
      "put": {
        "tags": ["users.settings"],
        "operationId": "gmail.users.settings.updateImap",
        "description": "Updates IMAP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings).",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImapSettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImapSettings"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["https://www.googleapis.com/auth/gmail.settings.basic"]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/settings/autoForwarding": {
      "put": {
        "tags": ["users.settings"],
        "operationId": "gmail.users.settings.updateAutoForwarding",
        "description": "Updates the auto-forwarding setting for the specified account. A verified forwarding address must be specified when auto-forwarding is enabled. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings). This method is only available to service account clients that have been delegated domain-wide authority.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutoForwarding"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutoForwarding"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["https://www.googleapis.com/auth/gmail.settings.sharing"]
          }
        ]
      },
      "get": {
        "tags": ["users.settings"],
        "operationId": "gmail.users.settings.getAutoForwarding",
        "description": "Gets the auto-forwarding setting for the specified account. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings).",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutoForwarding"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://mail.google.com/",
              "https://www.googleapis.com/auth/gmail.modify",
              "https://www.googleapis.com/auth/gmail.readonly",
              "https://www.googleapis.com/auth/gmail.settings.basic"
            ]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/settings/pop": {
      "get": {
        "tags": ["users.settings"],
        "operationId": "gmail.users.settings.getPop",
        "description": "Gets POP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings).",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PopSettings"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://mail.google.com/",
              "https://www.googleapis.com/auth/gmail.modify",
              "https://www.googleapis.com/auth/gmail.readonly",
              "https://www.googleapis.com/auth/gmail.settings.basic"
            ]
          }
        ]
      },
      "put": {
        "tags": ["users.settings"],
        "operationId": "gmail.users.settings.updatePop",
        "description": "Updates POP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings).",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PopSettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PopSettings"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["https://www.googleapis.com/auth/gmail.settings.basic"]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}": {
      "get": {
        "tags": ["users.settings.sendAs"],
        "operationId": "gmail.users.settings.sendAs.get",
        "description": "Gets the specified send-as alias. Fails with an HTTP 404 error if the specified address is not a member of the collection. For more information, see [Manage aliases and signatures with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/alias_and_signature_settings).",
        "parameters": [
          {
            "name": "sendAsEmail",
            "in": "path",
            "description": "The send-as alias to be retrieved.",
            "schema": {
              "type": "string",
              "description": "The send-as alias to be retrieved."
            },
            "required": true
          },
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendAs"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://mail.google.com/",
              "https://www.googleapis.com/auth/gmail.modify",
              "https://www.googleapis.com/auth/gmail.readonly",
              "https://www.googleapis.com/auth/gmail.settings.basic"
            ]
          }
        ]
      },
      "put": {
        "tags": ["users.settings.sendAs"],
        "operationId": "gmail.users.settings.sendAs.update",
        "description": "Updates a send-as alias. If a signature is provided, Gmail will sanitize the HTML before saving it with the alias. For more information, see [Manage aliases and signatures with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/alias_and_signature_settings). Addresses other than the primary address for the account can only be updated by service account clients that have been delegated domain-wide authority.",
        "parameters": [
          {
            "name": "sendAsEmail",
            "in": "path",
            "description": "The send-as alias to be updated.",
            "schema": {
              "type": "string",
              "description": "The send-as alias to be updated."
            },
            "required": true
          },
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendAs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendAs"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/gmail.settings.basic",
              "https://www.googleapis.com/auth/gmail.settings.sharing"
            ]
          }
        ]
      },
      "delete": {
        "tags": ["users.settings.sendAs"],
        "operationId": "gmail.users.settings.sendAs.delete",
        "description": "Deletes the specified send-as alias. Revokes any verification that may have been required for using it. For more information, see [Manage aliases and signatures with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/alias_and_signature_settings). This method is only available to service account clients that have been delegated domain-wide authority.",
        "parameters": [
          {
            "name": "sendAsEmail",
            "in": "path",
            "description": "The send-as alias to be deleted.",
            "schema": {
              "type": "string",
              "description": "The send-as alias to be deleted."
            },
            "required": true
          },
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "OAuth2": ["https://www.googleapis.com/auth/gmail.settings.sharing"]
          }
        ]
      },
      "patch": {
        "tags": ["users.settings.sendAs"],
        "operationId": "gmail.users.settings.sendAs.patch",
        "description": "Patch the specified send-as alias. For more information, see [Manage aliases and signatures with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/alias_and_signature_settings).",
        "parameters": [
          {
            "name": "sendAsEmail",
            "in": "path",
            "description": "The send-as alias to be updated.",
            "schema": {
              "type": "string",
              "description": "The send-as alias to be updated."
            },
            "required": true
          },
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendAs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendAs"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/gmail.settings.basic",
              "https://www.googleapis.com/auth/gmail.settings.sharing"
            ]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/settings/sendAs": {
      "post": {
        "tags": ["users.settings.sendAs"],
        "operationId": "gmail.users.settings.sendAs.create",
        "description": "Creates a custom \"from\" send-as alias. If an SMTP MSA is specified, Gmail will attempt to connect to the SMTP service to validate the configuration before creating the alias. If ownership verification is required for the alias, a message will be sent to the email address and the resource's verification status will be set to `pending`; otherwise, the resource will be created with verification status set to `accepted`. If a signature is provided, Gmail will sanitize the HTML before saving it with the alias. For more information, see [Manage aliases and signatures with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/alias_and_signature_settings). This method is only available to service account clients that have been delegated domain-wide authority.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendAs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendAs"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["https://www.googleapis.com/auth/gmail.settings.sharing"]
          }
        ]
      },
      "get": {
        "tags": ["users.settings.sendAs"],
        "operationId": "gmail.users.settings.sendAs.list",
        "description": "Lists the send-as aliases for the specified account. The result includes the primary send-as address associated with the account as well as any custom \"from\" aliases. For more information, see [Manage aliases and signatures with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/alias_and_signature_settings).",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSendAsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://mail.google.com/",
              "https://www.googleapis.com/auth/gmail.modify",
              "https://www.googleapis.com/auth/gmail.readonly",
              "https://www.googleapis.com/auth/gmail.settings.basic"
            ]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/verify": {
      "post": {
        "tags": ["users.settings.sendAs"],
        "operationId": "gmail.users.settings.sendAs.verify",
        "description": "Sends a verification email to the specified send-as alias address. The verification status must be `pending`. For more information, see [Manage aliases and signatures with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/alias_and_signature_settings). This method is only available to service account clients that have been delegated domain-wide authority.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          },
          {
            "name": "sendAsEmail",
            "in": "path",
            "description": "The send-as alias to be verified.",
            "schema": {
              "type": "string",
              "description": "The send-as alias to be verified."
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "OAuth2": ["https://www.googleapis.com/auth/gmail.settings.sharing"]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}/setDefault": {
      "post": {
        "tags": ["users.settings.sendAs.smimeInfo"],
        "operationId": "gmail.users.settings.sendAs.smimeInfo.setDefault",
        "description": "Sets the default S/MIME config for the specified send-as alias. For more information, see [Manage S/MIME certificates with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/smime_certs).",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "description": "The immutable ID for the SmimeInfo.",
            "schema": {
              "type": "string",
              "description": "The immutable ID for the SmimeInfo."
            },
            "required": true
          },
          {
            "name": "sendAsEmail",
            "in": "path",
            "description": "The email address that appears in the \"From:\" header for mail sent using this alias.",
            "schema": {
              "type": "string",
              "description": "The email address that appears in the \"From:\" header for mail sent using this alias."
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/gmail.settings.basic",
              "https://www.googleapis.com/auth/gmail.settings.sharing"
            ]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo": {
      "get": {
        "tags": ["users.settings.sendAs.smimeInfo"],
        "operationId": "gmail.users.settings.sendAs.smimeInfo.list",
        "description": "Lists S/MIME configs for the specified send-as alias. For more information, see [Manage S/MIME certificates with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/smime_certs).",
        "parameters": [
          {
            "name": "sendAsEmail",
            "in": "path",
            "description": "The email address that appears in the \"From:\" header for mail sent using this alias.",
            "schema": {
              "type": "string",
              "description": "The email address that appears in the \"From:\" header for mail sent using this alias."
            },
            "required": true
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSmimeInfoResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://mail.google.com/",
              "https://www.googleapis.com/auth/gmail.modify",
              "https://www.googleapis.com/auth/gmail.readonly",
              "https://www.googleapis.com/auth/gmail.settings.basic",
              "https://www.googleapis.com/auth/gmail.settings.sharing"
            ]
          }
        ]
      },
      "post": {
        "tags": ["users.settings.sendAs.smimeInfo"],
        "operationId": "gmail.users.settings.sendAs.smimeInfo.insert",
        "description": "Insert (upload) the given S/MIME config for the specified send-as alias. Note that `pkcs12` format is required for the key. For more information, see [Manage S/MIME certificates with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/smime_certs).",
        "parameters": [
          {
            "name": "sendAsEmail",
            "in": "path",
            "description": "The email address that appears in the \"From:\" header for mail sent using this alias.",
            "schema": {
              "type": "string",
              "description": "The email address that appears in the \"From:\" header for mail sent using this alias."
            },
            "required": true
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmimeInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmimeInfo"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/gmail.settings.basic",
              "https://www.googleapis.com/auth/gmail.settings.sharing"
            ]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}": {
      "delete": {
        "tags": ["users.settings.sendAs.smimeInfo"],
        "operationId": "gmail.users.settings.sendAs.smimeInfo.delete",
        "description": "Deletes the specified S/MIME config for the specified send-as alias. For more information, see [Manage S/MIME certificates with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/smime_certs).",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "description": "The immutable ID for the SmimeInfo.",
            "schema": {
              "type": "string",
              "description": "The immutable ID for the SmimeInfo."
            },
            "required": true
          },
          {
            "name": "sendAsEmail",
            "in": "path",
            "description": "The email address that appears in the \"From:\" header for mail sent using this alias.",
            "schema": {
              "type": "string",
              "description": "The email address that appears in the \"From:\" header for mail sent using this alias."
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/gmail.settings.basic",
              "https://www.googleapis.com/auth/gmail.settings.sharing"
            ]
          }
        ]
      },
      "get": {
        "tags": ["users.settings.sendAs.smimeInfo"],
        "operationId": "gmail.users.settings.sendAs.smimeInfo.get",
        "description": "Gets the specified S/MIME config for the specified send-as alias. For more information, see [Manage S/MIME certificates with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/smime_certs).",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "description": "The immutable ID for the SmimeInfo.",
            "schema": {
              "type": "string",
              "description": "The immutable ID for the SmimeInfo."
            },
            "required": true
          },
          {
            "name": "sendAsEmail",
            "in": "path",
            "description": "The email address that appears in the \"From:\" header for mail sent using this alias.",
            "schema": {
              "type": "string",
              "description": "The email address that appears in the \"From:\" header for mail sent using this alias."
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmimeInfo"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://mail.google.com/",
              "https://www.googleapis.com/auth/gmail.modify",
              "https://www.googleapis.com/auth/gmail.readonly",
              "https://www.googleapis.com/auth/gmail.settings.basic",
              "https://www.googleapis.com/auth/gmail.settings.sharing"
            ]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/settings/forwardingAddresses": {
      "post": {
        "tags": ["users.settings.forwardingAddresses"],
        "operationId": "gmail.users.settings.forwardingAddresses.create",
        "description": "Creates a forwarding address. If ownership verification is required, a message will be sent to the recipient and the resource's verification status will be set to `pending`; otherwise, the resource will be created with verification status set to `accepted`. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings). This method is only available to service account clients that have been delegated domain-wide authority.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForwardingAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForwardingAddress"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["https://www.googleapis.com/auth/gmail.settings.sharing"]
          }
        ]
      },
      "get": {
        "tags": ["users.settings.forwardingAddresses"],
        "operationId": "gmail.users.settings.forwardingAddresses.list",
        "description": "Lists the forwarding addresses for the specified account. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings).",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListForwardingAddressesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://mail.google.com/",
              "https://www.googleapis.com/auth/gmail.modify",
              "https://www.googleapis.com/auth/gmail.readonly",
              "https://www.googleapis.com/auth/gmail.settings.basic"
            ]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}": {
      "delete": {
        "tags": ["users.settings.forwardingAddresses"],
        "operationId": "gmail.users.settings.forwardingAddresses.delete",
        "description": "Deletes the specified forwarding address and revokes any verification that may have been required. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings). This method is only available to service account clients that have been delegated domain-wide authority.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          },
          {
            "name": "forwardingEmail",
            "in": "path",
            "description": "The forwarding address to be deleted.",
            "schema": {
              "type": "string",
              "description": "The forwarding address to be deleted."
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "OAuth2": ["https://www.googleapis.com/auth/gmail.settings.sharing"]
          }
        ]
      },
      "get": {
        "tags": ["users.settings.forwardingAddresses"],
        "operationId": "gmail.users.settings.forwardingAddresses.get",
        "description": "Gets the specified forwarding address. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings).",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "schema": {
              "type": "string",
              "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
              "default": "me"
            },
            "required": true
          },
          {
            "name": "forwardingEmail",
            "in": "path",
            "description": "The forwarding address to be retrieved.",
            "schema": {
              "type": "string",
              "description": "The forwarding address to be retrieved."
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForwardingAddress"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://mail.google.com/",
              "https://www.googleapis.com/auth/gmail.modify",
              "https://www.googleapis.com/auth/gmail.readonly",
              "https://www.googleapis.com/auth/gmail.settings.basic"
            ]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/settings/cse/keypairs": {
      "post": {
        "tags": ["users.settings.cse.keypairs"],
        "operationId": "gmail.users.settings.cse.keypairs.create",
        "description": "Creates and uploads a client-side encryption S/MIME public key certificate chain and private key metadata for the authenticated user. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
            "schema": {
              "type": "string",
              "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
              "default": "me"
            },
            "required": true
          },
          {
            "name": "chainValidation",
            "in": "query",
            "description": "The type of certificate chain validation to perform at creation. The request will be rejected if the uploaded chain fails to satisfy the requested validation checks. When unspecified, this parameter defaults to `all`.",
            "schema": {
              "type": "string",
              "description": "The type of certificate chain validation to perform at creation. The request will be rejected if the uploaded chain fails to satisfy the requested validation checks. When unspecified, this parameter defaults to `all`.",
              "default": "all",
              "enum": ["all", "none"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CseKeyPair"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CseKeyPair"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/gmail.settings.basic",
              "https://www.googleapis.com/auth/gmail.settings.sharing"
            ]
          }
        ]
      },
      "get": {
        "tags": ["users.settings.cse.keypairs"],
        "operationId": "gmail.users.settings.cse.keypairs.list",
        "description": "Lists client-side encryption key pairs for an authenticated user. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
            "schema": {
              "type": "string",
              "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
              "default": "me"
            },
            "required": true
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Pagination token indicating which page of key pairs to return. If the token is not supplied, then the API will return the first page of results.",
            "schema": {
              "type": "string",
              "description": "Pagination token indicating which page of key pairs to return. If the token is not supplied, then the API will return the first page of results."
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of key pairs to return. If not provided, the page size will default to 20 entries.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "The number of key pairs to return. If not provided, the page size will default to 20 entries.",
              "default": "20"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCseKeyPairsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://mail.google.com/",
              "https://www.googleapis.com/auth/gmail.modify",
              "https://www.googleapis.com/auth/gmail.readonly",
              "https://www.googleapis.com/auth/gmail.settings.basic",
              "https://www.googleapis.com/auth/gmail.settings.sharing"
            ]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:disable": {
      "post": {
        "tags": ["users.settings.cse.keypairs"],
        "operationId": "gmail.users.settings.cse.keypairs.disable",
        "description": "Turns off a client-side encryption key pair. The authenticated user can no longer use the key pair to decrypt incoming CSE message texts or sign outgoing CSE mail. To regain access, use the EnableCseKeyPair to turn on the key pair. After 30 days, you can permanently delete the key pair by using the ObliterateCseKeyPair method. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
            "schema": {
              "type": "string",
              "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
              "default": "me"
            },
            "required": true
          },
          {
            "name": "keyPairId",
            "in": "path",
            "description": "The identifier of the key pair to turn off.",
            "schema": {
              "type": "string",
              "description": "The identifier of the key pair to turn off."
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DisableCseKeyPairRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CseKeyPair"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/gmail.settings.basic",
              "https://www.googleapis.com/auth/gmail.settings.sharing"
            ]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}": {
      "get": {
        "tags": ["users.settings.cse.keypairs"],
        "operationId": "gmail.users.settings.cse.keypairs.get",
        "description": "Retrieves an existing client-side encryption key pair. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
            "schema": {
              "type": "string",
              "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
              "default": "me"
            },
            "required": true
          },
          {
            "name": "keyPairId",
            "in": "path",
            "description": "The identifier of the key pair to retrieve.",
            "schema": {
              "type": "string",
              "description": "The identifier of the key pair to retrieve."
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CseKeyPair"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://mail.google.com/",
              "https://www.googleapis.com/auth/gmail.modify",
              "https://www.googleapis.com/auth/gmail.readonly",
              "https://www.googleapis.com/auth/gmail.settings.basic",
              "https://www.googleapis.com/auth/gmail.settings.sharing"
            ]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:enable": {
      "post": {
        "tags": ["users.settings.cse.keypairs"],
        "operationId": "gmail.users.settings.cse.keypairs.enable",
        "description": "Turns on a client-side encryption key pair that was turned off. The key pair becomes active again for any associated client-side encryption identities. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
            "schema": {
              "type": "string",
              "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
              "default": "me"
            },
            "required": true
          },
          {
            "name": "keyPairId",
            "in": "path",
            "description": "The identifier of the key pair to turn on.",
            "schema": {
              "type": "string",
              "description": "The identifier of the key pair to turn on."
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnableCseKeyPairRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CseKeyPair"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/gmail.settings.basic",
              "https://www.googleapis.com/auth/gmail.settings.sharing"
            ]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:obliterate": {
      "post": {
        "tags": ["users.settings.cse.keypairs"],
        "operationId": "gmail.users.settings.cse.keypairs.obliterate",
        "description": "Deletes a client-side encryption key pair permanently and immediately. You can only permanently delete key pairs that have been turned off for more than 30 days. To turn off a key pair, use the DisableCseKeyPair method. Gmail can't restore or decrypt any messages that were encrypted by an obliterated key. Authenticated users and Google Workspace administrators lose access to reading the encrypted messages. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
            "schema": {
              "type": "string",
              "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
              "default": "me"
            },
            "required": true
          },
          {
            "name": "keyPairId",
            "in": "path",
            "description": "The identifier of the key pair to obliterate.",
            "schema": {
              "type": "string",
              "description": "The identifier of the key pair to obliterate."
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObliterateCseKeyPairRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/gmail.settings.basic",
              "https://www.googleapis.com/auth/gmail.settings.sharing"
            ]
          }
        ]
      }
    },
    "/gmail/v1/users/{userId}/settings/cse/identities": {
      "get": {
        "tags": ["users.settings.cse.identities"],
        "operationId": "gmail.users.settings.cse.identities.list",
        "description": "Lists the client-side encrypted identities for an authenticated user. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
            "schema": {
              "type": "string",
              "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
              "default": "me"
            },
            "required": true
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Pagination token indicating which page of identities to return. If the token is not supplied, then the API will return the first page of results.",
            "schema": {
              "type": "string",
              "description": "Pagination token indicating which page of identities to return. If the token is not supplied, then the API will return the first page of results."
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of identities to return. If not provided, the page size will default to 20 entries.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "The number of identities to return. If not provided, the page size will default to 20 entries.",
              "default": "20"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCseIdentitiesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://mail.google.com/",
              "https://www.googleapis.com/auth/gmail.modify",
              "https://www.googleapis.com/auth/gmail.readonly",
              "https://www.googleapis.com/auth/gmail.settings.basic",
              "https://www.googleapis.com/auth/gmail.settings.sharing"
            ]
          }
        ]
      },
      "post": {
        "tags": ["users.settings.cse.identities"],
        "operationId": "gmail.users.settings.cse.identities.create",
        "description": "Creates and configures a client-side encryption identity that's authorized to send mail from the user account. Google publishes the S/MIME certificate to a shared domain-wide directory so that people within a Google Workspace organization can encrypt and send mail to the identity. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
            "schema": {
              "type": "string",
              "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
              "default": "me"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CseIdentity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CseIdentity"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/gmail.settings.basic",
              "https://www.googleapis.com/auth/gmail.settings.sharing"
            ]
          }
        ]
      }
    },
[...]
