{
  "openapi": "3.0.0",
  "info": {
    "title": "People API",
    "version": "v1",
    "description": "Provides access to information about profiles and contacts. OpenAPI 3.0 definition generated from the official Google API Discovery document (revision 20260915)."
  },
  "externalDocs": {
    "description": "People API reference",
    "url": "https://developers.google.com/people/"
  },
  "servers": [
    {
      "url": "https://people.googleapis.com/"
    }
  ],
  "paths": {
    "/v1/contactGroups": {
      "post": {
        "tags": ["contactGroups"],
        "operationId": "people.contactGroups.create",
        "description": "Create a new contact group owned by the authenticated user. Created contact group names must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactGroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactGroup"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["https://www.googleapis.com/auth/contacts"]
          }
        ]
      },
      "get": {
        "tags": ["contactGroups"],
        "operationId": "people.contactGroups.list",
        "description": "List all contact groups owned by the authenticated user. Members of the contact groups are not populated.",
        "parameters": [
          {
            "name": "groupFields",
            "in": "query",
            "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
            "schema": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. The next_page_token value returned from a previous call to [ListContactGroups](/people/api/rest/v1/contactgroups/list). Requests the next page of resources.",
            "schema": {
              "type": "string",
              "description": "Optional. The next_page_token value returned from a previous call to [ListContactGroups](/people/api/rest/v1/contactgroups/list). Requests the next page of resources."
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. The maximum number of resources to return. Valid values are between 1 and 1000, inclusive. Defaults to 30 if not set or set to 0.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The maximum number of resources to return. Valid values are between 1 and 1000, inclusive. Defaults to 30 if not set or set to 0."
            }
          },
          {
            "name": "syncToken",
            "in": "query",
            "description": "Optional. A sync token, returned by a previous call to `contactgroups.list`. Only resources changed since the sync token was created will be returned.",
            "schema": {
              "type": "string",
              "description": "Optional. A sync token, returned by a previous call to `contactgroups.list`. Only resources changed since the sync token was created will be returned."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListContactGroupsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/contacts",
              "https://www.googleapis.com/auth/contacts.readonly"
            ]
          }
        ]
      }
    },
    "/v1/{resourceName}": {
      "delete": {
        "tags": ["contactGroups"],
        "operationId": "people.contactGroups.delete",
        "description": "Delete an existing contact group owned by the authenticated user by specifying a contact group resource name. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
        "parameters": [
          {
            "name": "deleteContacts",
            "in": "query",
            "description": "Optional. Set to true to also delete the contacts in the specified group.",
            "schema": {
              "type": "boolean",
              "description": "Optional. Set to true to also delete the contacts in the specified group."
            }
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Required. The resource name of the contact group to delete.",
            "schema": {
              "type": "string",
              "description": "Required. The resource name of the contact group to delete.",
              "pattern": "^contactGroups/[^/]+$"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["https://www.googleapis.com/auth/contacts"]
          }
        ]
      },
      "put": {
        "tags": ["contactGroups"],
        "operationId": "people.contactGroups.update",
        "description": "Update the name of an existing contact group owned by the authenticated user. Updated contact group names must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
        "parameters": [
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`.",
            "schema": {
              "type": "string",
              "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`.",
              "pattern": "^contactGroups/[^/]+$"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContactGroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactGroup"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["https://www.googleapis.com/auth/contacts"]
          }
        ]
      },
      "get": {
        "tags": ["people"],
        "operationId": "people.people.get",
        "description": "Provides information about a person by specifying a resource name. Use `people/me` to indicate the authenticated user. The request returns a 400 error if 'personFields' is not specified.",
        "parameters": [
          {
            "name": "resourceName",
            "in": "path",
            "description": "Required. The resource name of the person to provide information about. - To get information about the authenticated user, specify `people/me`. - To get information about a google account, specify `people/{account_id}`. - To get information about a contact, specify the resource name that identifies the contact as returned by `people.connections.list`.",
            "schema": {
              "type": "string",
              "description": "Required. The resource name of the person to provide information about. - To get information about the authenticated user, specify `people/me`. - To get information about a google account, specify `people/{account_id}`. - To get information about a contact, specify the resource name that identifies the contact as returned by `people.connections.list`.",
              "pattern": "^people/[^/]+$"
            },
            "required": true
          },
          {
            "name": "requestMask.includeField",
            "in": "query",
            "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
            "schema": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`."
            }
          },
          {
            "name": "sources",
            "in": "query",
            "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_PROFILE and READ_SOURCE_TYPE_CONTACT if not set.",
            "schema": {
              "type": "string",
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_PROFILE and READ_SOURCE_TYPE_CONTACT if not set.",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ]
            }
          },
          {
            "name": "personFields",
            "in": "query",
            "description": "Required. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
            "schema": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/contacts",
              "https://www.googleapis.com/auth/contacts.other.readonly",
              "https://www.googleapis.com/auth/contacts.readonly",
              "https://www.googleapis.com/auth/directory.readonly",
              "https://www.googleapis.com/auth/user.addresses.read",
              "https://www.googleapis.com/auth/user.birthday.read",
              "https://www.googleapis.com/auth/user.emails.read",
              "https://www.googleapis.com/auth/user.gender.read",
              "https://www.googleapis.com/auth/user.organization.read",
              "https://www.googleapis.com/auth/user.phonenumbers.read",
              "https://www.googleapis.com/auth/userinfo.email",
              "https://www.googleapis.com/auth/userinfo.profile"
            ]
          }
        ]
      }
    },
    "/v1/contactGroups:batchGet": {
      "get": {
        "tags": ["contactGroups"],
        "operationId": "people.contactGroups.batchGet",
        "description": "Get a list of contact groups owned by the authenticated user by specifying a list of contact group resource names.",
        "parameters": [
          {
            "name": "groupFields",
            "in": "query",
            "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
            "schema": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name"
            }
          },
          {
            "name": "resourceNames",
            "in": "query",
            "description": "Required. The resource names of the contact groups to get. There is a maximum of 200 resource names.",
            "schema": {
              "type": "string",
              "description": "Required. The resource names of the contact groups to get. There is a maximum of 200 resource names."
            }
          },
          {
            "name": "maxMembers",
            "in": "query",
            "description": "Optional. Specifies the maximum number of members to return for each group. Defaults to 0 if not set, which will return zero members.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. Specifies the maximum number of members to return for each group. Defaults to 0 if not set, which will return zero members."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchGetContactGroupsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/contacts",
              "https://www.googleapis.com/auth/contacts.readonly"
            ]
          }
        ]
      }
    },
    "/v1/{resourceName}/members:modify": {
      "post": {
        "tags": ["contactGroups.members"],
        "operationId": "people.contactGroups.members.modify",
        "description": "Modify the members of a contact group owned by the authenticated user. The only system contact groups that can have members added are `contactGroups/myContacts` and `contactGroups/starred`. Other system contact groups are deprecated and can only have contacts removed.",
        "parameters": [
          {
            "name": "resourceName",
            "in": "path",
            "description": "Required. The resource name of the contact group to modify.",
            "schema": {
              "type": "string",
              "description": "Required. The resource name of the contact group to modify.",
              "pattern": "^contactGroups/[^/]+$"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyContactGroupMembersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModifyContactGroupMembersResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["https://www.googleapis.com/auth/contacts"]
          }
        ]
      }
    },
    "/v1/{resourceName}:copyOtherContactToMyContactsGroup": {
      "post": {
        "tags": ["otherContacts"],
        "operationId": "people.otherContacts.copyOtherContactToMyContactsGroup",
        "description": "Copies an \"Other contact\" to a new contact in the user's \"myContacts\" group Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
        "parameters": [
          {
            "name": "resourceName",
            "in": "path",
            "description": "Required. The resource name of the \"Other contact\" to copy.",
            "schema": {
              "type": "string",
              "description": "Required. The resource name of the \"Other contact\" to copy.",
              "pattern": "^otherContacts/[^/]+$"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CopyOtherContactToMyContactsGroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/contacts",
              "https://www.googleapis.com/auth/contacts.other.readonly"
            ]
          }
        ]
      }
    },
    "/v1/otherContacts": {
      "get": {
        "tags": ["otherContacts"],
        "operationId": "people.otherContacts.list",
        "description": "List all \"Other contacts\", that is contacts that are not in a contact group. \"Other contacts\" are typically auto created contacts from interactions. Sync tokens expire 7 days after the full sync. A request with an expired sync token will get an error with an [google.rpc.ErrorInfo](https://cloud.google.com/apis/design/errors#error_info) with reason \"EXPIRED_SYNC_TOKEN\". In the case of such an error clients should make a full sync request without a `sync_token`. The first page of a full sync request has an additional quota. If the quota is exceeded, a 429 error will be returned. This quota is fixed and can not be increased. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the user's other contacts that have changed](/people/v1/other-contacts#list_the_users_other_contacts_that_have_changed).",
        "parameters": [
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `otherContacts.list` must match the first call that provided the page token.",
            "schema": {
              "type": "string",
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `otherContacts.list` must match the first call that provided the page token."
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. The number of \"Other contacts\" to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The number of \"Other contacts\" to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0."
            }
          },
          {
            "name": "readMask",
            "in": "query",
            "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. What values are valid depend on what ReadSourceType is used. If READ_SOURCE_TYPE_CONTACT is used, valid values are: * emailAddresses * metadata * names * phoneNumbers * photos If READ_SOURCE_TYPE_PROFILE is used, valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
            "schema": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. What values are valid depend on what ReadSourceType is used. If READ_SOURCE_TYPE_CONTACT is used, valid values are: * emailAddresses * metadata * names * phoneNumbers * photos If READ_SOURCE_TYPE_PROFILE is used, valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
            }
          },
          {
            "name": "sources",
            "in": "query",
            "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT if not set. Possible values for this field are: * READ_SOURCE_TYPE_CONTACT * READ_SOURCE_TYPE_CONTACT,READ_SOURCE_TYPE_PROFILE Specifying READ_SOURCE_TYPE_PROFILE without specifying READ_SOURCE_TYPE_CONTACT is not permitted.",
            "schema": {
              "type": "string",
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT if not set. Possible values for this field are: * READ_SOURCE_TYPE_CONTACT * READ_SOURCE_TYPE_CONTACT,READ_SOURCE_TYPE_PROFILE Specifying READ_SOURCE_TYPE_PROFILE without specifying READ_SOURCE_TYPE_CONTACT is not permitted.",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ]
            }
          },
          {
            "name": "requestSyncToken",
            "in": "query",
            "description": "Optional. Whether the response should return `next_sync_token` on the last page of results. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `otherContacts.list`.",
            "schema": {
              "type": "boolean",
              "description": "Optional. Whether the response should return `next_sync_token` on the last page of results. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `otherContacts.list`."
            }
          },
          {
            "name": "syncToken",
            "in": "query",
            "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `otherContacts.list` must match the first call that provided the sync token. More details about sync behavior at `otherContacts.list`.",
            "schema": {
              "type": "string",
              "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `otherContacts.list` must match the first call that provided the sync token. More details about sync behavior at `otherContacts.list`."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOtherContactsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/contacts.other.readonly"
            ]
          }
        ]
      }
    },
    "/v1/otherContacts:search": {
      "get": {
        "tags": ["otherContacts"],
        "operationId": "people.otherContacts.search",
        "description": "Provides a list of contacts in the authenticated user's other contacts that matches the search query. The query matches on a contact's `names`, `emailAddresses`, and `phoneNumbers` fields that are from the OTHER_CONTACT source. **IMPORTANT**: Before searching, clients should send a warmup request with an empty query to update the cache. See https://developers.google.com/people/v1/other-contacts#search_the_users_other_contacts",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Required. The plain-text query for the request. The query is used to match prefix phrases of the fields on a person. For example, a person with name \"foo name\" matches queries such as \"f\", \"fo\", \"foo\", \"foo n\", \"nam\", etc., but not \"oo n\".",
            "schema": {
              "type": "string",
              "description": "Required. The plain-text query for the request. The query is used to match prefix phrases of the fields on a person. For example, a person with name \"foo name\" matches queries such as \"f\", \"fo\", \"foo\", \"foo n\", \"nam\", etc., but not \"oo n\"."
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. The number of results to return. Defaults to 10 if field is not set, or set to 0. Values greater than 30 will be capped to 30.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The number of results to return. Defaults to 10 if field is not set, or set to 0. Values greater than 30 will be capped to 30."
            }
          },
          {
            "name": "readMask",
            "in": "query",
            "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * emailAddresses * metadata * names * phoneNumbers",
            "schema": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * emailAddresses * metadata * names * phoneNumbers"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/contacts.other.readonly"
            ]
          }
        ]
      }
    },
    "/v1/people:batchUpdateContacts": {
      "post": {
        "tags": ["people"],
        "operationId": "people.people.batchUpdateContacts",
        "description": "Update a batch of contacts and return a map of resource names to PersonResponses for the updated contacts. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchUpdateContactsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUpdateContactsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["https://www.googleapis.com/auth/contacts"]
          }
        ]
      }
    },
    "/v1/people:searchContacts": {
      "get": {
        "tags": ["people"],
        "operationId": "people.people.searchContacts",
        "description": "Provides a list of contacts in the authenticated user's grouped contacts that matches the search query. The query matches on a contact's `names`, `nickNames`, `emailAddresses`, `phoneNumbers`, and `organizations` fields that are from the CONTACT source. **IMPORTANT**: Before searching, clients should send a warmup request with an empty query to update the cache. See https://developers.google.com/people/v1/contacts#search_the_users_contacts",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Required. The plain-text query for the request. The query is used to match prefix phrases of the fields on a person. For example, a person with name \"foo name\" matches queries such as \"f\", \"fo\", \"foo\", \"foo n\", \"nam\", etc., but not \"oo n\".",
            "schema": {
              "type": "string",
              "description": "Required. The plain-text query for the request. The query is used to match prefix phrases of the fields on a person. For example, a person with name \"foo name\" matches queries such as \"f\", \"fo\", \"foo\", \"foo n\", \"nam\", etc., but not \"oo n\"."
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. The number of results to return. Defaults to 10 if field is not set, or set to 0. Values greater than 30 will be capped to 30.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The number of results to return. Defaults to 10 if field is not set, or set to 0. Values greater than 30 will be capped to 30."
            }
          },
          {
            "name": "readMask",
            "in": "query",
            "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
            "schema": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
            }
          },
          {
            "name": "sources",
            "in": "query",
            "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT if not set.",
            "schema": {
              "type": "string",
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT if not set.",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/contacts",
              "https://www.googleapis.com/auth/contacts.readonly"
            ]
          }
        ]
      }
    },
    "/v1/people:createContact": {
      "post": {
        "tags": ["people"],
        "operationId": "people.people.createContact",
        "description": "Create a new contact and return the person resource for that contact. The request returns a 400 error if more than one field is specified on a field that is a singleton for contact sources: * biographies * birthdays * genders * names Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
        "parameters": [
          {
            "name": "sources",
            "in": "query",
            "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
            "schema": {
              "type": "string",
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ]
            }
          },
          {
            "name": "personFields",
            "in": "query",
            "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Defaults to all fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
            "schema": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Defaults to all fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Person"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["https://www.googleapis.com/auth/contacts"]
          }
        ]
      }
    },
    "/v1/people:batchCreateContacts": {
      "post": {
        "tags": ["people"],
        "operationId": "people.people.batchCreateContacts",
        "description": "Create a batch of new contacts and return the PersonResponses for the newly Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCreateContactsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchCreateContactsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["https://www.googleapis.com/auth/contacts"]
          }
        ]
      }
    },
    "/v1/{resourceName}:updateContactPhoto": {
      "patch": {
        "tags": ["people"],
        "operationId": "people.people.updateContactPhoto",
        "description": "Update a contact's photo. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
        "parameters": [
          {
            "name": "resourceName",
            "in": "path",
            "description": "Required. Person resource name",
            "schema": {
              "type": "string",
              "description": "Required. Person resource name",
              "pattern": "^people/[^/]+$"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContactPhotoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateContactPhotoResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["https://www.googleapis.com/auth/contacts"]
          }
        ]
      }
    },
    "/v1/people:searchDirectoryPeople": {
      "get": {
        "tags": ["people"],
        "operationId": "people.people.searchDirectoryPeople",
        "description": "Provides a list of domain profiles and domain contacts in the authenticated user's domain directory that match the search query.",
        "parameters": [
          {
            "name": "mergeSources",
            "in": "query",
            "description": "Optional. Additional data to merge into the directory sources if they are connected through verified join keys such as email addresses or phone numbers.",
            "schema": {
              "type": "string",
              "description": "Optional. Additional data to merge into the directory sources if they are connected through verified join keys such as email addresses or phone numbers.",
              "enum": [
                "DIRECTORY_MERGE_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_MERGE_SOURCE_TYPE_CONTACT"
              ]
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchDirectoryPeople` must match the first call that provided the page token.",
            "schema": {
              "type": "string",
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchDirectoryPeople` must match the first call that provided the page token."
            }
          },
          {
            "name": "readMask",
            "in": "query",
            "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
            "schema": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. The number of people to include in the response. Valid values are between 1 and 500, inclusive. Defaults to 100 if not set or set to 0.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The number of people to include in the response. Valid values are between 1 and 500, inclusive. Defaults to 100 if not set or set to 0."
            }
          },
          {
            "name": "sources",
            "in": "query",
            "description": "Required. Directory sources to return.",
            "schema": {
              "type": "string",
              "description": "Required. Directory sources to return.",
              "enum": [
                "DIRECTORY_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_CONTACT",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_PROFILE"
              ]
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Required. Prefix query that matches fields in the person. Does NOT use the read_mask for determining what fields to match.",
            "schema": {
              "type": "string",
              "description": "Required. Prefix query that matches fields in the person. Does NOT use the read_mask for determining what fields to match."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchDirectoryPeopleResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["https://www.googleapis.com/auth/directory.readonly"]
          }
        ]
      }
    },
    "/v1/{resourceName}:deleteContact": {
      "delete": {
        "tags": ["people"],
        "operationId": "people.people.deleteContact",
        "description": "Delete a contact person. Any non-contact data will not be deleted. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
        "parameters": [
          {
            "name": "resourceName",
            "in": "path",
            "description": "Required. The resource name of the contact to delete.",
            "schema": {
              "type": "string",
              "description": "Required. The resource name of the contact to delete.",
              "pattern": "^people/[^/]+$"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["https://www.googleapis.com/auth/contacts"]
          }
        ]
      }
    },
    "/v1/{resourceName}:deleteContactPhoto": {
      "delete": {
        "tags": ["people"],
        "operationId": "people.people.deleteContactPhoto",
        "description": "Delete a contact's photo. Mutate requests for the same user should be done sequentially to avoid // lock contention.",
        "parameters": [
          {
            "name": "sources",
            "in": "query",
            "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
            "schema": {
              "type": "string",
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ]
            }
          },
          {
            "name": "personFields",
            "in": "query",
            "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to empty if not set, which will skip the post mutate get. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
            "schema": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to empty if not set, which will skip the post mutate get. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
            }
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Required. The resource name of the contact whose photo will be deleted.",
            "schema": {
              "type": "string",
              "description": "Required. The resource name of the contact whose photo will be deleted.",
              "pattern": "^people/[^/]+$"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteContactPhotoResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["https://www.googleapis.com/auth/contacts"]
          }
        ]
      }
    },
    "/v1/people:batchGet": {
      "get": {
        "tags": ["people"],
        "operationId": "people.people.getBatchGet",
        "description": "Provides information about a list of specific people by specifying a list of requested resource names. Use `people/me` to indicate the authenticated user. The request returns a 400 error if 'personFields' is not specified.",
        "parameters": [
          {
            "name": "personFields",
            "in": "query",
            "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
            "schema": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
            }
          },
          {
            "name": "requestMask.includeField",
            "in": "query",
            "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
            "schema": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`."
            }
          },
          {
            "name": "sources",
            "in": "query",
            "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
            "schema": {
              "type": "string",
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ]
            }
          },
          {
            "name": "resourceNames",
            "in": "query",
            "description": "Required. The resource names of the people to provide information about. It's repeatable. The URL query parameter should be resourceNames=<name1>&resourceNames=<name2>&... - To get information about the authenticated user, specify `people/me`. - To get information about a google account, specify `people/{account_id}`. - To get information about a contact, specify the resource name that identifies the contact as returned by `people.connections.list`. There is a maximum of 200 resource names.",
            "schema": {
              "type": "string",
              "description": "Required. The resource names of the people to provide information about. It's repeatable. The URL query parameter should be resourceNames=<name1>&resourceNames=<name2>&... - To get information about the authenticated user, specify `people/me`. - To get information about a google account, specify `people/{account_id}`. - To get information about a contact, specify the resource name that identifies the contact as returned by `people.connections.list`. There is a maximum of 200 resource names."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPeopleResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/contacts",
              "https://www.googleapis.com/auth/contacts.other.readonly",
              "https://www.googleapis.com/auth/contacts.readonly",
              "https://www.googleapis.com/auth/directory.readonly",
              "https://www.googleapis.com/auth/user.addresses.read",
              "https://www.googleapis.com/auth/user.birthday.read",
              "https://www.googleapis.com/auth/user.emails.read",
              "https://www.googleapis.com/auth/user.gender.read",
              "https://www.googleapis.com/auth/user.organization.read",
              "https://www.googleapis.com/auth/user.phonenumbers.read",
              "https://www.googleapis.com/auth/userinfo.email",
              "https://www.googleapis.com/auth/userinfo.profile"
            ]
          }
        ]
      }
    },
    "/v1/people:batchDeleteContacts": {
      "post": {
        "tags": ["people"],
        "operationId": "people.people.batchDeleteContacts",
        "description": "Delete a batch of contacts. Any non-contact data will not be deleted. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchDeleteContactsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["https://www.googleapis.com/auth/contacts"]
          }
        ]
      }
    },
    "/v1/{resourceName}:updateContact": {
      "patch": {
        "tags": ["people"],
        "operationId": "people.people.updateContact",
        "description": "Update contact data for an existing contact person. Any non-contact data will not be modified. Any non-contact data in the person to update will be ignored. All fields specified in the `update_mask` will be replaced. The server returns a 400 error if `person.metadata.sources` is not specified for the contact to be updated or if there is no contact source. The server returns a 400 error with reason `\"failedPrecondition\"` if `person.metadata.sources.etag` is different than the contact's etag, which indicates the contact has changed since its data was read. Clients should get the latest person and merge their updates into the latest person. If making sequential updates to the same person, the etag from the `updateContact` response should be used to avoid failures. The server returns a 400 error if `memberships` are being updated and there are no contact group memberships specified on the person. The server returns a 400 error if more than one field is specified on a field that is a singleton for contact sources: * biographies * birthdays * genders * names Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
        "parameters": [
          {
            "name": "sources",
            "in": "query",
            "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
            "schema": {
              "type": "string",
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ]
            }
          },
          {
            "name": "personFields",
            "in": "query",
            "description": "Optional. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Defaults to all fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
            "schema": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Optional. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Defaults to all fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
            }
          },
          {
            "name": "updatePersonFields",
            "in": "query",
            "description": "Required. A field mask to restrict which fields on the person are updated. Multiple fields can be specified by separating them with commas. All updated fields will be replaced. Valid values are: * addresses * biographies * birthdays * calendarUrls * clientData * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * relations * sipAddresses * urls * userDefined",
            "schema": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on the person are updated. Multiple fields can be specified by separating them with commas. All updated fields will be replaced. Valid values are: * addresses * biographies * birthdays * calendarUrls * clientData * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * relations * sipAddresses * urls * userDefined"
            }
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name for the person, assigned by the server. An ASCII string in the form of `people/{person_id}`.",
            "schema": {
              "type": "string",
              "description": "The resource name for the person, assigned by the server. An ASCII string in the form of `people/{person_id}`.",
              "pattern": "^people/[^/]+$"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Person"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["https://www.googleapis.com/auth/contacts"]
          }
        ]
      }
    },
    "/v1/people:listDirectoryPeople": {
      "get": {
        "tags": ["people"],
        "operationId": "people.people.listDirectoryPeople",
        "description": "Provides a list of domain profiles and domain contacts in the authenticated user's domain directory. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the directory people that have changed](/people/v1/directory#list_the_directory_people_that_have_changed).",
        "parameters": [
          {
            "name": "mergeSources",
            "in": "query",
            "description": "Optional. Additional data to merge into the directory sources if they are connected through verified join keys such as email addresses or phone numbers.",
            "schema": {
              "type": "string",
              "description": "Optional. Additional data to merge into the directory sources if they are connected through verified join keys such as email addresses or phone numbers.",
              "enum": [
                "DIRECTORY_MERGE_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_MERGE_SOURCE_TYPE_CONTACT"
              ]
            }
          },
          {
            "name": "syncToken",
            "in": "query",
            "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `people.listDirectoryPeople` must match the first call that provided the sync token. More details about sync behavior at `people.listDirectoryPeople`.",
            "schema": {
              "type": "string",
              "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `people.listDirectoryPeople` must match the first call that provided the sync token. More details about sync behavior at `people.listDirectoryPeople`."
            }
          },
          {
            "name": "requestSyncToken",
            "in": "query",
            "description": "Optional. Whether the response should return `next_sync_token`. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `people.listDirectoryPeople`.",
            "schema": {
              "type": "boolean",
              "description": "Optional. Whether the response should return `next_sync_token`. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `people.listDirectoryPeople`."
            }
          },
          {
            "name": "readMask",
            "in": "query",
            "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
            "schema": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. The number of people to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The number of people to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0."
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `people.listDirectoryPeople` must match the first call that provided the page token.",
            "schema": {
              "type": "string",
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `people.listDirectoryPeople` must match the first call that provided the page token."
            }
          },
          {
            "name": "sources",
            "in": "query",
            "description": "Required. Directory sources to return.",
            "schema": {
              "type": "string",
              "description": "Required. Directory sources to return.",
              "enum": [
                "DIRECTORY_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_CONTACT",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_PROFILE"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDirectoryPeopleResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["https://www.googleapis.com/auth/directory.readonly"]
          }
        ]
      }
    },
    "/v1/{resourceName}/connections": {
      "get": {
        "tags": ["people.connections"],
        "operationId": "people.people.connections.list",
        "description": "Provides a list of the authenticated user's contacts. Sync tokens expire 7 days after the full sync. A request with an expired sync token will get an error with an [google.rpc.ErrorInfo](https://cloud.google.com/apis/design/errors#error_info) with reason \"EXPIRED_SYNC_TOKEN\". In the case of such an error clients should make a full sync request without a `sync_token`. The first page of a full sync request has an additional quota. If the quota is exceeded, a 429 error will be returned. This quota is fixed and can not be increased. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the user's contacts that have changed](/people/v1/contacts#list_the_users_contacts_that_have_changed).",
        "parameters": [
          {
            "name": "requestSyncToken",
            "in": "query",
            "description": "Optional. Whether the response should return `next_sync_token` on the last page of results. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `people.connections.list`.",
            "schema": {
              "type": "boolean",
              "description": "Optional. Whether the response should return `next_sync_token` on the last page of results. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `people.connections.list`."
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `people.connections.list` must match the first call that provided the page token.",
            "schema": {
              "type": "string",
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `people.connections.list` must match the first call that provided the page token."
            }
          },
          {
            "name": "personFields",
            "in": "query",
            "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
            "schema": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
            }
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Required. The resource name to return connections for. Only `people/me` is valid.",
            "schema": {
              "type": "string",
              "description": "Required. The resource name to return connections for. Only `people/me` is valid.",
              "pattern": "^people/[^/]+$"
            },
            "required": true
          },
          {
            "name": "requestMask.includeField",
            "in": "query",
            "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
            "schema": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`."
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Optional. The order in which the connections should be sorted. Defaults to `LAST_MODIFIED_ASCENDING`.",
            "schema": {
              "type": "string",
              "description": "Optional. The order in which the connections should be sorted. Defaults to `LAST_MODIFIED_ASCENDING`.",
              "enum": [
                "LAST_MODIFIED_ASCENDING",
                "LAST_MODIFIED_DESCENDING",
                "FIRST_NAME_ASCENDING",
                "LAST_NAME_ASCENDING"
              ]
            }
          },
          {
            "name": "syncToken",
            "in": "query",
            "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `people.connections.list` must match the first call that provided the sync token. More details about sync behavior at `people.connections.list`.",
            "schema": {
              "type": "string",
              "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `people.connections.list` must match the first call that provided the sync token. More details about sync behavior at `people.connections.list`."
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. The number of connections to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The number of connections to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0."
            }
          },
          {
            "name": "sources",
            "in": "query",
            "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
            "schema": {
              "type": "string",
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListConnectionsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/contacts",
              "https://www.googleapis.com/auth/contacts.readonly"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Date": {
        "type": "object",
        "properties": {
          "month": {
            "type": "integer",
            "format": "int32",
            "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          },
          "year": {
            "type": "integer",
            "format": "int32",
            "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          },
          "day": {
            "type": "integer",
            "format": "int32",
            "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        },
        "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      },
      "PhoneNumber": {
        "type": "object",
        "properties": {
          "canonicalForm": {
            "type": "string",
            "description": "Output only. The canonicalized [ITU-T E.164](https://law.resource.org/pub/us/cfr/ibr/004/itu-t.E.164.1.2008.pdf) form of the phone number.",
            "readOnly": true
          },
          "metadata": {
            "$ref": "#/components/schemas/FieldMetadata"
          },
          "type": {
            "type": "string",
            "description": "The type of the phone number. The type can be custom or one of these predefined values: * `home` * `work` * `mobile` * `homeFax` * `workFax` * `otherFax` * `pager` * `workMobile` * `workPager` * `main` * `googleVoice` * `other`"
          },
          "formattedType": {
            "type": "string",
            "description": "Output only. The type of the phone number translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
            "readOnly": true
          },
          "value": {
            "type": "string",
            "description": "The phone number."
          }
        },
        "description": "A person's phone number."
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            },
            "description": "The results of the request."
          }
        },
        "description": "The response to a search request for the authenticated user, given a query."
      },
      "Url": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "description": "The URL."
          },
          "type": {
            "type": "string",
            "description": "The type of the URL. The type can be custom or one of these predefined values: * `home` * `work` * `blog` * `profile` * `homePage` * `ftp` * `reservations` * `appInstallPage`: website for a Currents application. * `other`"
          },
          "metadata": {
            "$ref": "#/components/schemas/FieldMetadata"
          },
          "formattedType": {
            "type": "string",
            "description": "Output only. The type of the URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
            "readOnly": true
          }
        },
        "description": "A person's associated URLs."
      },
      "FileAs": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/FieldMetadata"
          },
          "value": {
            "type": "string",
            "description": "The file-as value"
          }
        },
        "description": "The name that should be used to sort the person in a list."
      },
      "RelationshipInterest": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "description": "The kind of relationship the person is looking for. The value can be custom or one of these predefined values: * `friend` * `date` * `relationship` * `networking`"
          },
          "metadata": {
            "$ref": "#/components/schemas/FieldMetadata"
          },
          "formattedValue": {
            "type": "string",
            "description": "Output only. The value of the relationship interest translated and formatted in the viewer's account locale or the locale specified in the Accept-Language HTTP header.",
            "readOnly": true
          }
        },
        "description": "**DEPRECATED**: No data will be returned A person's relationship interest ."
      },
      "Photo": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/FieldMetadata"
          },
          "default": {
            "type": "boolean",
            "description": "True if the photo is a default photo; false if the photo is a user-provided photo."
          },
          "url": {
            "type": "string",
            "description": "The URL of the photo. You can change the desired size by appending a query parameter `sz={size}` at the end of the url, where {size} is the size in pixels. Example: https://lh3.googleusercontent.com/-T_wVWLlmg7w/AAAAAAAAAAI/AAAAAAAABa8/00gzXvDBYqw/s100/photo.jpg?sz=50"
          }
        },
        "description": "A person's photo. A picture shown next to the person's name to help others recognize the person."
      },
      "ContactGroup": {
        "type": "object",
        "properties": {
          "etag": {
            "type": "string",
            "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation."
          },
          "resourceName": {
            "type": "string",
            "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`."
          },
          "clientData": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GroupClientData"
            },
            "description": "The group's client data."
          },
          "name": {
            "type": "string",
            "description": "The contact group name set by the group owner or a system provided name for system groups. For [`contactGroups.create`](/people/api/rest/v1/contactGroups/create) or [`contactGroups.update`](/people/api/rest/v1/contactGroups/update) the name must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error."
          },
          "metadata": {
            "$ref": "#/components/schemas/ContactGroupMetadata"
          },
          "groupType": {
            "type": "string",
            "description": "Output only. The contact group type.",
            "enum": [
              "GROUP_TYPE_UNSPECIFIED",
              "USER_CONTACT_GROUP",
              "SYSTEM_CONTACT_GROUP"
            ],
            "readOnly": true
          },
          "memberResourceNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Output only. The list of contact person resource names that are members of the contact group. The field is only populated for GET requests and will only return as many members as `maxMembers` in the get request.",
            "readOnly": true
          },
          "memberCount": {
            "type": "integer",
            "format": "int32",
            "description": "Output only. The total number of contacts in the group irrespective of max members in specified in the request.",
            "readOnly": true
          },
          "formattedName": {
            "type": "string",
            "description": "Output only. The name translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale for system groups names. Group names set by the owner are the same as name.",
            "readOnly": true
          }
        },
        "description": "A contact group."
      },
      "UpdateContactGroupRequest": {
        "type": "object",
        "properties": {
          "readGroupFields": {
            "type": "string",
            "format": "google-fieldmask",
            "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name"
          },
          "contactGroup": {
            "$ref": "#/components/schemas/ContactGroup"
          },
          "updateGroupFields": {
            "type": "string",
            "format": "google-fieldmask",
            "description": "Optional. A field mask to restrict which fields on the group are updated. Multiple fields can be specified by separating them with commas. Defaults to `name` if not set or set to empty. Updated fields are replaced. Valid values are: * clientData * name"
          }
        },
        "description": "A request to update an existing user contact group. All updated fields will be replaced."
      },
      "GetPeopleResponse": {
        "type": "object",
        "properties": {
          "responses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonResponse"
            },
            "description": "The response for each requested resource name."
          }
        },
        "description": "The response to a get request for a list of people by resource name."
      },
      "ContactToCreate": {
        "type": "object",
        "properties": {
          "contactPerson": {
            "$ref": "#/components/schemas/Person"
          }
        },
        "description": "A wrapper that contains the person data to populate a newly created source."
      },
      "ExternalId": {
        "type": "object",
        "properties": {
          "formattedType": {
            "type": "string",
            "description": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
            "readOnly": true
          },
          "metadata": {
            "$ref": "#/components/schemas/FieldMetadata"
          },
          "type": {
            "type": "string",
            "description": "The type of the external ID. The type can be custom or one of these predefined values: * `account` * `customer` * `loginId` * `network` * `organization`"
          },
          "value": {
            "type": "string",
            "description": "The value of the external ID."
          }
        },
        "description": "An identifier from an external entity related to the person."
      },
      "ImClient": {
        "type": "object",
        "properties": {
          "formattedType": {
            "type": "string",
            "description": "Output only. The type of the IM client translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
            "readOnly": true
          },
          "formattedProtocol": {
            "type": "string",
            "description": "Output only. The protocol of the IM client formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
            "readOnly": true
          },
          "type": {
            "type": "string",
            "description": "The type of the IM client. The type can be custom or one of these predefined values: * `home` * `work` * `other`"
          },
          "metadata": {
            "$ref": "#/components/schemas/FieldMetadata"
          },
          "protocol": {
            "type": "string",
            "description": "The protocol of the IM client. The protocol can be custom or one of these predefined values: * `aim` * `msn` * `yahoo` * `skype` * `qq` * `googleTalk` * `icq` * `jabber` * `netMeeting`"
          },
          "username": {
            "type": "string",
            "description": "The user name used in the IM client."
          }
        },
        "description": "A person's instant messaging client."
      },
      "ContactGroupMembership": {
        "type": "object",
        "properties": {
          "contactGroupResourceName": {
            "type": "string",
            "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`. Only contact_group_resource_name can be used for modifying memberships. Any contact group membership can be removed, but only user group or \"myContacts\" or \"starred\" system groups memberships can be added. A contact must always have at least one contact group membership."
          },
          "contactGroupId": {
            "type": "string",
            "description": "Output only. The contact group ID for the contact group membership.",
            "readOnly": true
          }
        },
        "description": "A Google contact group membership."
      },
      "BraggingRights": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/FieldMetadata"
          },
          "value": {
            "type": "string",
            "description": "The bragging rights; for example, `climbed mount everest`."
          }
        },
        "description": "**DEPRECATED**: No data will be returned A person's bragging rights."
      },
      "ProfileMetadata": {
        "type": "object",
        "properties": {
          "objectType": {
            "type": "string",
            "description": "Output only. The profile object type.",
            "enum": ["OBJECT_TYPE_UNSPECIFIED", "PERSON", "PAGE"],
            "readOnly": true
          },
          "userTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "USER_TYPE_UNKNOWN",
                "GOOGLE_USER",
                "GPLUS_USER",
                "GOOGLE_APPS_USER"
              ]
            },
            "description": "Output only. The user types.",
            "readOnly": true
          }
        },
        "description": "The metadata about a profile."
      },
      "CopyOtherContactToMyContactsGroupRequest": {
        "type": "object",
        "properties": {
          "readMask": {
            "type": "string",
            "format": "google-fieldmask",
            "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to the copy mask with metadata and membership fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
          },
          "copyMask": {
            "type": "string",
            "format": "google-fieldmask",
            "description": "Required. A field mask to restrict which fields are copied into the new contact. Valid values are: * emailAddresses * names * phoneNumbers"
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ]
            },
            "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set."
          }
        },
        "description": "A request to copy an \"Other contact\" to my contacts group."
      },
      "Biography": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/FieldMetadata"
          },
          "value": {
            "type": "string",
            "description": "The short biography."
          },
          "contentType": {
            "type": "string",
            "description": "The content type of the biography.",
            "enum": ["CONTENT_TYPE_UNSPECIFIED", "TEXT_PLAIN", "TEXT_HTML"]
          }
        },
        "description": "A person's short biography."
      },
      "Residence": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/FieldMetadata"
          },
          "current": {
            "type": "boolean",
            "description": "True if the residence is the person's current residence; false if the residence is a past residence."
          },
          "value": {
            "type": "string",
            "description": "The address of the residence."
          }
        },
        "description": "**DEPRECATED**: Please use `person.locations` instead. A person's past or current residence."
      },
      "PersonResponse": {
        "type": "object",
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "format": "int32",
            "description": "**DEPRECATED** (Please use status instead) [HTTP 1.1 status code] (http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html)."
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "person": {
            "$ref": "#/components/schemas/Person"
          },
          "requestedResourceName": {
            "type": "string",
            "description": "The original requested resource name. May be different than the resource name on the returned person. The resource name can change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or a profile URL."
          }
        },
        "description": "The response for a single person"
      },
      "MiscKeyword": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The miscellaneous keyword type.",
            "enum": [
              "TYPE_UNSPECIFIED",
              "OUTLOOK_BILLING_INFORMATION",
              "OUTLOOK_DIRECTORY_SERVER",
              "OUTLOOK_KEYWORD",
              "OUTLOOK_MILEAGE",
              "OUTLOOK_PRIORITY",
              "OUTLOOK_SENSITIVITY",
              "OUTLOOK_SUBJECT",
              "OUTLOOK_USER",
              "HOME",
              "WORK",
              "OTHER"
            ]
          },
          "formattedType": {
            "type": "string",
            "description": "Output only. The type of the miscellaneous keyword translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
            "readOnly": true
          },
          "value": {
            "type": "string",
            "description": "The value of the miscellaneous keyword."
          },
          "metadata": {
            "$ref": "#/components/schemas/FieldMetadata"
          }
        },
        "description": "A person's miscellaneous keyword."
      },
      "DomainMembership": {
        "type": "object",
        "properties": {
          "inViewerDomain": {
            "type": "boolean",
            "description": "True if the person is in the viewer's Google Workspace domain."
          }
        },
        "description": "A Google Workspace Domain membership."
      },
      "Location": {
        "type": "object",
        "properties": {
          "buildingId": {
            "type": "string",
            "description": "The building identifier."
          },
          "floorSection": {
            "type": "string",
            "description": "The floor section in `floor_name`."
          },
          "metadata": {
            "$ref": "#/components/schemas/FieldMetadata"
          },
          "floor": {
            "type": "string",
            "description": "The floor name or number."
          },
          "deskCode": {
            "type": "string",
            "description": "The individual desk location."
          },
          "value": {
            "type": "string",
            "description": "The free-form value of the location."
          },
          "type": {
            "type": "string",
[...]
