{
  "openapi": "3.0.0",
  "info": {
    "title": "Google Sheets API",
    "version": "v4",
    "description": "Reads and writes Google Sheets. OpenAPI 3.0 definition generated from the official Google API Discovery document (revision 20260904)."
  },
  "externalDocs": {
    "description": "Google Sheets API reference",
    "url": "https://developers.google.com/workspace/sheets/"
  },
  "servers": [
    {
      "url": "https://sheets.googleapis.com/"
    }
  ],
  "paths": {
    "/v4/spreadsheets/{spreadsheetId}:batchUpdate": {
      "post": {
        "tags": ["spreadsheets"],
        "operationId": "sheets.spreadsheets.batchUpdate",
        "description": "Applies one or more updates to the spreadsheet. Each request is validated before being applied. If any request is not valid then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. The replies will mirror the requests. For example, if you applied 4 updates and the 3rd one had a reply, then the response will have 2 empty replies, the actual reply, and another empty reply, in that order. Due to the collaborative nature of spreadsheets, it is not guaranteed that the spreadsheet will reflect exactly your changes after this completes, however it is guaranteed that the updates in the request will be applied together atomically. Your changes may be altered with respect to collaborator changes. If there are no collaborators, the spreadsheet should reflect your changes.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The spreadsheet to apply the updates to.",
            "schema": {
              "type": "string",
              "description": "The spreadsheet to apply the updates to."
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchUpdateSpreadsheetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUpdateSpreadsheetResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}:getByDataFilter": {
      "post": {
        "tags": ["spreadsheets"],
        "operationId": "sheets.spreadsheets.getByDataFilter",
        "description": "Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). This method differs from GetSpreadsheet in that it allows selecting which subsets of spreadsheet data to return by specifying a dataFilters parameter. Multiple DataFilters can be specified. Specifying one or more data filters returns the portions of the spreadsheet that intersect ranges matched by any of the filters. By default, data within grids is not returned. You can include grid data in one of two ways: * Specify a [field mask](https://developers.google.com/workspace/sheets/api/guides/field-masks) listing your desired fields using the `fields` URL parameter in HTTP. * Set the includeGridData parameter to `true`. If a field mask is set, the `includeGridData` parameter is ignored. For large spreadsheets, as a best practice, retrieve only the specific spreadsheet fields that you want.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The spreadsheet to request.",
            "schema": {
              "type": "string",
              "description": "The spreadsheet to request."
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSpreadsheetByDataFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spreadsheet"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets": {
      "post": {
        "tags": ["spreadsheets"],
        "operationId": "sheets.spreadsheets.create",
        "description": "Creates a spreadsheet, returning the newly created spreadsheet.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Spreadsheet"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spreadsheet"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}": {
      "get": {
        "tags": ["spreadsheets"],
        "operationId": "sheets.spreadsheets.get",
        "description": "Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. By default, data within grids is not returned. You can include grid data in one of 2 ways: * Specify a [field mask](https://developers.google.com/workspace/sheets/api/guides/field-masks) listing your desired fields using the `fields` URL parameter in HTTP * Set the includeGridData URL parameter to true. If a field mask is set, the `includeGridData` parameter is ignored For large spreadsheets, as a best practice, retrieve only the specific spreadsheet fields that you want. To retrieve only subsets of spreadsheet data, use the ranges URL parameter. Ranges are specified using [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell). You can define a single cell (for example, `A1`) or multiple cells (for example, `A1:D5`). You can also get cells from other sheets within the same spreadsheet (for example, `Sheet2!A1:C4`) or retrieve multiple ranges at once (for example, `?ranges=A1:D5&ranges=Sheet2!A1:C4`). Limiting the range returns only the portions of the spreadsheet that intersect the requested ranges.",
        "parameters": [
          {
            "name": "excludeTablesInBandedRanges",
            "in": "query",
            "description": "True if tables should be excluded in the banded ranges. False if not set.",
            "schema": {
              "type": "boolean",
              "description": "True if tables should be excluded in the banded ranges. False if not set."
            }
          },
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The spreadsheet to request.",
            "schema": {
              "type": "string",
              "description": "The spreadsheet to request."
            },
            "required": true
          },
          {
            "name": "ranges",
            "in": "query",
            "description": "The ranges to retrieve from the spreadsheet.",
            "schema": {
              "type": "string",
              "description": "The ranges to retrieve from the spreadsheet."
            }
          },
          {
            "name": "includeGridData",
            "in": "query",
            "description": "True if grid data should be returned. This parameter is ignored if a field mask was set in the request.",
            "schema": {
              "type": "boolean",
              "description": "True if grid data should be returned. This parameter is ignored if a field mask was set in the request."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spreadsheet"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.readonly",
              "https://www.googleapis.com/auth/spreadsheets",
              "https://www.googleapis.com/auth/spreadsheets.readonly"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter": {
      "post": {
        "tags": ["spreadsheets.values"],
        "operationId": "sheets.spreadsheets.values.batchGetByDataFilter",
        "description": "Returns one or more ranges of values that match the specified data filters. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). The caller must specify the spreadsheet ID and one or more DataFilters. Ranges that match any of the data filters in the request will be returned.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The ID of the spreadsheet to retrieve data from.",
            "schema": {
              "type": "string",
              "description": "The ID of the spreadsheet to retrieve data from."
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchGetValuesByDataFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchGetValuesByDataFilterResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values/{range}:append": {
      "post": {
        "tags": ["spreadsheets.values"],
        "operationId": "sheets.spreadsheets.values.append",
        "description": "Appends values to a spreadsheet. The input range is used to search for existing data and find a \"table\" within that range. Values will be appended to the next row of the table, starting with the first column of the table. See the [guide](https://developers.google.com/workspace/sheets/api/guides/values#appending_values) and [sample code](https://developers.google.com/workspace/sheets/api/samples/writing#append_values) for specific details of how tables are detected and data is appended. The caller must specify the spreadsheet ID, range, and a valueInputOption. The `valueInputOption` only controls how the input data will be added to the sheet (column-wise or row-wise), it does not influence what cell the data starts being written to.",
        "parameters": [
          {
            "name": "insertDataOption",
            "in": "query",
            "description": "How the input data should be inserted.",
            "schema": {
              "type": "string",
              "description": "How the input data should be inserted.",
              "enum": ["OVERWRITE", "INSERT_ROWS"]
            }
          },
          {
            "name": "range",
            "in": "path",
            "description": "The [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of a range to search for a logical table of data. Values are appended after the last row of the table.",
            "schema": {
              "type": "string",
              "description": "The [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of a range to search for a logical table of data. Values are appended after the last row of the table."
            },
            "required": true
          },
          {
            "name": "responseValueRenderOption",
            "in": "query",
            "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.",
            "schema": {
              "type": "string",
              "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.",
              "enum": ["FORMATTED_VALUE", "UNFORMATTED_VALUE", "FORMULA"]
            }
          },
          {
            "name": "valueInputOption",
            "in": "query",
            "description": "How the input data should be interpreted.",
            "schema": {
              "type": "string",
              "description": "How the input data should be interpreted.",
              "enum": ["INPUT_VALUE_OPTION_UNSPECIFIED", "RAW", "USER_ENTERED"]
            }
          },
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The ID of the spreadsheet to update.",
            "schema": {
              "type": "string",
              "description": "The ID of the spreadsheet to update."
            },
            "required": true
          },
          {
            "name": "responseDateTimeRenderOption",
            "in": "query",
            "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
            "schema": {
              "type": "string",
              "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
              "enum": ["SERIAL_NUMBER", "FORMATTED_STRING"]
            }
          },
          {
            "name": "includeValuesInResponse",
            "in": "query",
            "description": "Determines if the update response should include the values of the cells that were appended. By default, responses do not include the updated values.",
            "schema": {
              "type": "boolean",
              "description": "Determines if the update response should include the values of the cells that were appended. By default, responses do not include the updated values."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueRange"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppendValuesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values:batchUpdate": {
      "post": {
        "tags": ["spreadsheets.values"],
        "operationId": "sheets.spreadsheets.values.batchUpdate",
        "description": "Sets values in one or more ranges of a spreadsheet. The caller must specify the spreadsheet ID, a valueInputOption, and one or more ValueRanges.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The ID of the spreadsheet to update.",
            "schema": {
              "type": "string",
              "description": "The ID of the spreadsheet to update."
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchUpdateValuesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUpdateValuesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter": {
      "post": {
        "tags": ["spreadsheets.values"],
        "operationId": "sheets.spreadsheets.values.batchClearByDataFilter",
        "description": "Clears one or more ranges of values from a spreadsheet. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). The caller must specify the spreadsheet ID and one or more DataFilters. Ranges matching any of the specified data filters will be cleared. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc.) are kept.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The ID of the spreadsheet to update.",
            "schema": {
              "type": "string",
              "description": "The ID of the spreadsheet to update."
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchClearValuesByDataFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchClearValuesByDataFilterResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter": {
      "post": {
        "tags": ["spreadsheets.values"],
        "operationId": "sheets.spreadsheets.values.batchUpdateByDataFilter",
        "description": "Sets values in one or more ranges of a spreadsheet. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). The caller must specify the spreadsheet ID, a valueInputOption, and one or more DataFilterValueRanges.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The ID of the spreadsheet to update.",
            "schema": {
              "type": "string",
              "description": "The ID of the spreadsheet to update."
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchUpdateValuesByDataFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUpdateValuesByDataFilterResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values/{range}": {
      "get": {
        "tags": ["spreadsheets.values"],
        "operationId": "sheets.spreadsheets.values.get",
        "description": "Returns a range of values from a spreadsheet. The caller must specify the spreadsheet ID and a range.",
        "parameters": [
          {
            "name": "valueRenderOption",
            "in": "query",
            "description": "How values should be represented in the output. The default render option is FORMATTED_VALUE.",
            "schema": {
              "type": "string",
              "description": "How values should be represented in the output. The default render option is FORMATTED_VALUE.",
              "enum": ["FORMATTED_VALUE", "UNFORMATTED_VALUE", "FORMULA"]
            }
          },
          {
            "name": "range",
            "in": "path",
            "description": "The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the range to retrieve values from.",
            "schema": {
              "type": "string",
              "description": "The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the range to retrieve values from."
            },
            "required": true
          },
          {
            "name": "dateTimeRenderOption",
            "in": "query",
            "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
            "schema": {
              "type": "string",
              "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
              "enum": ["SERIAL_NUMBER", "FORMATTED_STRING"]
            }
          },
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The ID of the spreadsheet to retrieve data from.",
            "schema": {
              "type": "string",
              "description": "The ID of the spreadsheet to retrieve data from."
            },
            "required": true
          },
          {
            "name": "majorDimension",
            "in": "query",
            "description": "The major dimension that results should use. For example, if the spreadsheet data in Sheet1 is: `A1=1,B1=2,A2=3,B2=4`, then requesting `range=Sheet1!A1:B2?majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `range=Sheet1!A1:B2?majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.",
            "schema": {
              "type": "string",
              "description": "The major dimension that results should use. For example, if the spreadsheet data in Sheet1 is: `A1=1,B1=2,A2=3,B2=4`, then requesting `range=Sheet1!A1:B2?majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `range=Sheet1!A1:B2?majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.",
              "enum": ["DIMENSION_UNSPECIFIED", "ROWS", "COLUMNS"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValueRange"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.readonly",
              "https://www.googleapis.com/auth/spreadsheets",
              "https://www.googleapis.com/auth/spreadsheets.readonly"
            ]
          }
        ]
      },
      "put": {
        "tags": ["spreadsheets.values"],
        "operationId": "sheets.spreadsheets.values.update",
        "description": "Sets values in a range of a spreadsheet. The caller must specify the spreadsheet ID, range, and a valueInputOption.",
        "parameters": [
          {
            "name": "valueInputOption",
            "in": "query",
            "description": "How the input data should be interpreted.",
            "schema": {
              "type": "string",
              "description": "How the input data should be interpreted.",
              "enum": ["INPUT_VALUE_OPTION_UNSPECIFIED", "RAW", "USER_ENTERED"]
            }
          },
          {
            "name": "range",
            "in": "path",
            "description": "The [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the values to update.",
            "schema": {
              "type": "string",
              "description": "The [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the values to update."
            },
            "required": true
          },
          {
            "name": "responseValueRenderOption",
            "in": "query",
            "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.",
            "schema": {
              "type": "string",
              "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.",
              "enum": ["FORMATTED_VALUE", "UNFORMATTED_VALUE", "FORMULA"]
            }
          },
          {
            "name": "responseDateTimeRenderOption",
            "in": "query",
            "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
            "schema": {
              "type": "string",
              "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
              "enum": ["SERIAL_NUMBER", "FORMATTED_STRING"]
            }
          },
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The ID of the spreadsheet to update.",
            "schema": {
              "type": "string",
              "description": "The ID of the spreadsheet to update."
            },
            "required": true
          },
          {
            "name": "includeValuesInResponse",
            "in": "query",
            "description": "Determines if the update response should include the values of the cells that were updated. By default, responses do not include the updated values. If the range to write was larger than the range actually written, the response includes all values in the requested range (excluding trailing empty rows and columns).",
            "schema": {
              "type": "boolean",
              "description": "Determines if the update response should include the values of the cells that were updated. By default, responses do not include the updated values. If the range to write was larger than the range actually written, the response includes all values in the requested range (excluding trailing empty rows and columns)."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueRange"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateValuesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values:batchClear": {
      "post": {
        "tags": ["spreadsheets.values"],
        "operationId": "sheets.spreadsheets.values.batchClear",
        "description": "Clears one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges. Only values are cleared -- all other properties of the cell (such as formatting and data validation) are kept.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The ID of the spreadsheet to update.",
            "schema": {
              "type": "string",
              "description": "The ID of the spreadsheet to update."
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchClearValuesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchClearValuesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values:batchGet": {
      "get": {
        "tags": ["spreadsheets.values"],
        "operationId": "sheets.spreadsheets.values.batchGet",
        "description": "Returns one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges.",
        "parameters": [
          {
            "name": "majorDimension",
            "in": "query",
            "description": "The major dimension that results should use. For example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then requesting `ranges=[\"A1:B2\"],majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `ranges=[\"A1:B2\"],majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.",
            "schema": {
              "type": "string",
              "description": "The major dimension that results should use. For example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then requesting `ranges=[\"A1:B2\"],majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `ranges=[\"A1:B2\"],majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.",
              "enum": ["DIMENSION_UNSPECIFIED", "ROWS", "COLUMNS"]
            }
          },
          {
            "name": "ranges",
            "in": "query",
            "description": "The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the range to retrieve values from.",
            "schema": {
              "type": "string",
              "description": "The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the range to retrieve values from."
            }
          },
          {
            "name": "valueRenderOption",
            "in": "query",
            "description": "How values should be represented in the output. The default render option is ValueRenderOption.FORMATTED_VALUE.",
            "schema": {
              "type": "string",
              "description": "How values should be represented in the output. The default render option is ValueRenderOption.FORMATTED_VALUE.",
              "enum": ["FORMATTED_VALUE", "UNFORMATTED_VALUE", "FORMULA"]
            }
          },
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The ID of the spreadsheet to retrieve data from.",
            "schema": {
              "type": "string",
              "description": "The ID of the spreadsheet to retrieve data from."
            },
            "required": true
          },
          {
            "name": "dateTimeRenderOption",
            "in": "query",
            "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
            "schema": {
              "type": "string",
              "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
              "enum": ["SERIAL_NUMBER", "FORMATTED_STRING"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchGetValuesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.readonly",
              "https://www.googleapis.com/auth/spreadsheets",
              "https://www.googleapis.com/auth/spreadsheets.readonly"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values/{range}:clear": {
      "post": {
        "tags": ["spreadsheets.values"],
        "operationId": "sheets.spreadsheets.values.clear",
        "description": "Clears values from a spreadsheet. The caller must specify the spreadsheet ID and range. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc..) are kept.",
        "parameters": [
          {
            "name": "range",
            "in": "path",
            "description": "The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the values to clear.",
            "schema": {
              "type": "string",
              "description": "The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the values to clear."
            },
            "required": true
          },
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The ID of the spreadsheet to update.",
            "schema": {
              "type": "string",
              "description": "The ID of the spreadsheet to update."
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClearValuesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClearValuesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}": {
      "get": {
        "tags": ["spreadsheets.developerMetadata"],
        "operationId": "sheets.spreadsheets.developerMetadata.get",
        "description": "Returns the developer metadata with the specified ID. The caller must specify the spreadsheet ID and the developer metadata's unique metadataId. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata).",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The ID of the spreadsheet to retrieve metadata from.",
            "schema": {
              "type": "string",
              "description": "The ID of the spreadsheet to retrieve metadata from."
            },
            "required": true
          },
          {
            "name": "metadataId",
            "in": "path",
            "description": "The ID of the developer metadata to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "The ID of the developer metadata to retrieve."
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeveloperMetadata"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/developerMetadata:search": {
      "post": {
        "tags": ["spreadsheets.developerMetadata"],
        "operationId": "sheets.spreadsheets.developerMetadata.search",
        "description": "Returns all developer metadata matching the specified DataFilter. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). If the provided DataFilter represents a DeveloperMetadataLookup object, this will return all DeveloperMetadata entries selected by it. If the DataFilter represents a location in a spreadsheet, this will return all developer metadata associated with locations intersecting that region.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The ID of the spreadsheet to retrieve metadata from.",
            "schema": {
              "type": "string",
              "description": "The ID of the spreadsheet to retrieve metadata from."
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchDeveloperMetadataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchDeveloperMetadataResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo": {
      "post": {
        "tags": ["spreadsheets.sheets"],
        "operationId": "sheets.spreadsheets.sheets.copyTo",
        "description": "Copies a single sheet from a spreadsheet to another spreadsheet. Returns the properties of the newly created sheet.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The ID of the spreadsheet containing the sheet to copy.",
            "schema": {
              "type": "string",
              "description": "The ID of the spreadsheet containing the sheet to copy."
            },
            "required": true
          },
          {
            "name": "sheetId",
            "in": "path",
            "description": "The ID of the sheet to copy.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "The ID of the sheet to copy."
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CopySheetToAnotherSpreadsheetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SheetProperties"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "UpdateValuesResponse": {
        "type": "object",
        "properties": {
          "updatedRows": {
            "type": "integer",
            "format": "int32",
            "description": "The number of rows where at least one cell in the row was updated."
          },
          "updatedColumns": {
            "type": "integer",
            "format": "int32",
            "description": "The number of columns where at least one cell in the column was updated."
          },
          "updatedData": {
            "$ref": "#/components/schemas/ValueRange"
          },
          "updatedRange": {
            "type": "string",
            "description": "The range (in A1 notation) that updates were applied to."
          },
          "updatedCells": {
            "type": "integer",
            "format": "int32",
            "description": "The number of cells updated."
          },
          "spreadsheetId": {
            "type": "string",
            "description": "The spreadsheet the updates were applied to."
          }
        },
        "description": "The response when updating a range of values in a spreadsheet."
      },
      "DuplicateFilterViewResponse": {
        "type": "object",
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/FilterView"
          }
        },
        "description": "The result of a filter view being duplicated."
      },
      "TextFormatRun": {
        "type": "object",
        "properties": {
          "format": {
            "$ref": "#/components/schemas/TextFormat"
          },
          "startIndex": {
            "type": "integer",
            "format": "int32",
            "description": "The zero-based character index where this run starts, in UTF-16 code units."
          }
        },
        "description": "A run of a text format. The format of this run continues until the start index of the next run. When updating, all fields must be set."
      },
      "DimensionProperties": {
        "type": "object",
        "properties": {
          "hiddenByUser": {
            "type": "boolean",
            "description": "True if this dimension is explicitly hidden."
          },
          "hiddenByFilter": {
            "type": "boolean",
            "description": "True if this dimension is being filtered. This field is read-only."
          },
          "pixelSize": {
            "type": "integer",
            "format": "int32",
            "description": "The height (if a row) or width (if a column) of the dimension in pixels."
          },
          "dataSourceColumnReference": {
            "$ref": "#/components/schemas/DataSourceColumnReference"
          },
          "developerMetadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeveloperMetadata"
            },
            "description": "The developer metadata associated with a single row or column."
          }
        },
        "description": "Properties about a dimension."
      },
      "BatchGetValuesResponse": {
        "type": "object",
        "properties": {
          "valueRanges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValueRange"
            },
            "description": "The requested values. The order of the ValueRanges is the same as the order of the requested ranges."
          },
          "spreadsheetId": {
            "type": "string",
            "description": "The ID of the spreadsheet the data was retrieved from."
          }
        },
        "description": "The response when retrieving more than one range of values in a spreadsheet."
      },
      "AddBandingRequest": {
        "type": "object",
        "properties": {
          "bandedRange": {
            "$ref": "#/components/schemas/BandedRange"
          }
        },
        "description": "Adds a new banded range to the spreadsheet."
      },
      "AddNamedRangeRequest": {
        "type": "object",
        "properties": {
          "namedRange": {
            "$ref": "#/components/schemas/NamedRange"
          }
        },
        "description": "Adds a named range to the spreadsheet."
      },
      "GridData": {
        "type": "object",
        "properties": {
          "startColumn": {
            "type": "integer",
            "format": "int32",
            "description": "The first column this GridData refers to, zero-based."
          },
          "rowMetadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DimensionProperties"
            },
            "description": "Metadata about the requested rows in the grid, starting with the row in start_row."
          },
          "columnMetadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DimensionProperties"
            },
            "description": "Metadata about the requested columns in the grid, starting with the column in start_column."
          },
          "startRow": {
            "type": "integer",
            "format": "int32",
            "description": "The first row this GridData refers to, zero-based."
          },
          "rowData": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RowData"
            },
            "description": "The data in the grid, one entry per row, starting with the row in startRow. The values in RowData will correspond to columns starting at start_column."
          }
        },
        "description": "Data in the grid, as well as metadata about the dimensions."
      },
      "CandlestickSeries": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ChartData"
          }
        },
        "description": "The series of a CandlestickData."
      },
      "InsertDimensionRequest": {
        "type": "object",
        "properties": {
          "range": {
            "$ref": "#/components/schemas/DimensionRange"
          },
          "inheritFromBefore": {
            "type": "boolean",
            "description": "Whether dimension properties should be extended from the dimensions before or after the newly inserted dimensions. True to inherit from the dimensions before (in which case the start index must be greater than 0), and false to inherit from the dimensions after. For example, if row index 0 has red background and row index 1 has a green background, then inserting 2 rows at index 1 can inherit either the green or red background. If `inheritFromBefore` is true, the two new rows will be red (because the row before the insertion point was red), whereas if `inheritFromBefore` is false, the two new rows will be green (because the row after the insertion point was green)."
          }
        },
        "description": "Inserts rows or columns in a sheet at a particular index."
      },
      "SearchDeveloperMetadataResponse": {
        "type": "object",
        "properties": {
          "matchedDeveloperMetadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MatchedDeveloperMetadata"
            },
            "description": "The metadata matching the criteria of the search request."
          }
        },
        "description": "A reply to a developer metadata search request."
      },
      "TableColumnDataValidationRule": {
        "type": "object",
        "properties": {
          "condition": {
            "$ref": "#/components/schemas/BooleanCondition"
          }
        },
        "description": "A data validation rule for a column in a table."
      },
      "Sheet": {
        "type": "object",
        "properties": {
          "filterViews": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FilterView"
            },
            "description": "The filter views in this sheet."
          },
          "bandedRanges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BandedRange"
            },
            "description": "The banded (alternating colors) ranges on this sheet."
          },
          "developerMetadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeveloperMetadata"
            },
            "description": "The developer metadata associated with a sheet."
          },
          "conditionalFormats": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConditionalFormatRule"
            },
            "description": "The conditional format rules in this sheet."
          },
          "protectedRanges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProtectedRange"
            },
            "description": "The protected ranges in this sheet."
          },
          "rowGroups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DimensionGroup"
            },
            "description": "All row groups on this sheet, ordered by increasing range start index, then by group depth."
          },
          "basicFilter": {
            "$ref": "#/components/schemas/BasicFilter"
          },
          "slicers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Slicer"
            },
            "description": "The slicers on this sheet."
          },
          "properties": {
            "$ref": "#/components/schemas/SheetProperties"
          },
          "tables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Table"
            },
            "description": "The tables on this sheet."
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GridData"
            },
            "description": "Data in the grid, if this is a grid sheet. The number of GridData objects returned is dependent on the number of ranges requested on this sheet. For example, if this is representing `Sheet1`, and the spreadsheet was requested with ranges `Sheet1!A1:C10` and `Sheet1!D15:E20`, then the first GridData will have a startRow/startColumn of `0`, while the second one will have `startRow 14` (zero-based row 15), and `startColumn 3` (zero-based column D). For a DATA_SOURCE sheet, you can not request a specific range, the GridData contains all the values."
          },
          "merges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GridRange"
            },
            "description": "The ranges that are merged together."
          },
          "columnGroups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DimensionGroup"
            },
            "description": "All column groups on this sheet, ordered by increasing range start index, then by group depth."
          },
          "charts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmbeddedChart"
            },
            "description": "The specifications of every chart on this sheet."
          }
        },
        "description": "A sheet in a spreadsheet."
      },
      "ColorStyle": {
        "type": "object",
        "properties": {
          "rgbColor": {
            "$ref": "#/components/schemas/Color"
          },
          "themeColor": {
            "type": "string",
            "description": "Theme color.",
            "enum": [
              "THEME_COLOR_TYPE_UNSPECIFIED",
              "TEXT",
              "BACKGROUND",
              "ACCENT1",
              "ACCENT2",
              "ACCENT3",
              "ACCENT4",
              "ACCENT5",
              "ACCENT6",
              "LINK"
            ]
          }
        },
        "description": "A color value."
      },
      "PointStyle": {
        "type": "object",
        "properties": {
          "shape": {
            "type": "string",
            "description": "The point shape. If empty or unspecified, a default shape is used.",
            "enum": [
              "POINT_SHAPE_UNSPECIFIED",
              "CIRCLE",
              "DIAMOND",
              "HEXAGON",
              "PENTAGON",
              "SQUARE",
              "STAR",
              "TRIANGLE",
              "X_MARK"
            ]
          },
          "size": {
            "type": "number",
            "format": "double",
            "description": "The point size. If empty, a default size is used."
          }
        },
        "description": "The style of a point on the chart."
      },
      "CreateDeveloperMetadataRequest": {
        "type": "object",
        "properties": {
          "developerMetadata": {
            "$ref": "#/components/schemas/DeveloperMetadata"
          }
        },
        "description": "A request to create developer metadata."
      },
      "ExtendedValue": {
        "type": "object",
        "properties": {
          "numberValue": {
            "type": "number",
            "format": "double",
            "description": "Represents a double value. Note: Dates, Times and DateTimes are represented as doubles in SERIAL_NUMBER format."
          },
          "boolValue": {
            "type": "boolean",
            "description": "Represents a boolean value."
          },
          "stringValue": {
            "type": "string",
            "description": "Represents a string value. Leading single quotes are not included. For example, if the user typed `'123` into the UI, this would be represented as a `stringValue` of `\"123\"`."
          },
          "formulaValue": {
            "type": "string",
            "description": "Represents a formula."
          },
          "errorValue": {
            "$ref": "#/components/schemas/ErrorValue"
          }
        },
        "description": "The kinds of value that a cell in a spreadsheet can have."
      },
      "EmbeddedChart": {
        "type": "object",
        "properties": {
          "position": {
            "$ref": "#/components/schemas/EmbeddedObjectPosition"
          },
          "spec": {
            "$ref": "#/components/schemas/ChartSpec"
          },
          "border": {
            "$ref": "#/components/schemas/EmbeddedObjectBorder"
          },
          "chartId": {
            "type": "integer",
            "format": "int32",
            "description": "The ID of the chart."
          }
        },
        "description": "A chart embedded in a sheet."
      },
      "BooleanCondition": {
        "type": "object",
        "properties": {
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConditionValue"
            },
            "description": "The values of the condition. The number of supported values depends on the condition type. Some support zero values, others one or two values, and ConditionType.ONE_OF_LIST supports an arbitrary number of values."
          },
          "type": {
            "type": "string",
            "description": "The type of condition.",
            "enum": [
              "CONDITION_TYPE_UNSPECIFIED",
              "NUMBER_GREATER",
              "NUMBER_GREATER_THAN_EQ",
              "NUMBER_LESS",
              "NUMBER_LESS_THAN_EQ",
              "NUMBER_EQ",
              "NUMBER_NOT_EQ",
              "NUMBER_BETWEEN",
              "NUMBER_NOT_BETWEEN",
              "TEXT_CONTAINS",
              "TEXT_NOT_CONTAINS",
              "TEXT_STARTS_WITH",
              "TEXT_ENDS_WITH",
              "TEXT_EQ",
              "TEXT_IS_EMAIL",
              "TEXT_IS_URL",
              "DATE_EQ",
              "DATE_BEFORE",
              "DATE_AFTER",
              "DATE_ON_OR_BEFORE",
              "DATE_ON_OR_AFTER",
              "DATE_BETWEEN",
              "DATE_NOT_BETWEEN",
              "DATE_IS_VALID",
              "ONE_OF_RANGE",
              "ONE_OF_LIST",
              "BLANK",
              "NOT_BLANK",
              "CUSTOM_FORMULA",
              "BOOLEAN",
              "TEXT_NOT_EQ",
              "DATE_NOT_EQ",
              "FILTER_EXPRESSION"
            ]
          }
        },
        "description": "A condition that can evaluate to true or false. BooleanConditions are used by conditional formatting, data validation, and the criteria in filters."
      },
      "AppendValuesResponse": {
        "type": "object",
        "properties": {
          "spreadsheetId": {
            "type": "string",
            "description": "The spreadsheet the updates were applied to."
          },
          "tableRange": {
            "type": "string",
            "description": "The range (in A1 notation) of the table that values are being appended to (before the values were appended). Empty if no table was found."
          },
          "updates": {
            "$ref": "#/components/schemas/UpdateValuesResponse"
          }
        },
        "description": "The response when updating a range of values in a spreadsheet."
      },
      "DeleteNamedRangeRequest": {
        "type": "object",
        "properties": {
          "namedRangeId": {
            "type": "string",
            "description": "The ID of the named range to delete."
          }
        },
        "description": "Removes the named range with the given ID from the spreadsheet."
      },
      "GradientRule": {
        "type": "object",
        "properties": {
          "maxpoint": {
            "$ref": "#/components/schemas/InterpolationPoint"
          },
          "minpoint": {
            "$ref": "#/components/schemas/InterpolationPoint"
          },
          "midpoint": {
            "$ref": "#/components/schemas/InterpolationPoint"
          }
        },
        "description": "A rule that applies a gradient color scale format, based on the interpolation points listed. The format of a cell will vary based on its contents as compared to the values of the interpolation points."
      },
      "SortSpec": {
        "type": "object",
        "properties": {
          "dataSourceColumnReference": {
            "$ref": "#/components/schemas/DataSourceColumnReference"
          },
          "foregroundColor": {
            "$ref": "#/components/schemas/Color"
          },
          "sortOrder": {
            "type": "string",
            "description": "The order data should be sorted.",
            "enum": ["SORT_ORDER_UNSPECIFIED", "ASCENDING", "DESCENDING"]
          },
          "dimensionIndex": {
            "type": "integer",
            "format": "int32",
            "description": "The dimension the sort should be applied to."
          },
          "backgroundColor": {
            "$ref": "#/components/schemas/Color"
          },
          "foregroundColorStyle": {
            "$ref": "#/components/schemas/ColorStyle"
          },
          "backgroundColorStyle": {
            "$ref": "#/components/schemas/ColorStyle"
          }
        },
        "description": "A sort order associated with a specific column or row."
      },
      "ManualRuleGroup": {
        "type": "object",
        "properties": {
          "groupName": {
            "$ref": "#/components/schemas/ExtendedValue"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExtendedValue"
            },
            "description": "The items in the source data that should be placed into this group. Each item may be a string, number, or boolean. Items may appear in at most one group within a given ManualRule. Items that do not appear in any group will appear on their own."
          }
        },
        "description": "A group name and a list of items from the source data that should be placed in the group with this name."
      },
      "FindReplaceResponse": {
        "type": "object",
        "properties": {
          "sheetsChanged": {
            "type": "integer",
            "format": "int32",
            "description": "The number of sheets changed."
          },
          "valuesChanged": {
            "type": "integer",
            "format": "int32",
            "description": "The number of non-formula cells changed."
          },
          "formulasChanged": {
            "type": "integer",
            "format": "int32",
            "description": "The number of formula cells changed."
          },
          "rowsChanged": {
            "type": "integer",
            "format": "int32",
            "description": "The number of rows changed."
          },
          "occurrencesChanged": {
            "type": "integer",
            "format": "int32",
            "description": "The number of occurrences (possibly multiple within a cell) changed. For example, if replacing `\"e\"` with `\"o\"` in `\"Google Sheets\"`, this would be `\"3\"` because `\"Google Sheets\"` -> `\"Googlo Shoots\"`."
          }
        },
        "description": "The result of the find/replace."
      },
      "AddSheetRequest": {
        "type": "object",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/SheetProperties"
          }
        },
        "description": "Adds a new sheet. When a sheet is added at a given index, all subsequent sheets' indexes are incremented. To add an object sheet, use AddChartRequest instead and specify EmbeddedObjectPosition.sheetId or EmbeddedObjectPosition.newSheet."
      },
      "RefreshDataSourceResponse": {
        "type": "object",
        "properties": {
          "statuses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RefreshDataSourceObjectExecutionStatus"
            },
            "description": "All the refresh status for the data source object references specified in the request. If is_all is specified, the field contains only those in failure status."
          }
        },
        "description": "The response from refreshing one or multiple data source objects."
      },
      "OverlayPosition": {
        "type": "object",
        "properties": {
          "widthPixels": {
            "type": "integer",
            "format": "int32",
            "description": "The width of the object, in pixels. Defaults to 600."
          },
          "offsetXPixels": {
            "type": "integer",
            "format": "int32",
            "description": "The horizontal offset, in pixels, that the object is offset from the anchor cell."
          },
          "heightPixels": {
            "type": "integer",
            "format": "int32",
            "description": "The height of the object, in pixels. Defaults to 371."
          },
          "offsetYPixels": {
            "type": "integer",
            "format": "int32",
            "description": "The vertical offset, in pixels, that the object is offset from the anchor cell."
          },
          "anchorCell": {
            "$ref": "#/components/schemas/GridCoordinate"
          }
        },
        "description": "The location an object is overlaid on top of a grid."
      },
      "UpdateDataSourceResponse": {
        "type": "object",
        "properties": {
          "dataExecutionStatus": {
            "$ref": "#/components/schemas/DataExecutionStatus"
          },
          "dataSource": {
            "$ref": "#/components/schemas/DataSource"
          }
        },
        "description": "The response from updating data source."
      },
      "ClearBasicFilterRequest": {
        "type": "object",
        "properties": {
          "sheetId": {
            "type": "integer",
            "format": "int32",
            "description": "The sheet ID on which the basic filter should be cleared."
          }
        },
        "description": "Clears the basic filter, if any exists on the sheet."
      },
      "DeleteBandingRequest": {
        "type": "object",
        "properties": {
          "bandedRangeId": {
            "type": "integer",
            "format": "int32",
            "description": "The ID of the banded range to delete."
          }
        },
        "description": "Removes the banded range with the given ID from the spreadsheet."
      },
      "AddDimensionGroupResponse": {
        "type": "object",
        "properties": {
          "dimensionGroups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DimensionGroup"
            },
            "description": "All groups of a dimension after adding a group to that dimension."
          }
        },
        "description": "The result of adding a group."
      },
      "AddChartRequest": {
        "type": "object",
        "properties": {
          "chart": {
            "$ref": "#/components/schemas/EmbeddedChart"
          }
        },
        "description": "Adds a chart to a sheet in the spreadsheet."
      },
      "Padding": {
        "type": "object",
        "properties": {
          "right": {
            "type": "integer",
            "format": "int32",
            "description": "The right padding of the cell."
          },
          "bottom": {
            "type": "integer",
            "format": "int32",
            "description": "The bottom padding of the cell."
          },
          "left": {
            "type": "integer",
            "format": "int32",
            "description": "The left padding of the cell."
          },
          "top": {
            "type": "integer",
            "format": "int32",
            "description": "The top padding of the cell."
          }
        },
        "description": "The amount of padding around the cell, in pixels. When updating padding, every field must be specified."
      },
      "BasicChartSeries": {
        "type": "object",
        "properties": {
          "styleOverrides": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BasicSeriesDataPointStyleOverride"
            },
            "description": "Style override settings for series data points."
          },
          "dataLabel": {
            "$ref": "#/components/schemas/DataLabel"
          },
          "lineStyle": {
            "$ref": "#/components/schemas/LineStyle"
          },
          "series": {
            "$ref": "#/components/schemas/ChartData"
          },
          "type": {
            "type": "string",
            "description": "The type of this series. Valid only if the chartType is COMBO. Different types will change the way the series is visualized. Only LINE, AREA, and COLUMN are supported.",
            "enum": [
              "BASIC_CHART_TYPE_UNSPECIFIED",
              "BAR",
              "LINE",
              "AREA",
              "COLUMN",
              "SCATTER",
              "COMBO",
              "STEPPED_AREA"
            ]
          },
          "targetAxis": {
            "type": "string",
            "description": "The minor axis that will specify the range of values for this series. For example, if charting stocks over time, the \"Volume\" series may want to be pinned to the right with the prices pinned to the left, because the scale of trading volume is different than the scale of prices. It is an error to specify an axis that isn't a valid minor axis for the chart's type.",
            "enum": [
              "BASIC_CHART_AXIS_POSITION_UNSPECIFIED",
              "BOTTOM_AXIS",
              "LEFT_AXIS",
              "RIGHT_AXIS"
            ]
          },
          "colorStyle": {
            "$ref": "#/components/schemas/ColorStyle"
          },
          "pointStyle": {
            "$ref": "#/components/schemas/PointStyle"
          },
          "color": {
            "$ref": "#/components/schemas/Color"
          }
        },
        "description": "A single series of data in a chart. For example, if charting stock prices over time, multiple series may exist, one for the \"Open Price\", \"High Price\", \"Low Price\" and \"Close Price\"."
      },
      "SlicerSpec": {
        "type": "object",
        "properties": {
          "backgroundColorStyle": {
            "$ref": "#/components/schemas/ColorStyle"
          },
          "dataRange": {
            "$ref": "#/components/schemas/GridRange"
          },
          "horizontalAlignment": {
            "type": "string",
            "description": "The horizontal alignment of title in the slicer. If unspecified, defaults to `LEFT`",
            "enum": ["HORIZONTAL_ALIGN_UNSPECIFIED", "LEFT", "CENTER", "RIGHT"]
          },
          "columnIndex": {
            "type": "integer",
            "format": "int32",
            "description": "The zero-based column index in the data table on which the filter is applied to."
          },
          "filterCriteria": {
            "$ref": "#/components/schemas/FilterCriteria"
          },
          "backgroundColor": {
            "$ref": "#/components/schemas/Color"
          },
          "applyToPivotTables": {
            "type": "boolean",
            "description": "True if the filter should apply to pivot tables. If not set, default to `True`."
          },
          "textFormat": {
            "$ref": "#/components/schemas/TextFormat"
          },
          "title": {
            "type": "string",
            "description": "The title of the slicer."
          }
        },
        "description": "The specifications of a slicer."
      },
      "BandingProperties": {
        "type": "object",
        "properties": {
          "firstBandColor": {
            "$ref": "#/components/schemas/Color"
          },
          "footerColorStyle": {
            "$ref": "#/components/schemas/ColorStyle"
          },
          "headerColorStyle": {
            "$ref": "#/components/schemas/ColorStyle"
          },
          "firstBandColorStyle": {
            "$ref": "#/components/schemas/ColorStyle"
          },
          "headerColor": {
            "$ref": "#/components/schemas/Color"
          },
          "footerColor": {
            "$ref": "#/components/schemas/Color"
          },
          "secondBandColor": {
            "$ref": "#/components/schemas/Color"
          },
          "secondBandColorStyle": {
            "$ref": "#/components/schemas/ColorStyle"
          }
        },
        "description": "Properties referring a single dimension (either row or column). If both BandedRange.row_properties and BandedRange.column_properties are set, the fill colors are applied to cells according to the following rules: * header_color and footer_color take priority over band colors. * first_band_color takes priority over second_band_color. * row_properties takes priority over column_properties. For example, the first row color takes priority over the first column color, but the first column color takes priority over the second row color. Similarly, the row header takes priority over the column header in the top left cell, but the column header takes priority over the first row color if the row header is not set."
      },
      "ConditionalFormatRule": {
        "type": "object",
        "properties": {
          "booleanRule": {
            "$ref": "#/components/schemas/BooleanRule"
          },
          "ranges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GridRange"
            },
            "description": "The ranges that are formatted if the condition is true. All the ranges must be on the same grid."
          },
          "gradientRule": {
            "$ref": "#/components/schemas/GradientRule"
          }
        },
        "description": "A rule describing a conditional format."
      },
      "SetBasicFilterRequest": {
        "type": "object",
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/BasicFilter"
          }
        },
        "description": "Sets the basic filter associated with a sheet."
      },
      "UpdateDataSourceRequest": {
        "type": "object",
        "properties": {
          "dataSource": {
            "$ref": "#/components/schemas/DataSource"
          },
          "fields": {
            "type": "string",
            "format": "google-fieldmask",
            "description": "The fields that should be updated. At least one field must be specified. The root `dataSource` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field."
          }
        },
        "description": "Updates a data source. After the data source is updated successfully, an execution is triggered to refresh the associated DATA_SOURCE sheet to read data from the updated data source. The request requires an additional `bigquery.readonly` OAuth scope if you are updating a BigQuery data source."
      },
      "BubbleChartSpec": {
        "type": "object",
        "properties": {
          "groupIds": {
            "$ref": "#/components/schemas/ChartData"
          },
          "bubbleBorderColorStyle": {
            "$ref": "#/components/schemas/ColorStyle"
          },
          "bubbleBorderColor": {
            "$ref": "#/components/schemas/Color"
          },
          "bubbleMaxRadiusSize": {
            "type": "integer",
            "format": "int32",
            "description": "The max radius size of the bubbles, in pixels. If specified, the field must be a positive value."
          },
          "bubbleSizes": {
            "$ref": "#/components/schemas/ChartData"
          },
          "domain": {
            "$ref": "#/components/schemas/ChartData"
          },
          "series": {
            "$ref": "#/components/schemas/ChartData"
          },
          "legendPosition": {
            "type": "string",
            "description": "Where the legend of the chart should be drawn.",
            "enum": [
              "BUBBLE_CHART_LEGEND_POSITION_UNSPECIFIED",
              "BOTTOM_LEGEND",
              "LEFT_LEGEND",
              "RIGHT_LEGEND",
              "TOP_LEGEND",
              "NO_LEGEND",
              "INSIDE_LEGEND"
            ]
          },
          "bubbleTextStyle": {
            "$ref": "#/components/schemas/TextFormat"
          },
          "bubbleOpacity": {
            "type": "number",
            "format": "float",
            "description": "The opacity of the bubbles between 0 and 1.0. 0 is fully transparent and 1 is fully opaque."
          },
          "bubbleMinRadiusSize": {
            "type": "integer",
            "format": "int32",
            "description": "The minimum radius size of the bubbles, in pixels. If specific, the field must be a positive value."
          },
          "bubbleLabels": {
            "$ref": "#/components/schemas/ChartData"
          }
        },
        "description": "A bubble chart."
      },
      "EmbeddedObjectPosition": {
        "type": "object",
        "properties": {
          "overlayPosition": {
            "$ref": "#/components/schemas/OverlayPosition"
          },
          "sheetId": {
            "type": "integer",
            "format": "int32",
            "description": "The sheet this is on. Set only if the embedded object is on its own sheet. Must be non-negative."
          },
          "newSheet": {
            "type": "boolean",
            "description": "If true, the embedded object is put on a new sheet whose ID is chosen for you. Used only when writing."
          }
        },
        "description": "The position of an embedded object such as a chart."
      },
      "BasicFilter": {
        "type": "object",
        "properties": {
          "filterSpecs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FilterSpec"
            },
            "description": "The filter criteria per column. Both criteria and filter_specs are populated in responses. If both fields are specified in an update request, this field takes precedence."
          },
          "sortSpecs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortSpec"
            },
            "description": "The sort order per column. Later specifications are used when values are equal in the earlier specifications."
          },
          "criteria": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/FilterCriteria"
            },
            "description": "The criteria for showing/hiding values per column. The map's key is the column index, and the value is the criteria for that column. This field is deprecated in favor of filter_specs."
          },
          "tableId": {
            "type": "string",
            "description": "The table this filter is backed by, if any. When writing, only one of range or table_id may be set."
          },
          "range": {
            "$ref": "#/components/schemas/GridRange"
          }
        },
        "description": "The default filter associated with a sheet. For more information, see [Manage data visibility with filters](https://developers.google.com/workspace/sheets/api/guides/filters)."
      },
      "Request": {
        "type": "object",
        "properties": {
          "addDataSource": {
            "$ref": "#/components/schemas/AddDataSourceRequest"
          },
          "updateFilterView": {
            "$ref": "#/components/schemas/UpdateFilterViewRequest"
          },
          "copyPaste": {
            "$ref": "#/components/schemas/CopyPasteRequest"
          },
          "mergeCells": {
            "$ref": "#/components/schemas/MergeCellsRequest"
          },
          "moveDimension": {
            "$ref": "#/components/schemas/MoveDimensionRequest"
          },
          "appendDimension": {
            "$ref": "#/components/schemas/AppendDimensionRequest"
          },
          "updateSlicerSpec": {
            "$ref": "#/components/schemas/UpdateSlicerSpecRequest"
          },
          "updateDataSource": {
            "$ref": "#/components/schemas/UpdateDataSourceRequest"
          },
          "repeatCell": {
            "$ref": "#/components/schemas/RepeatCellRequest"
          },
          "insertDimension": {
            "$ref": "#/components/schemas/InsertDimensionRequest"
          },
          "refreshDataSource": {
            "$ref": "#/components/schemas/RefreshDataSourceRequest"
          },
          "updateChartSpec": {
            "$ref": "#/components/schemas/UpdateChartSpecRequest"
          },
          "deleteBanding": {
            "$ref": "#/components/schemas/DeleteBandingRequest"
          },
          "autoFill": {
            "$ref": "#/components/schemas/AutoFillRequest"
          },
          "updateBanding": {
            "$ref": "#/components/schemas/UpdateBandingRequest"
          },
          "createDeveloperMetadata": {
            "$ref": "#/components/schemas/CreateDeveloperMetadataRequest"
          },
          "setBasicFilter": {
            "$ref": "#/components/schemas/SetBasicFilterRequest"
          },
          "findReplace": {
            "$ref": "#/components/schemas/FindReplaceRequest"
          },
          "updateSpreadsheetProperties": {
            "$ref": "#/components/schemas/UpdateSpreadsheetPropertiesRequest"
          },
          "setDataValidation": {
            "$ref": "#/components/schemas/SetDataValidationRequest"
          },
          "deleteFilterView": {
            "$ref": "#/components/schemas/DeleteFilterViewRequest"
          },
          "sortRange": {
            "$ref": "#/components/schemas/SortRangeRequest"
          },
          "addSlicer": {
            "$ref": "#/components/schemas/AddSlicerRequest"
          },
          "textToColumns": {
            "$ref": "#/components/schemas/TextToColumnsRequest"
          },
          "addProtectedRange": {
            "$ref": "#/components/schemas/AddProtectedRangeRequest"
          },
          "deleteTable": {
            "$ref": "#/components/schemas/DeleteTableRequest"
          },
          "deleteEmbeddedObject": {
            "$ref": "#/components/schemas/DeleteEmbeddedObjectRequest"
          },
          "addNamedRange": {
            "$ref": "#/components/schemas/AddNamedRangeRequest"
          },
          "autoResizeDimensions": {
            "$ref": "#/components/schemas/AutoResizeDimensionsRequest"
          },
          "cutPaste": {
            "$ref": "#/components/schemas/CutPasteRequest"
          },
          "pasteData": {
            "$ref": "#/components/schemas/PasteDataRequest"
          },
          "addBanding": {
            "$ref": "#/components/schemas/AddBandingRequest"
          },
          "appendCells": {
            "$ref": "#/components/schemas/AppendCellsRequest"
          },
          "deleteNamedRange": {
            "$ref": "#/components/schemas/DeleteNamedRangeRequest"
          },
          "deleteDimension": {
            "$ref": "#/components/schemas/DeleteDimensionRequest"
          },
          "addTable": {
            "$ref": "#/components/schemas/AddTableRequest"
          },
          "deleteConditionalFormatRule": {
            "$ref": "#/components/schemas/DeleteConditionalFormatRuleRequest"
          },
          "deleteSheet": {
            "$ref": "#/components/schemas/DeleteSheetRequest"
          },
          "deleteDeveloperMetadata": {
            "$ref": "#/components/schemas/DeleteDeveloperMetadataRequest"
          },
          "deleteProtectedRange": {
            "$ref": "#/components/schemas/DeleteProtectedRangeRequest"
          },
          "updateDimensionGroup": {
            "$ref": "#/components/schemas/UpdateDimensionGroupRequest"
          },
          "updateConditionalFormatRule": {
            "$ref": "#/components/schemas/UpdateConditionalFormatRuleRequest"
          },
          "deleteRange": {
            "$ref": "#/components/schemas/DeleteRangeRequest"
          },
          "addChart": {
            "$ref": "#/components/schemas/AddChartRequest"
          },
          "cancelDataSourceRefresh": {
            "$ref": "#/components/schemas/CancelDataSourceRefreshRequest"
          },
          "updateNamedRange": {
            "$ref": "#/components/schemas/UpdateNamedRangeRequest"
          },
          "trimWhitespace": {
            "$ref": "#/components/schemas/TrimWhitespaceRequest"
          },
          "deleteDuplicates": {
            "$ref": "#/components/schemas/DeleteDuplicatesRequest"
          },
          "addSheet": {
            "$ref": "#/components/schemas/AddSheetRequest"
          },
          "duplicateFilterView": {
            "$ref": "#/components/schemas/DuplicateFilterViewRequest"
          },
          "updateDeveloperMetadata": {
            "$ref": "#/components/schemas/UpdateDeveloperMetadataRequest"
          },
          "addDimensionGroup": {
            "$ref": "#/components/schemas/AddDimensionGroupRequest"
          },
          "updateProtectedRange": {
            "$ref": "#/components/schemas/UpdateProtectedRangeRequest"
          },
          "updateEmbeddedObjectPosition": {
            "$ref": "#/components/schemas/UpdateEmbeddedObjectPositionRequest"
          },
          "deleteDataSource": {
            "$ref": "#/components/schemas/DeleteDataSourceRequest"
          },
          "randomizeRange": {
            "$ref": "#/components/schemas/RandomizeRangeRequest"
          },
          "deleteDimensionGroup": {
            "$ref": "#/components/schemas/DeleteDimensionGroupRequest"
          },
          "addFilterView": {
            "$ref": "#/components/schemas/AddFilterViewRequest"
          },
          "updateSheetProperties": {
            "$ref": "#/components/schemas/UpdateSheetPropertiesRequest"
          },
          "updateBorders": {
            "$ref": "#/components/schemas/UpdateBordersRequest"
          },
          "unmergeCells": {
            "$ref": "#/components/schemas/UnmergeCellsRequest"
          },
          "clearBasicFilter": {
            "$ref": "#/components/schemas/ClearBasicFilterRequest"
          },
          "addConditionalFormatRule": {
            "$ref": "#/components/schemas/AddConditionalFormatRuleRequest"
          },
          "duplicateSheet": {
            "$ref": "#/components/schemas/DuplicateSheetRequest"
          },
          "updateDimensionProperties": {
            "$ref": "#/components/schemas/UpdateDimensionPropertiesRequest"
          },
          "updateEmbeddedObjectBorder": {
            "$ref": "#/components/schemas/UpdateEmbeddedObjectBorderRequest"
          },
          "insertRange": {
            "$ref": "#/components/schemas/InsertRangeRequest"
          },
          "updateTable": {
            "$ref": "#/components/schemas/UpdateTableRequest"
          },
          "updateCells": {
            "$ref": "#/components/schemas/UpdateCellsRequest"
          }
        },
        "description": "A single kind of update to apply to a spreadsheet."
      },
      "Table": {
        "type": "object",
        "properties": {
          "columnProperties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TableColumnProperties"
            },
            "description": "The table column properties."
          },
          "range": {
            "$ref": "#/components/schemas/GridRange"
          },
          "rowsProperties": {
            "$ref": "#/components/schemas/TableRowsProperties"
          },
          "name": {
            "type": "string",
            "description": "The table name. This is unique to all tables in the same spreadsheet."
          },
          "tableId": {
            "type": "string",
            "description": "The id of the table."
          }
        },
        "description": "A table."
      },
      "DataSourceFormula": {
        "type": "object",
        "properties": {
          "dataExecutionStatus": {
            "$ref": "#/components/schemas/DataExecutionStatus"
          },
          "dataSourceId": {
            "type": "string",
            "description": "The ID of the data source the formula is associated with."
          }
        },
        "description": "A data source formula."
      },
      "DataSourceParameter": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Named parameter. Must be a legitimate identifier for the DataSource that supports it. For example, [BigQuery identifier](https://cloud.google.com/bigquery/docs/reference/standard-sql/lexical#identifiers)."
          },
          "namedRangeId": {
            "type": "string",
            "description": "ID of a NamedRange. Its size must be 1x1."
          },
          "range": {
            "$ref": "#/components/schemas/GridRange"
          }
        },
        "description": "A parameter in a data source's query. The parameter allows the user to pass in values from the spreadsheet into a query."
      },
      "AddConditionalFormatRuleRequest": {
        "type": "object",
        "properties": {
          "rule": {
            "$ref": "#/components/schemas/ConditionalFormatRule"
          },
          "index": {
            "type": "integer",
            "format": "int32",
            "description": "The zero-based index where the rule should be inserted."
          }
        },
        "description": "Adds a new conditional format rule at the given index. All subsequent rules' indexes are incremented."
      },
      "AddProtectedRangeResponse": {
        "type": "object",
        "properties": {
          "protectedRange": {
            "$ref": "#/components/schemas/ProtectedRange"
          }
        },
        "description": "The result of adding a new protected range."
      },
      "DeleteDeveloperMetadataRequest": {
        "type": "object",
        "properties": {
          "dataFilter": {
            "$ref": "#/components/schemas/DataFilter"
          }
        },
        "description": "A request to delete developer metadata."
      },
      "Response": {
        "type": "object",
        "properties": {
          "duplicateSheet": {
            "$ref": "#/components/schemas/DuplicateSheetResponse"
          },
          "addFilterView": {
            "$ref": "#/components/schemas/AddFilterViewResponse"
          },
          "addSheet": {
            "$ref": "#/components/schemas/AddSheetResponse"
          },
          "addNamedRange": {
            "$ref": "#/components/schemas/AddNamedRangeResponse"
          },
          "updateEmbeddedObjectPosition": {
            "$ref": "#/components/schemas/UpdateEmbeddedObjectPositionResponse"
          },
          "updateConditionalFormatRule": {
            "$ref": "#/components/schemas/UpdateConditionalFormatRuleResponse"
          },
          "updateDataSource": {
            "$ref": "#/components/schemas/UpdateDataSourceResponse"
          },
          "deleteConditionalFormatRule": {
            "$ref": "#/components/schemas/DeleteConditionalFormatRuleResponse"
          },
          "findReplace": {
            "$ref": "#/components/schemas/FindReplaceResponse"
          },
          "updateDeveloperMetadata": {
            "$ref": "#/components/schemas/UpdateDeveloperMetadataResponse"
          },
          "refreshDataSource": {
            "$ref": "#/components/schemas/RefreshDataSourceResponse"
          },
          "addProtectedRange": {
            "$ref": "#/components/schemas/AddProtectedRangeResponse"
          },
          "deleteDuplicates": {
            "$ref": "#/components/schemas/DeleteDuplicatesResponse"
          },
          "addBanding": {
            "$ref": "#/components/schemas/AddBandingResponse"
          },
          "deleteDimensionGroup": {
            "$ref": "#/components/schemas/DeleteDimensionGroupResponse"
          },
          "addTable": {
            "$ref": "#/components/schemas/AddTableResponse"
          },
          "cancelDataSourceRefresh": {
            "$ref": "#/components/schemas/CancelDataSourceRefreshResponse"
          },
          "trimWhitespace": {
            "$ref": "#/components/schemas/TrimWhitespaceResponse"
          },
          "createDeveloperMetadata": {
            "$ref": "#/components/schemas/CreateDeveloperMetadataResponse"
          },
          "addDimensionGroup": {
            "$ref": "#/components/schemas/AddDimensionGroupResponse"
          },
          "duplicateFilterView": {
            "$ref": "#/components/schemas/DuplicateFilterViewResponse"
          },
          "deleteDeveloperMetadata": {
            "$ref": "#/components/schemas/DeleteDeveloperMetadataResponse"
          },
          "addDataSource": {
            "$ref": "#/components/schemas/AddDataSourceResponse"
          },
          "addSlicer": {
            "$ref": "#/components/schemas/AddSlicerResponse"
          },
          "addChart": {
            "$ref": "#/components/schemas/AddChartResponse"
          }
        },
        "description": "A single response from an update."
      },
      "BatchClearValuesResponse": {
        "type": "object",
        "properties": {
          "spreadsheetId": {
            "type": "string",
            "description": "The spreadsheet the updates were applied to."
          },
          "clearedRanges": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The ranges that were cleared, in A1 notation. If the requests are for an unbounded range or a range larger than the bounds of the sheet, this is the actual ranges that were cleared, bounded to the sheet's limits."
          }
        },
        "description": "The response when clearing a range of values in a spreadsheet."
      },
      "UpdateSlicerSpecRequest": {
        "type": "object",
        "properties": {
          "slicerId": {
            "type": "integer",
            "format": "int32",
            "description": "The id of the slicer to update."
          },
          "spec": {
            "$ref": "#/components/schemas/SlicerSpec"
          },
          "fields": {
            "type": "string",
            "format": "google-fieldmask",
            "description": "The fields that should be updated. At least one field must be specified. The root `SlicerSpec` is implied and should not be specified. A single \"*\"` can be used as short-hand for listing every field."
          }
        },
        "description": "Updates a slicer's specifications. (This does not move or resize a slicer. To move or resize a slicer use UpdateEmbeddedObjectPositionRequest."
      },
      "UpdateBordersRequest": {
        "type": "object",
        "properties": {
          "range": {
            "$ref": "#/components/schemas/GridRange"
          },
          "right": {
            "$ref": "#/components/schemas/Border"
          },
          "top": {
            "$ref": "#/components/schemas/Border"
          },
          "bottom": {
            "$ref": "#/components/schemas/Border"
          },
          "left": {
            "$ref": "#/components/schemas/Border"
          },
          "innerHorizontal": {
            "$ref": "#/components/schemas/Border"
          },
          "innerVertical": {
            "$ref": "#/components/schemas/Border"
          }
        },
        "description": "Updates the borders of a range. If a field is not set in the request, that means the border remains as-is. For example, with two subsequent UpdateBordersRequest: 1. range: A1:A5 `{ top: RED, bottom: WHITE }` 2. range: A1:A5 `{ left: BLUE }` That would result in A1:A5 having a borders of `{ top: RED, bottom: WHITE, left: BLUE }`. If you want to clear a border, explicitly set the style to NONE."
      },
      "UnmergeCellsRequest": {
        "type": "object",
        "properties": {
          "range": {
            "$ref": "#/components/schemas/GridRange"
          }
        },
        "description": "Unmerges cells in the given range."
      },
      "AddTableResponse": {
        "type": "object",
        "properties": {
          "table": {
            "$ref": "#/components/schemas/Table"
          }
        },
        "description": "The result of adding a table."
      },
      "ChipRun": {
        "type": "object",
        "properties": {
          "chip": {
            "$ref": "#/components/schemas/Chip"
          },
          "startIndex": {
            "type": "integer",
            "format": "int32",
            "description": "Required. The zero-based character index where this run starts, in UTF-16 code units."
          }
        },
        "description": "The run of a chip. The chip continues until the start index of the next run."
      },
      "WaterfallChartSeries": {
        "type": "object",
        "properties": {
          "subtotalColumnsStyle": {
            "$ref": "#/components/schemas/WaterfallChartColumnStyle"
          },
          "data": {
            "$ref": "#/components/schemas/ChartData"
          },
          "negativeColumnsStyle": {
            "$ref": "#/components/schemas/WaterfallChartColumnStyle"
          },
          "hideTrailingSubtotal": {
            "type": "boolean",
            "description": "True to hide the subtotal column from the end of the series. By default, a subtotal column will appear at the end of each series. Setting this field to true will hide that subtotal column for this series."
          },
          "positiveColumnsStyle": {
            "$ref": "#/components/schemas/WaterfallChartColumnStyle"
          },
          "customSubtotals": {
            "type": "array",
            "items": {
[...]
