{
  "openapi": "3.0.0",
  "info": {
    "title": "YouTube Data API v3",
    "version": "v3",
    "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels. OpenAPI 3.0 definition generated from the official Google API Discovery document (revision 20260914). Covers a curated subset of the most-used operations; see the full discovery document for the complete API surface."
  },
  "externalDocs": {
    "description": "YouTube Data API v3 reference",
    "url": "https://developers.google.com/youtube/"
  },
  "servers": [
    {
      "url": "https://www.googleapis.com/youtube/v3"
    },
    {
      "url": "https://youtube.googleapis.com/youtube/v3"
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "tags": ["search"],
        "operationId": "youtube.search.list",
        "description": "Retrieves a list of search resources",
        "parameters": [
          {
            "name": "onBehalfOfContentOwner",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
          },
          {
            "name": "videoEmbeddable",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["videoEmbeddableUnspecified", "any", "true"]
            },
            "description": "Filter on embeddable videos."
          },
          {
            "name": "regionCode",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Display the content as seen by viewers in this country."
          },
          {
            "name": "publishedAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter on resources published after this date."
          },
          {
            "name": "forMine",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Search for the private videos of the authenticated user."
          },
          {
            "name": "locationRadius",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter on distance from the location (specified above)."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "searchSortUnspecified",
                "date",
                "rating",
                "viewCount",
                "relevance",
                "title",
                "videoCount"
              ],
              "default": "relevance"
            },
            "description": "Sort order of the results."
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter on location of the video"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Restrict results to a particular set of resource types from One Platform.",
            "style": "form",
            "explode": false
          },
          {
            "name": "videoDefinition",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["any", "standard", "high"]
            },
            "description": "Filter on the definition of the videos."
          },
          {
            "name": "forContentOwner",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Search owned by a content owner."
          },
          {
            "name": "videoType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["videoTypeUnspecified", "any", "movie", "episode"]
            },
            "description": "Filter on videos of a specific type."
          },
          {
            "name": "topicId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Restrict results to a particular topic."
          },
          {
            "name": "videoLicense",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["any", "youtube", "creativeCommon"]
            },
            "description": "Filter on the license of the videos."
          },
          {
            "name": "videoCategoryId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter on videos in a specific category."
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "uint32",
              "minimum": 0,
              "maximum": 50,
              "default": 5
            },
            "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
          },
          {
            "name": "videoSyndicated",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["videoSyndicatedUnspecified", "any", "true"]
            },
            "description": "Filter on syndicated videos."
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Textual search terms to match."
          },
          {
            "name": "part",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The *part* parameter specifies a comma-separated list of one or more search resource properties that the API response will include. Set the parameter value to snippet.",
            "required": true,
            "style": "form",
            "explode": false
          },
          {
            "name": "channelId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter on resources belonging to this channelId. (Force TAP rebuild)"
          },
          {
            "name": "safeSearch",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "safeSearchSettingUnspecified",
                "none",
                "moderate",
                "strict"
              ],
              "default": "moderate"
            },
            "description": "Indicates whether the search results should include restricted content as well as standard content."
          },
          {
            "name": "videoDimension",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["any", "2d", "3d"]
            },
            "description": "Filter on 3d videos."
          },
          {
            "name": "videoCaption",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "videoCaptionUnspecified",
                "any",
                "closedCaption",
                "none"
              ]
            },
            "description": "Filter on the presence of captions on the videos."
          },
          {
            "name": "videoDuration",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "videoDurationUnspecified",
                "any",
                "short",
                "medium",
                "long"
              ]
            },
            "description": "Filter on the duration of the videos."
          },
          {
            "name": "videoPaidProductPlacement",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["videoPaidProductPlacementUnspecified", "any", "true"]
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
          },
          {
            "name": "eventType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["none", "upcoming", "live", "completed"]
            },
            "description": "Filter on the livestream status of the videos."
          },
          {
            "name": "channelType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["channelTypeUnspecified", "any", "show"]
            },
            "description": "Add a filter on the channel search."
          },
          {
            "name": "relevanceLanguage",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Return results relevant to this language."
          },
          {
            "name": "publishedBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter on resources published before this date."
          },
          {
            "name": "forDeveloper",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Restrict the search to only retrieve videos uploaded using the project id of the authenticated user."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/youtube",
              "https://www.googleapis.com/auth/youtube.force-ssl",
              "https://www.googleapis.com/auth/youtube.readonly",
              "https://www.googleapis.com/auth/youtubepartner"
            ]
          }
        ]
      }
    },
    "/videos": {
      "get": {
        "tags": ["videos"],
        "operationId": "youtube.videos.list",
        "description": "Retrieves a list of resources, possibly filtered.",
        "parameters": [
          {
            "name": "regionCode",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Use a chart that is specific to the specified region"
          },
          {
            "name": "maxWidth",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 72,
              "maximum": 8192
            },
            "description": "Return the player with maximum height specified in"
          },
          {
            "name": "locale",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "myRating",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["none", "like", "dislike"]
            },
            "description": "Return videos liked/disliked by the authenticated user. Does not support RateType.RATED_TYPE_NONE."
          },
          {
            "name": "hl",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Stands for \"host language\". Specifies the localization language of the metadata to be filled into snippet.localized. The field is filled with the default metadata if there is no localization in the specified language. The parameter value must be a language code included in the list returned by the i18nLanguages.list method (e.g. en_US, es_MX)."
          },
          {
            "name": "chart",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["chartUnspecified", "mostPopular"]
            },
            "description": "Return the videos that are in the specified chart."
          },
          {
            "name": "onBehalfOfContentOwner",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Return videos with the given ids.",
            "style": "form",
            "explode": false
          },
          {
            "name": "maxHeight",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 72,
              "maximum": 8192
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "uint32",
              "minimum": 1,
              "maximum": 50,
              "default": 5
            },
            "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set. *Note:* This parameter is supported for use in conjunction with the myRating and chart parameters, but it is not supported for use in conjunction with the id parameter."
          },
          {
            "name": "videoCategoryId",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "0"
            },
            "description": "Use chart that is specific to the specified video category"
          },
          {
            "name": "part",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The *part* parameter specifies a comma-separated list of one or more video resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a video resource, the snippet property contains the channelId, title, description, tags, and categoryId properties. As such, if you set *part=snippet*, the API response will contain all of those properties.",
            "required": true,
            "style": "form",
            "explode": false
          },
          {
            "name": "pageToken",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved. *Note:* This parameter is supported for use in conjunction with the myRating and chart parameters, but it is not supported for use in conjunction with the id parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/youtube",
              "https://www.googleapis.com/auth/youtube.force-ssl",
              "https://www.googleapis.com/auth/youtube.readonly",
              "https://www.googleapis.com/auth/youtubepartner"
            ]
          }
        ]
      }
    },
    "/channels": {
      "get": {
        "tags": ["channels"],
        "operationId": "youtube.channels.list",
        "description": "Retrieves a list of resources, possibly filtered.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Return the channels with the specified IDs.",
            "style": "form",
            "explode": false
          },
          {
            "name": "hl",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Stands for \"host language\". Specifies the localization language of the metadata to be filled into snippet.localized. The field is filled with the default metadata if there is no localization in the specified language. The parameter value must be a language code included in the list returned by the i18nLanguages.list method (e.g. en_US, es_MX)."
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "uint32",
              "minimum": 0,
              "maximum": 50,
              "default": 5
            },
            "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
          },
          {
            "name": "forHandle",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Return the channel associated with a YouTube handle."
          },
          {
            "name": "part",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The *part* parameter specifies a comma-separated list of one or more channel resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channel resource, the contentDetails property contains other properties, such as the uploads properties. As such, if you set *part=contentDetails*, the API response will also contain all of those nested properties.",
            "required": true,
            "style": "form",
            "explode": false
          },
          {
            "name": "categoryId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Return the channels within the specified guide category ID."
          },
          {
            "name": "mySubscribers",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Return the channels subscribed to the authenticated user"
          },
          {
            "name": "managedByMe",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Return the channels managed by the authenticated user."
          },
          {
            "name": "forUsername",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Return the channel associated with a YouTube username."
          },
          {
            "name": "onBehalfOfContentOwner",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
          },
          {
            "name": "pageToken",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
          },
          {
            "name": "mine",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Return the ids of channels owned by the authenticated user."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/youtube",
              "https://www.googleapis.com/auth/youtube.force-ssl",
              "https://www.googleapis.com/auth/youtube.readonly",
              "https://www.googleapis.com/auth/youtubepartner",
              "https://www.googleapis.com/auth/youtubepartner-channel-audit"
            ]
          }
        ]
      }
    },
    "/playlists": {
      "get": {
        "tags": ["playlists"],
        "operationId": "youtube.playlists.list",
        "description": "Retrieves a list of resources, possibly filtered.",
        "parameters": [
          {
            "name": "channelId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Return the playlists owned by the specified channel ID."
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Return the playlists with the given IDs for Stubby or Apiary.",
            "style": "form",
            "explode": false
          },
          {
            "name": "hl",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Return content in specified language"
          },
          {
            "name": "part",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The *part* parameter specifies a comma-separated list of one or more playlist resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlist resource, the snippet property contains properties like author, title, description, tags, and timeCreated. As such, if you set *part=snippet*, the API response will contain all of those properties.",
            "required": true,
            "style": "form",
            "explode": false
          },
          {
            "name": "onBehalfOfContentOwner",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
          },
          {
            "name": "pageToken",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
          },
          {
            "name": "mine",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Return the playlists owned by the authenticated user."
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "uint32",
              "minimum": 0,
              "maximum": 50,
              "default": 5
            },
            "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
          },
          {
            "name": "onBehalfOfContentOwnerChannel",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaylistListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/youtube",
              "https://www.googleapis.com/auth/youtube.force-ssl",
              "https://www.googleapis.com/auth/youtube.readonly",
              "https://www.googleapis.com/auth/youtubepartner"
            ]
          }
        ]
      },
      "post": {
        "tags": ["playlists"],
        "operationId": "youtube.playlists.insert",
        "description": "Inserts a new resource into this collection.",
        "parameters": [
          {
            "name": "part",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
            "required": true,
            "style": "form",
            "explode": false
          },
          {
            "name": "onBehalfOfContentOwnerChannel",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
          },
          {
            "name": "onBehalfOfContentOwner",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Playlist"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Playlist"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/youtube",
              "https://www.googleapis.com/auth/youtube.force-ssl",
              "https://www.googleapis.com/auth/youtubepartner"
            ]
          }
        ]
      },
      "delete": {
        "tags": ["playlists"],
        "operationId": "youtube.playlists.delete",
        "description": "Deletes a resource.",
        "parameters": [
          {
            "name": "onBehalfOfContentOwner",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/youtube",
              "https://www.googleapis.com/auth/youtube.force-ssl",
              "https://www.googleapis.com/auth/youtubepartner"
            ]
          }
        ]
      }
    },
    "/playlistItems": {
      "get": {
        "tags": ["playlistItems"],
        "operationId": "youtube.playlistItems.list",
        "description": "Retrieves a list of resources, possibly filtered.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "videoId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Return the playlist items associated with the given video ID."
          },
          {
            "name": "part",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The *part* parameter specifies a comma-separated list of one or more playlistItem resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlistItem resource, the snippet property contains numerous fields, including the title, description, position, and resourceId properties. As such, if you set *part=snippet*, the API response will contain all of those properties.",
            "required": true,
            "style": "form",
            "explode": false
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "uint32",
              "minimum": 0,
              "maximum": 50,
              "default": 5
            },
            "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
          },
          {
            "name": "pageToken",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
          },
          {
            "name": "onBehalfOfContentOwner",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
          },
          {
            "name": "playlistId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Return the playlist items within the given playlist."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaylistItemListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/youtube",
              "https://www.googleapis.com/auth/youtube.force-ssl",
              "https://www.googleapis.com/auth/youtube.readonly",
              "https://www.googleapis.com/auth/youtubepartner"
            ]
          }
        ]
      },
      "post": {
        "tags": ["playlistItems"],
        "operationId": "youtube.playlistItems.insert",
        "description": "Inserts a new resource into this collection.",
        "parameters": [
          {
            "name": "part",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
            "required": true,
            "style": "form",
            "explode": false
          },
          {
            "name": "onBehalfOfContentOwner",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaylistItem"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaylistItem"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/youtube",
              "https://www.googleapis.com/auth/youtube.force-ssl",
              "https://www.googleapis.com/auth/youtubepartner"
            ]
          }
        ]
      },
      "delete": {
        "tags": ["playlistItems"],
        "operationId": "youtube.playlistItems.delete",
        "description": "Deletes a resource.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "onBehalfOfContentOwner",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
          }
        ],
        "responses": {
          "204": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/youtube",
              "https://www.googleapis.com/auth/youtube.force-ssl",
              "https://www.googleapis.com/auth/youtubepartner"
            ]
          }
        ]
      }
    },
    "/subscriptions": {
      "get": {
        "tags": ["subscriptions"],
        "operationId": "youtube.subscriptions.list",
        "description": "Retrieves a list of resources, possibly filtered.",
        "parameters": [
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "subscriptionOrderUnspecified",
                "relevance",
                "unread",
                "alphabetical"
              ],
              "default": "relevance"
            },
            "description": "The order of the returned subscriptions"
          },
          {
            "name": "myRecentSubscribers",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "part",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The *part* parameter specifies a comma-separated list of one or more subscription resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a subscription resource, the snippet property contains other properties, such as a display title for the subscription. If you set *part=snippet*, the API response will also contain all of those nested properties.",
            "required": true,
            "style": "form",
            "explode": false
          },
          {
            "name": "mySubscribers",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Return the subscribers of the given channel owner."
          },
          {
            "name": "pageToken",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
          },
          {
            "name": "onBehalfOfContentOwner",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Return the subscriptions with the given IDs for Stubby or Apiary.",
            "style": "form",
            "explode": false
          },
          {
            "name": "onBehalfOfContentOwnerChannel",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
          },
          {
            "name": "mine",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Flag for returning the subscriptions of the authenticated user."
          },
          {
            "name": "channelId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Return the subscriptions of the given channel owner."
          },
          {
            "name": "forChannelId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Return the subscriptions to the subset of these channels that the authenticated user is subscribed to."
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "uint32",
              "minimum": 0,
              "maximum": 50,
              "default": 5
            },
            "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/youtube",
              "https://www.googleapis.com/auth/youtube.force-ssl",
              "https://www.googleapis.com/auth/youtube.readonly",
              "https://www.googleapis.com/auth/youtubepartner"
            ]
          }
        ]
      },
      "post": {
        "tags": ["subscriptions"],
        "operationId": "youtube.subscriptions.insert",
        "description": "Inserts a new resource into this collection.",
        "parameters": [
          {
            "name": "part",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
            "required": true,
            "style": "form",
            "explode": false
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Subscription"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/youtube",
              "https://www.googleapis.com/auth/youtube.force-ssl",
              "https://www.googleapis.com/auth/youtubepartner"
            ]
          }
        ]
      }
    },
    "/commentThreads": {
      "get": {
        "tags": ["commentThreads"],
        "operationId": "youtube.commentThreads.list",
        "description": "Retrieves a list of resources, possibly filtered.",
        "parameters": [
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["orderUnspecified", "time", "relevance"],
              "default": "time"
            }
          },
          {
            "name": "allThreadsRelatedToChannelId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Returns the comment threads of all videos of the channel and the channel comments as well."
          },
          {
            "name": "pageToken",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
          },
          {
            "name": "postId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Returns the comment threads of the specified post."
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "uint32",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
          },
          {
            "name": "searchTerms",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Limits the returned comment threads to those matching the specified key words. Not compatible with the 'id' filter."
          },
          {
            "name": "moderationStatus",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["published", "heldForReview", "likelySpam", "rejected"],
              "default": "published"
            },
            "description": "Limits the returned comment threads to those with the specified moderation status. Not compatible with the 'id' filter. Valid values: published, heldForReview, likelySpam."
          },
          {
            "name": "part",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The *part* parameter specifies a comma-separated list of one or more commentThread resource properties that the API response will include.",
            "required": true,
            "style": "form",
            "explode": false
          },
          {
            "name": "textFormat",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["textFormatUnspecified", "html", "plainText"],
              "default": "html"
            },
            "description": "The requested text format for the returned comments."
          },
          {
            "name": "channelId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Returns the comment threads for all the channel comments (ie does not include comments left on videos)."
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Returns the comment threads with the given IDs for Stubby or Apiary.",
            "style": "form",
            "explode": false
          },
          {
            "name": "videoId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Returns the comment threads of the specified video."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentThreadListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "OAuth2": ["https://www.googleapis.com/auth/youtube.force-ssl"]
          }
        ]
      }
    },
    "/videoCategories": {
      "get": {
        "tags": ["videoCategories"],
        "operationId": "youtube.videoCategories.list",
        "description": "Retrieves a list of resources, possibly filtered.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Returns the video categories with the given IDs for Stubby or Apiary.",
            "style": "form",
            "explode": false
          },
          {
            "name": "hl",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "regionCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "part",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The *part* parameter specifies the videoCategory resource properties that the API response will include. Set the parameter value to snippet.",
            "required": true,
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoCategoryListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "OAuth2": [
              "https://www.googleapis.com/auth/youtube",
              "https://www.googleapis.com/auth/youtube.force-ssl",
              "https://www.googleapis.com/auth/youtube.readonly",
              "https://www.googleapis.com/auth/youtubepartner"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "SearchListResponse": {
        "properties": {
          "eventId": {
            "type": "string",
            "description": "Serialized EventId of the request which produced this response."
          },
          "etag": {
            "type": "string",
            "description": "Etag of this resource."
          },
          "pageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          },
          "visitorId": {
            "description": "The visitor ID identifies the visitor.",
            "type": "string"
          },
          "nextPageToken": {
            "type": "string",
            "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
          },
          "tokenPagination": {
            "$ref": "#/components/schemas/TokenPagination"
          },
          "items": {
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            },
            "description": "Pagination information for token pagination.",
            "type": "array"
          },
          "regionCode": {
            "type": "string"
          },
          "kind": {
            "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#searchListResponse\".",
            "default": "youtube#searchListResponse",
            "type": "string"
          },
          "prevPageToken": {
            "type": "string",
            "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
          }
        },
        "type": "object"
      },
      "VideoListResponse": {
        "type": "object",
        "properties": {
          "tokenPagination": {
            "$ref": "#/components/schemas/TokenPagination"
          },
          "kind": {
            "default": "youtube#videoListResponse",
            "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoListResponse\".",
            "type": "string"
          },
          "eventId": {
            "description": "Serialized EventId of the request which produced this response.",
            "type": "string",
            "deprecated": true
          },
          "visitorId": {
            "description": "The visitorId identifies the visitor.",
            "deprecated": true,
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Video"
            }
          },
          "pageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          },
          "prevPageToken": {
            "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
            "type": "string"
          },
          "nextPageToken": {
            "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
            "type": "string"
          },
          "etag": {
            "type": "string",
            "description": "Etag of this resource."
          }
        }
      },
      "ChannelListResponse": {
        "type": "object",
        "properties": {
          "visitorId": {
            "description": "The visitorId identifies the visitor.",
            "type": "string",
            "deprecated": true
          },
          "items": {
            "items": {
              "$ref": "#/components/schemas/Channel"
            },
            "type": "array"
          },
          "prevPageToken": {
            "type": "string",
            "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
          },
          "nextPageToken": {
            "type": "string",
            "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
          },
          "kind": {
            "default": "youtube#channelListResponse",
            "type": "string",
            "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelListResponse\"."
          },
          "pageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          },
          "eventId": {
            "deprecated": true,
            "description": "Serialized EventId of the request which produced this response.",
            "type": "string"
          },
          "etag": {
            "description": "Etag of this resource.",
            "type": "string"
          },
          "tokenPagination": {
            "$ref": "#/components/schemas/TokenPagination"
          }
        }
      },
      "PlaylistListResponse": {
        "properties": {
          "nextPageToken": {
            "type": "string",
            "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
          },
          "items": {
            "items": {
              "$ref": "#/components/schemas/Playlist"
            },
            "description": "A list of playlists that match the request criteria",
            "type": "array"
          },
          "kind": {
            "type": "string",
            "default": "youtube#playlistListResponse",
            "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistListResponse\"."
          },
          "prevPageToken": {
            "type": "string",
            "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
          },
          "visitorId": {
            "description": "The visitorId identifies the visitor.",
            "type": "string",
            "deprecated": true
          },
          "eventId": {
            "description": "Serialized EventId of the request which produced this response.",
            "deprecated": true,
            "type": "string"
          },
          "tokenPagination": {
            "$ref": "#/components/schemas/TokenPagination"
          },
          "pageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          },
          "etag": {
            "description": "Etag of this resource.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Playlist": {
        "properties": {
          "snippet": {
            "$ref": "#/components/schemas/PlaylistSnippet"
          },
          "player": {
            "$ref": "#/components/schemas/PlaylistPlayer"
          },
          "etag": {
            "description": "Etag of this resource.",
            "type": "string"
          },
          "localizations": {
            "type": "object",
            "description": "Localizations for different languages",
            "additionalProperties": {
              "$ref": "#/components/schemas/PlaylistLocalization"
            }
          },
          "contentDetails": {
            "$ref": "#/components/schemas/PlaylistContentDetails"
          },
          "kind": {
            "default": "youtube#playlist",
            "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlist\".",
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/PlaylistStatus"
          }
        },
        "description": "A *playlist* resource represents a YouTube playlist. A playlist is a collection of videos that can be viewed sequentially and shared with other users. A playlist can contain up to 200 videos, and YouTube does not limit the number of playlists that each user creates. By default, playlists are publicly visible to other users, but playlists can be public or private. YouTube also uses playlists to identify special collections of videos for a channel, such as: - uploaded videos - favorite videos - positively rated (liked) videos - watch history - watch later To be more specific, these lists are associated with a channel, which is a collection of a person, group, or company's videos, playlists, and other YouTube information. You can retrieve the playlist IDs for each of these lists from the channel resource for a given channel. You can then use the playlistItems.list method to retrieve any of those lists. You can also add or remove items from those lists by calling the playlistItems.insert and playlistItems.delete methods.",
        "type": "object"
      },
      "PlaylistItemListResponse": {
        "properties": {
          "kind": {
            "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistItemListResponse\".",
            "default": "youtube#playlistItemListResponse",
            "type": "string"
          },
          "tokenPagination": {
            "$ref": "#/components/schemas/TokenPagination"
          },
          "pageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          },
          "items": {
            "items": {
              "$ref": "#/components/schemas/PlaylistItem"
            },
            "description": "A list of playlist items that match the request criteria.",
            "type": "array"
          },
          "eventId": {
            "type": "string",
            "description": "Serialized EventId of the request which produced this response."
          },
          "prevPageToken": {
            "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
            "type": "string"
          },
          "visitorId": {
            "type": "string",
            "description": "The visitorId identifies the visitor."
          },
          "nextPageToken": {
            "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
            "type": "string"
          },
          "etag": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "PlaylistItem": {
        "description": "A *playlistItem* resource identifies another resource, such as a video, that is included in a playlist. In addition, the playlistItem resource contains details about the included resource that pertain specifically to how that resource is used in that playlist. YouTube uses playlists to identify special collections of videos for a channel, such as: - uploaded videos - favorite videos - positively rated (liked) videos - watch history - watch later To be more specific, these lists are associated with a channel, which is a collection of a person, group, or company's videos, playlists, and other YouTube information. You can retrieve the playlist IDs for each of these lists from the channel resource for a given channel. You can then use the playlistItems.list method to retrieve any of those lists. You can also add or remove items from those lists by calling the playlistItems.insert and playlistItems.delete methods. For example, if a user gives a positive rating to a video, you would insert that video into the liked videos playlist for that user's channel.",
        "type": "object",
        "properties": {
          "kind": {
            "default": "youtube#playlistItem",
            "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistItem\".",
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/PlaylistItemStatus"
          },
          "snippet": {
            "$ref": "#/components/schemas/PlaylistItemSnippet"
          },
          "etag": {
            "type": "string",
            "description": "Etag of this resource."
          },
          "contentDetails": {
            "$ref": "#/components/schemas/PlaylistItemContentDetails"
          }
        }
      },
      "SubscriptionListResponse": {
        "type": "object",
        "properties": {
          "nextPageToken": {
            "type": "string",
            "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
          },
          "etag": {
            "type": "string",
            "description": "Etag of this resource."
          },
          "pageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          },
          "prevPageToken": {
            "type": "string",
            "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
          },
          "eventId": {
            "description": "Serialized EventId of the request which produced this response.",
            "type": "string",
            "deprecated": true
          },
          "visitorId": {
            "type": "string",
            "description": "The visitorId identifies the visitor.",
            "deprecated": true
          },
          "items": {
            "type": "array",
            "description": "A list of subscriptions that match the request criteria.",
            "items": {
              "$ref": "#/components/schemas/Subscription"
            }
          },
          "tokenPagination": {
            "$ref": "#/components/schemas/TokenPagination"
          },
          "kind": {
            "type": "string",
            "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#subscriptionListResponse\".",
            "default": "youtube#subscriptionListResponse"
          }
        }
      },
      "Subscription": {
        "description": "A *subscription* resource contains information about a YouTube user subscription. A subscription notifies a user when new videos are added to a channel or when another user takes one of several actions on YouTube, such as uploading a video, rating a video, or commenting on a video.",
        "type": "object",
        "properties": {
          "etag": {
            "type": "string",
            "description": "Etag of this resource."
          },
          "subscriberSnippet": {
            "$ref": "#/components/schemas/SubscriptionSubscriberSnippet"
          },
          "contentDetails": {
            "$ref": "#/components/schemas/SubscriptionContentDetails"
          },
          "kind": {
            "type": "string",
            "default": "youtube#subscription",
            "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#subscription\"."
          },
          "snippet": {
            "$ref": "#/components/schemas/SubscriptionSnippet"
          }
        }
      },
      "CommentThreadListResponse": {
        "type": "object",
        "properties": {
          "nextPageToken": {
            "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
            "type": "string"
          },
          "tokenPagination": {
            "$ref": "#/components/schemas/TokenPagination"
          },
          "items": {
            "items": {
              "$ref": "#/components/schemas/CommentThread"
            },
            "type": "array",
            "description": "A list of comment threads that match the request criteria."
          },
          "pageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          },
          "kind": {
            "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentThreadListResponse\".",
            "default": "youtube#commentThreadListResponse",
            "type": "string"
          },
          "visitorId": {
            "type": "string",
            "description": "The visitorId identifies the visitor.",
            "deprecated": true
          },
          "eventId": {
            "type": "string",
            "deprecated": true,
            "description": "Serialized EventId of the request which produced this response."
          },
          "etag": {
            "description": "Etag of this resource.",
            "type": "string"
          }
        }
      },
      "VideoCategoryListResponse": {
        "type": "object",
        "properties": {
          "etag": {
            "type": "string",
            "description": "Etag of this resource."
          },
          "nextPageToken": {
            "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
            "type": "string"
          },
          "prevPageToken": {
            "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
            "type": "string"
          },
          "kind": {
            "default": "youtube#videoCategoryListResponse",
            "type": "string",
            "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoCategoryListResponse\"."
          },
          "eventId": {
            "deprecated": true,
            "description": "Serialized EventId of the request which produced this response.",
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VideoCategory"
            },
            "description": "A list of video categories that can be associated with YouTube videos. In this map, the video category ID is the map key, and its value is the corresponding videoCategory resource."
          },
          "pageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          },
          "tokenPagination": {
            "$ref": "#/components/schemas/TokenPagination"
          },
          "visitorId": {
            "description": "The visitorId identifies the visitor.",
            "type": "string",
            "deprecated": true
          }
        }
      },
      "PageInfo": {
        "properties": {
          "totalResults": {
            "type": "integer",
            "description": "The total number of results in the result set.",
            "format": "int32"
          },
          "resultsPerPage": {
            "description": "The number of results included in the API response.",
            "type": "integer",
            "format": "int32"
          }
        },
        "type": "object",
        "description": "Paging details for lists of resources, including total number of items available and number of resources returned in a single page."
      },
      "TokenPagination": {
        "type": "object",
        "description": "Stub token pagination template to suppress results.",
        "properties": {}
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "etag": {
            "description": "Etag of this resource.",
            "type": "string"
          },
          "kind": {
            "type": "string",
            "default": "youtube#searchResult",
            "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#searchResult\"."
          },
          "snippet": {
            "$ref": "#/components/schemas/SearchResultSnippet"
          }
        },
        "description": "A search result contains information about a YouTube video, channel, or playlist that matches the search parameters specified in an API request. While a search result points to a uniquely identifiable resource, like a video, it does not have its own persistent data."
      },
      "Video": {
        "type": "object",
        "description": "A *video* resource represents a YouTube video.",
        "properties": {
          "liveStreamingDetails": {
            "$ref": "#/components/schemas/VideoLiveStreamingDetails"
          },
          "ageGating": {
            "$ref": "#/components/schemas/VideoAgeGating"
          },
          "brandPartner": {
            "$ref": "#/components/schemas/BrandPartner"
          },
          "snippet": {
            "$ref": "#/components/schemas/VideoSnippet"
          },
          "localizations": {
            "additionalProperties": {
              "$ref": "#/components/schemas/VideoLocalization"
            },
            "description": "The localizations object contains localized versions of the basic details about the video, such as its title and description.",
            "type": "object"
          },
          "processingDetails": {
            "$ref": "#/components/schemas/VideoProcessingDetails"
          },
          "etag": {
            "description": "Etag of this resource.",
            "type": "string"
          },
          "statistics": {
            "$ref": "#/components/schemas/VideoStatistics"
          },
          "status": {
            "$ref": "#/components/schemas/VideoStatus"
          },
          "projectDetails": {
            "$ref": "#/components/schemas/VideoProjectDetails"
          },
          "suggestions": {
            "$ref": "#/components/schemas/VideoSuggestions"
          },
          "player": {
            "$ref": "#/components/schemas/VideoPlayer"
          },
          "contentDetails": {
            "$ref": "#/components/schemas/VideoContentDetails"
          },
          "kind": {
            "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#video\".",
            "default": "youtube#video",
            "type": "string"
          },
          "monetizationDetails": {
            "$ref": "#/components/schemas/VideoMonetizationDetails"
          },
          "recordingDetails": {
            "$ref": "#/components/schemas/VideoRecordingDetails"
          },
          "topicDetails": {
            "$ref": "#/components/schemas/VideoTopicDetails"
          },
          "paidProductPlacementDetails": {
            "$ref": "#/components/schemas/VideoPaidProductPlacementDetails"
          },
          "fileDetails": {
            "$ref": "#/components/schemas/VideoFileDetails"
          }
        }
      },
      "Channel": {
        "description": "A *channel* resource contains information about a YouTube channel.",
        "type": "object",
        "properties": {
          "snippet": {
            "$ref": "#/components/schemas/ChannelSnippet"
          },
          "auditDetails": {
            "$ref": "#/components/schemas/ChannelAuditDetails"
          },
          "statistics": {
            "$ref": "#/components/schemas/ChannelStatistics"
          },
          "etag": {
            "description": "Etag of this resource.",
            "type": "string"
          },
          "topicDetails": {
            "$ref": "#/components/schemas/ChannelTopicDetails"
          },
          "brandingSettings": {
            "$ref": "#/components/schemas/ChannelBrandingSettings"
          },
          "contentOwnerDetails": {
            "$ref": "#/components/schemas/ChannelContentOwnerDetails"
          },
          "kind": {
            "type": "string",
            "default": "youtube#channel",
            "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channel\"."
          },
          "status": {
            "$ref": "#/components/schemas/ChannelStatus"
          },
          "localizations": {
            "additionalProperties": {
              "$ref": "#/components/schemas/ChannelLocalization"
            },
            "type": "object",
            "description": "Localizations for different languages"
          },
          "contentDetails": {
            "$ref": "#/components/schemas/ChannelContentDetails"
          },
          "conversionPings": {
            "$ref": "#/components/schemas/ChannelConversionPings"
          }
        }
      },
      "PlaylistSnippet": {
        "properties": {
          "publishedAt": {
            "description": "The date and time that the playlist was created.",
            "format": "date-time",
            "type": "string"
          },
          "thumbnails": {
            "$ref": "#/components/schemas/ThumbnailDetails"
          },
          "channelId": {
            "description": "The ID that YouTube uses to uniquely identify the channel that published the playlist.",
            "type": "string"
          },
          "thumbnailVideoId": {
            "description": "Note: if the playlist has a custom thumbnail, this field will not be populated. The video id selected by the user that will be used as the thumbnail of this playlist. This field defaults to the first publicly viewable video in the playlist, if: 1. The user has never selected a video to be the thumbnail of the playlist. 2. The user selects a video to be the thumbnail, and then removes that video from the playlist. 3. The user selects a non-owned video to be the thumbnail, but that video becomes private, or gets deleted.",
            "type": "string"
          },
          "description": {
            "type": "string",
            "description": "The playlist's description."
          },
          "tags": {
            "description": "Keyword tags associated with the playlist.",
            "type": "array",
            "deprecated": true,
            "items": {
              "type": "string"
            }
          },
          "localized": {
            "$ref": "#/components/schemas/PlaylistLocalization"
          },
          "channelTitle": {
            "description": "The channel title of the channel that the video belongs to.",
            "type": "string"
          },
          "defaultLanguage": {
            "type": "string",
            "description": "The language of the playlist's default title and description."
          },
          "title": {
            "type": "string",
            "description": "The playlist's title."
          }
        },
        "description": "Basic details about a playlist, including title, description and thumbnails.",
        "type": "object"
      },
      "PlaylistPlayer": {
        "type": "object",
        "properties": {
          "embedHtml": {
            "type": "string",
            "description": "An <iframe> tag that embeds a player that will play the playlist."
          }
        }
      },
      "PlaylistLocalization": {
        "properties": {
          "title": {
            "type": "string",
            "description": "The localized strings for playlist's title."
          },
          "description": {
            "type": "string",
            "description": "The localized strings for playlist's description."
          }
        },
        "type": "object",
        "description": "Playlist localization setting"
      },
      "PlaylistContentDetails": {
        "type": "object",
        "properties": {
          "itemCount": {
            "description": "The number of videos in the playlist.",
            "format": "uint32",
            "type": "integer"
          }
        }
      },
      "PlaylistStatus": {
        "type": "object",
        "properties": {
          "privacyStatus": {
            "description": "The playlist's privacy status.",
            "type": "string",
            "enum": ["public", "unlisted", "private"]
          },
          "podcastStatus": {
            "type": "string",
            "enum": ["enabled", "disabled"],
            "description": "The playlist's podcast status."
          }
        }
      },
      "PlaylistItemStatus": {
        "type": "object",
        "properties": {
          "privacyStatus": {
            "description": "This resource's privacy status.",
            "type": "string",
            "enum": ["public", "unlisted", "private"]
          }
        },
        "description": "Information about the playlist item's privacy status."
      },
      "PlaylistItemSnippet": {
        "properties": {
          "videoOwnerChannelId": {
            "description": "Channel id for the channel this video belongs to.",
            "type": "string"
          },
          "channelId": {
            "type": "string",
            "description": "The ID that YouTube uses to uniquely identify the user that added the item to the playlist."
          },
          "channelTitle": {
            "description": "Channel title for the channel that the playlist item belongs to.",
            "type": "string"
          },
          "playlistId": {
            "description": "The ID that YouTube uses to uniquely identify thGe playlist that the playlist item is in.",
            "type": "string"
          },
          "videoOwnerChannelTitle": {
            "type": "string",
            "description": "Channel title for the channel this video belongs to."
          },
          "description": {
            "description": "The item's description.",
            "type": "string"
          },
          "resourceId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "title": {
            "type": "string",
            "description": "The item's title."
          },
          "thumbnails": {
            "$ref": "#/components/schemas/ThumbnailDetails"
          },
          "publishedAt": {
            "description": "The date and time that the item was added to the playlist.",
            "format": "date-time",
            "type": "string"
          },
          "position": {
            "description": "The order in which the item appears in the playlist. The value uses a zero-based index, so the first item has a position of 0, the second item has a position of 1, and so forth.",
            "type": "integer",
            "format": "uint32"
          }
        },
        "type": "object",
        "description": "Basic details about a playlist, including title, description and thumbnails. Basic details of a YouTube Playlist item provided by the author. Next ID: 15"
      },
      "PlaylistItemContentDetails": {
        "type": "object",
        "properties": {
          "endAt": {
            "deprecated": true,
            "description": "The time, measured in seconds from the start of the video, when the video should stop playing. (The playlist owner can specify the times when the video should start and stop playing when the video is played in the context of the playlist.) By default, assume that the video.endTime is the end of the video.",
            "type": "string"
          },
          "note": {
            "description": "A user-generated note for this item.",
            "type": "string"
          },
          "startAt": {
            "description": "The time, measured in seconds from the start of the video, when the video should start playing. (The playlist owner can specify the times when the video should start and stop playing when the video is played in the context of the playlist.) The default value is 0.",
            "deprecated": true,
            "type": "string"
          },
          "videoPublishedAt": {
            "format": "date-time",
            "type": "string",
            "description": "The date and time that the video was published to YouTube."
          },
          "videoId": {
            "description": "The ID that YouTube uses to uniquely identify a video. To retrieve the video resource, set the id query parameter to this value in your API request.",
            "type": "string"
          }
        }
      },
      "SubscriptionSubscriberSnippet": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The channel ID of the subscriber."
          },
          "thumbnails": {
            "$ref": "#/components/schemas/ThumbnailDetails"
          },
          "title": {
            "type": "string",
            "description": "The title of the subscriber."
          },
          "description": {
            "description": "The description of the subscriber.",
            "type": "string"
          }
        },
        "description": "Basic details about a subscription's subscriber including title, description, channel ID and thumbnails."
      },
      "SubscriptionContentDetails": {
        "type": "object",
        "properties": {
          "newItemCount": {
            "format": "uint32",
            "description": "The number of new items in the subscription since its content was last read.",
            "type": "integer"
          },
          "activityType": {
            "description": "The type of activity this subscription is for (only uploads, everything).",
            "type": "string",
            "enum": ["subscriptionActivityTypeUnspecified", "all", "uploads"]
          },
          "totalItemCount": {
            "format": "uint32",
            "type": "integer",
            "description": "The approximate number of items that the subscription points to."
          }
        },
        "description": "Details about the content to witch a subscription refers."
      },
      "SubscriptionSnippet": {
        "type": "object",
        "properties": {
          "thumbnails": {
            "$ref": "#/components/schemas/ThumbnailDetails"
          },
          "publishedAt": {
            "description": "The date and time that the subscription was created.",
            "type": "string",
            "format": "date-time"
          },
          "title": {
            "description": "The subscription's title.",
            "type": "string"
          },
          "description": {
            "description": "The subscription's details.",
            "type": "string"
          },
          "resourceId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "channelId": {
            "type": "string",
            "description": "The ID that YouTube uses to uniquely identify the subscriber's channel."
          }
        },
        "description": "Basic details about a subscription, including title, description and thumbnails of the subscribed item."
      },
      "CommentThread": {
        "description": "A *comment thread* represents information that applies to a top level comment and all its replies. It can also include the top level comment itself and some of the replies.",
        "properties": {
          "snippet": {
            "$ref": "#/components/schemas/CommentThreadSnippet"
          },
          "kind": {
            "default": "youtube#commentThread",
            "type": "string",
            "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentThread\"."
          },
          "replies": {
            "$ref": "#/components/schemas/CommentThreadReplies"
          },
          "etag": {
            "description": "Etag of this resource.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "VideoCategory": {
        "properties": {
          "etag": {
            "type": "string",
            "description": "Etag of this resource."
          },
          "kind": {
            "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoCategory\".",
            "default": "youtube#videoCategory",
            "type": "string"
          },
          "snippet": {
            "$ref": "#/components/schemas/VideoCategorySnippet"
          }
        },
        "description": "A *videoCategory* resource identifies a category that has been or could be associated with uploaded videos.",
        "type": "object"
      },
      "SearchResultSnippet": {
        "properties": {
          "liveBroadcastContent": {
            "type": "string",
            "enum": ["none", "upcoming", "live", "completed"],
            "description": "It indicates if the resource (video or channel) has upcoming/active live broadcast content. Or it's \"none\" if there is not any upcoming/active live broadcasts."
          },
          "description": {
            "description": "A description of the search result.",
            "type": "string"
          },
          "thumbnails": {
            "$ref": "#/components/schemas/ThumbnailDetails"
          },
          "title": {
            "type": "string",
            "description": "The title of the search result."
          },
          "publishedAt": {
            "format": "date-time",
            "description": "The creation date and time of the resource that the search result identifies.",
            "type": "string"
          },
          "channelTitle": {
            "description": "The title of the channel that published the resource that the search result identifies.",
            "type": "string"
          },
          "channelId": {
            "description": "The value that YouTube uses to uniquely identify the channel that published the resource that the search result identifies.",
            "type": "string"
          }
        },
        "description": "Basic details about a search result, including title, description and thumbnails of the item referenced by the search result.",
        "type": "object"
      },
      "VideoLiveStreamingDetails": {
        "properties": {
          "actualEndTime": {
            "description": "The time that the broadcast actually ended. This value will not be available until the broadcast is over.",
            "format": "date-time",
            "type": "string"
          },
          "scheduledEndTime": {
            "description": "The time that the broadcast is scheduled to end. If the value is empty or the property is not present, then the broadcast is scheduled to continue indefinitely.",
            "type": "string",
            "format": "date-time"
          },
          "actualStartTime": {
            "description": "The time that the broadcast actually started. This value will not be available until the broadcast begins.",
            "format": "date-time",
            "type": "string"
          },
          "activeLiveChatId": {
            "type": "string",
            "description": "The ID of the currently active live chat attached to this video. This field is filled only if the video is a currently live broadcast that has live chat. Once the broadcast transitions to complete this field will be removed and the live chat closed down. For persistent broadcasts that live chat id will no longer be tied to this video but rather to the new video being displayed at the persistent page."
          },
          "scheduledStartTime": {
            "type": "string",
            "format": "date-time",
            "description": "The time that the broadcast is scheduled to begin."
          },
          "concurrentViewers": {
            "description": "The number of viewers currently watching the broadcast. The property and its value will be present if the broadcast has current viewers and the broadcast owner has not hidden the viewcount for the video. Note that YouTube stops tracking the number of concurrent viewers for a broadcast when the broadcast ends. So, this property would not identify the number of viewers watching an archived video of a live broadcast that already ended.",
            "type": "string",
            "format": "uint64"
          }
        },
        "description": "Details about the live streaming metadata.",
        "type": "object"
      },
      "VideoAgeGating": {
        "properties": {
          "restricted": {
            "description": "Age-restricted trailers. For redband trailers and adult-rated video-games. Only users aged 18+ can view the content. The the field is true the content is restricted to viewers aged 18+. Otherwise The field won't be present.",
            "type": "boolean"
          },
          "videoGameRating": {
            "type": "string",
            "enum": ["anyone", "m15Plus", "m16Plus", "m17Plus"],
            "description": "Video game rating, if any."
          },
          "alcoholContent": {
            "type": "boolean",
            "description": "Indicates whether or not the video has alcoholic beverage content. Only users of legal purchasing age in a particular country, as identified by ICAP, can view the content."
          }
        },
        "type": "object"
      },
      "BrandPartner": {
        "type": "object",
        "description": "Details about the brand partner linked to the video for Creator Initiated Linking (CIL). Next ID: 6",
        "properties": {
          "channelHandle": {
            "type": "string",
            "description": "Required. Channel handle, must begin with \"@\""
          },
          "channelId": {
            "description": "Required. External Channel ID, must begin with \"UC\"",
            "type": "string"
          }
        }
      },
      "VideoSnippet": {
[...]
